<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    {% include './_include/style.html' %}
</head>
<body>

{% include './_include/menu.html' %}

<div class="application-wrapper">

    {% include './_include/header.html' %}

    <div class="content">
        <div class="pure-g search">
            <div class="pure-u-1">
                <form class="pure-form" method="post">
                    <label>
                        <input type="text" class="pure-input" placeholder="Username or Nickname">
                    </label>
                    <input type="hidden" name="_csrf" value="{{ _csrf }}" hidden>
                    <button type="submit" class="pure-button">Search</button>
                </form>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <table class="pure-table table-hover table-wide">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>아이디</th>
                        <th>닉네임</th>
                        <th>레벨</th>
                        <th>권한</th>
                        <th>로그인횟수</th>
                        <th>최근로그인</th>
                        <th>계정생성일</th>
                        <th>정보수정일</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% set cls = cycler("pure-table-odd", "") %}
                    {% for item in list %}
                    <tr class="{{ cls.next() }}">
                        <td>{{totalCount - loop.index0 - (pagination.pageSize * (pagination.page - 1))}}</td>
                        <td>{{item.user_id}}</td>
                        <td>{{item.nickname}}</td>
                        <td>{{item.level}}</td>
                        <td>{{item.grant}}</td>
                        <td>{{item.login_counter}}</td>
                        <td>{{item.last_logged_at}}</td>
                        <td>{{item.created_at}}</td>
                        <td>{{item.updated_at}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                {% if pagination %}
                {% import './_include/pagination.html' as Page %}
                {{ Page.nation(pagination, route.manage_root + route.manage.account) }}
                {% endif %}
            </div>
        </div>
    </div>

    {% include './_include/footer.html' %}

</div>
</body>
</html>