<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    {% include './_include/style.html' %}
</head>
<body>

{% include './_include/menu.html' %}

<div class="application-wrapper">

    {% include './_include/header.html' %}

    <div class="content">
        <div class="pure-g search">
            <div class="pure-u-1">
                <form class="pure-form" method="post" action="{{site.root}}{{ route.manage_root + route.manage.reservationStatus }}" onsubmit="return false;">
                    <label>
                        <input type="text" name="category" class="pure-input-1-5" placeholder="Category number" tabindex="1">
                    </label>
                    <input type="text" name="type" value="add" hidden>
                    <input type="hidden" name="_csrf" value="{{ _csrf }}" hidden>
                    <button type="submit" class="pure-button" tabindex="3">추가</button>
                    <p>
                        <input type="text" name="title" class="pure-input-1" placeholder="Title" tabindex="2">
                        <input type="text" name="sub_title" class="pure-input-1" placeholder="Sub Title" tabindex="2">
                    </p>
                </form>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1 reservation-status">
                <table class="pure-table pure-table-horizontal table-wide">
                    <thead>
                    <tr id="cate_{{ item.id }}" class="toggle-category" data-id="{{ item.id }}">
                        <th width="16px">ID</th>
                        <th>내 용</th>
                        <th width="122px">예약</th>
                        <th width="122px">제한</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in reservationStatus %}
                    <tr id="holder_{{ item.id }}" class="gallery-wrap" data-id="{{ item.id }}">
                        <td data-sort="{{ item.sort }}">{{loop.index}}</td>
                        <td class="title"><a href="{{site.root}}{{ route.manage_root + route.manage.tutorialStatus }}?id={{item.id}}">{{ item.title }}</a><span class="small">{{ item.sub_title }}</span></td>
                        <td>{{ item.counter }}</td>
                        <td>{{item.max_count}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include './_include/footer.html' %}

</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="{{site.manageTheme}}/manage/common/tutorial_status.js"></script>
</body>
</html>