<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    {% include './include/style.html' %}
</head>
<body>

{% include './include/menu.html' %}

<div class="application-wrapper">

    {% include './include/header.html' %}

    <div class="content">
        <div class="pure-g search">
            <div class="pure-u-1">
                <form class="pure-form" method="post">
                    <label>
                        <input type="text" class="pure-input" placeholder="Username or Nickname">
                    </label>
                    <input type="hidden" name="_csrf" value="{{ _csrf }}" hidden>
                    <button type="submit" class="pure-button">Search</button>

                    <a href="{{site.root}}{{ route.manage.root + route.manage.reservationClean }}" class="pure-button pull-right">전체 리스트</a>
                </form>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <table class="pure-table table-hover table-wide">
                    <thead>
                    <tr>
                        <th width="16px">#</th>
                        <th width="86px">성명</th>
                        <th>이메일</th>
                        <th>전화번호</th>
                        <th>추가정보</th>
                        <th>튜토리얼 정보</th>
                        <th width="98px">신청일</th>
                        <th width="102px">갱신일</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% set cls = cycler("pure-table-odd", "") %}
                    {% for item in reservationList %}
                    <tr class="{{ cls.next() }}">
                        <td>{{totalCount - loop.index0 - (pagination.pageSize * (pagination.page - 1))}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.info}}</td>
                        <td>
                            {% if item.status %}
                            {% for item in item.statusInfo %}
                            <i class="fa fa-caret-right" aria-hidden="true"></i> {{ item.title }} <br>
                            {% endfor %}
                            {% else %}

                            {% endif %}
                        </td>
                        <td>{{item.created_at}}</td>
                        <td>{{item.updated_at}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                {% import './include/pagination.html' as Page %}
                {{ Page.nation(pagination, route.manage_root + route.manage.reservation) }}
            </div>
        </div>
    </div>

    {% include './include/footer.html' %}

</div>
</body>
</html>