<!DOCTYPE html>
<html lang="ko">
<head>
    {% include './include/head.html' %}
</head>
<body>

<header id="top" class="header">

    {% include './include/menu.html' %}

    <section id="page_header" class="page-header">
        <h1>PROGRAM</h1>
    </section>
</header>

<section id="program" class="program">
    <div class="container">

        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1">
                <h2>Reception / Keynote</h2>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th class="subject">TIME</th>
                            <th>PROGRAM</th>
                        </tr>
                        <tr>
                            <td>12:30-13:00</td>
                            <td>참가자 등록 및 입장</td>
                        </tr>
                        <tr>
                            <td>13:00-13:10</td>
                            <td>개회사 &nbsp;「정보통신산업진흥원 소프트웨어산업진흥본부장 김태열」 <br>
                                환영사 &nbsp;「과학기술정보통신부 소프트웨어정책과장 최준호」</td>
                        </tr>
                        <tr>
                            <td>13:10-13:30</td>
                            <td>기조연설1 &nbsp;
                                <span class="small">왜 기업에서 OPEN SOURCE를 하는가?</span>&nbsp;
                                <span class="small">「LG전자 SW센터 SW개발전략실 실장 이규은」</span>
                        </tr>
                        <tr>
                            <td>13:30-13:50</td>
                            <td>기조연설2 &nbsp;
                                <span class="small">오픈소스가 산업을 어떻게 바꾸는가?</span>&nbsp;
                                <span class="small">「다음카카오 공용준」</span>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1">
                <h2>Presentation</h2>
                <p class="text-right">
                    <span class="badge badge-secondary" title="Kernel">Kernel</span>
                    <span class="badge badge-primary" title="Web">Web</span>
                    <span class="badge badge-info" title="Platform">Platform</span>
                    <span class="badge badge-success" title="Block-chain">Block-chain</span>
                    <span class="badge badge-warning" title="AI">A.I</span>
                    <span class="badge badge-danger" title="Application">Application</span>
                </p>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th class="subject">TIME</th>
                            <th>TRACK 1</th>
                            <th>TRACK 2</th>
                        </tr>
                        <tr>
                            <td>14:00-14:30</td>
                            <td><a href="/program/presentation#1">Guider: a system-wide performance analyzer</a>
                                <br>
                                <span class="badge badge-danger" title="Application">Application</span>
                                <span class="small">이평화</span>
                            </td>
                            <td><a href="/program/presentation#6">웹의 미래와 현재 - Progressive Web App</a>
                                <br>
                                <span class="badge badge-primary" title="Web">Web</span>
                                <span class="small">장기효</span>
                            </td>
                        </tr>
                        <tr>
                            <td>14:30-15:00</td>
                            <td><a href="/program/presentation#2">리눅스 커널 BPF / XDP 소개 및 튜토리얼</a>
                                <br>
                                <span class="badge badge-secondary" title="Kernel">Kernel</span>
                                <span class="small">송태웅, 유태희</span>
                            </td>
                            <td><a href="/program/presentation#7">P2P messaging using Tox</a>
                                <br>
                                <span class="badge badge-danger" title="Application">Application</span>
                                <span class="small">조남수</span>
                            </td>
                        </tr>
                        <tr>
                            <td>15:00-15:30</td>
                            <td><a href="/program/presentation#3">N-API: Next generation Node.js APIs for native module</a>
                                <br>
                                <span class="badge badge-info" title="Platform">Platform</span>
                                <span class="small">방진호</span>
                            </td>
                            <td><a href="/program/presentation#8">Implementing private blockchain</a>
                                <br>
                                <span class="badge badge-success" title="Block-chain">Block-chain</span>
                                <span class="small">이준범</span>
                            </td>
                        </tr>
                        <tr>
                            <td>15:30-16:00</td>
                            <td><a href="/program/presentation#4">WebXR in Chromium</a>
                                <br>
                                <span class="badge badge-primary" title="Web">Web</span>
                                <span class="small">고병권</span>
                            </td>
                            <td><a href="/program/presentation#9">Backend.AI 소개 및 튜토리얼</a>
                                <br>
                                <span class="badge badge-warning" title="AI">A.I</span>
                                <span class="small">조만석</span>
                            </td>
                        </tr>
                        <tr>
                            <td>16:00-16:30</td>
                            <td><a href="/program/presentation#5">LKMM: Formalized Memory Model for the Linux Kernel</a>
                                <br>
                                <span class="badge badge-secondary" title="Kernel">Kernel</span>
                                <span class="small">박성재</span>
                            </td>
                            <td><a href="/program/presentation#10">webOS OSE에서 Native 앱 & 서비스 개발</a>
                                <br>
                                <span class="badge badge-danger" title="Application">Application</span>
                                <span class="small">고석하</span>
                            </td>
                        </tr>
                        <tr>
                            <td>16:30-17:20</td>
                            <td colspan="2">경품 추첨 및 폐회</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1">
                {#<h2>컨트리뷰톤 &nbsp;<small><a href="https://contributhon.kr/project"><i class="glyphicon glyphicon-link"></i> Contributhon </a></small></h2>#}
                <h2>Contributhon</h2>
                <p class="text-right"></p>
                <div class="table-responsive">
                    <table class="table tutorial">
                        <tr>
                            <th class="subject">TIME</th>
                            <th>TRACK 3</th>
                        </tr>
                        <tr>
                            <td>17:30-17:40</td>
                            <td>개회 및 환영사 &nbsp;「정보통신산업진흥원 (미정)」</td>
                        </tr>
                        <tr>
                            <td>17:40-18:00</td>
                            <td>기조연설3 &nbsp;
                                <span class="small">Diversity & Inclusion</span>&nbsp;
                                <span class="small">「Apache Software Foundation Member 윤진석」</span>
                        </tr>
                        <tr>
                            <td>18:00-19:00</td>
                            <td>컨트리뷰톤 참가자 저녁식사</td>
                        </tr>
                        <tr>
                            <td>19:00-22:00</td>
                            <td>프로젝트별 미팅</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

</section>

{% include './include/footer.html' %}

</body>
</html>