/* html */
html {
	height: 100%;
	font-size: 12px;
}

/* body */
body {
	color: #998da0;
}
img {
	display: block;
}

a:focus,
button:focus {
	outline: none;
}

.subtitle {
	word-break: keep-all;
	margin-bottom: 2rem;
}

.section-media img {
	margin: 0 auto;
}

.is-detail {
	box-shadow: none;
}

.is-detail hr.spacer {
	background: none;
}

.is-detail .is-centered {
	margin: 0 auto;
}

.has-background {
	background-color: #fbfbfd;
}

.title:not(.is-spaced)+.subtitle {
	margin-bottom: 0;
}

/* app container */
.app-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
}

.app-content {
	-ms-flex: 1;
	flex: 1;
}

/* app header and nav */
.app-header .navbar {
	box-shadow: 0 1px 0 0 rgba(142, 81, 199, 0.05);
	transition-duration: 172ms;
	will-change: min-height;
}
.app-header .navbar > .container {
	transition-duration: 172ms;
	will-change: min-height;
}

.app-header .navbar .navbar-brand {
	transition-duration: 172ms;
	will-change: min-height;
}

.app-header .navbar .navbar-burger {
	width: 5rem;
	height: 5rem;
}

.app-header .navbar .navbar-burger span {
	height: 2px;
	border-radius: 99rem;
}

.app-header .navbar.is-small {
	min-height: 4rem;
	box-shadow: 0 1px 4px 0 rgba(70, 56, 83, 0.1);
}

.app-header .navbar.is-small > .container {
	min-height: 4rem;
}

.app-header .navbar.navbar.is-small .navbar-burger {
	height: 4rem;
}

.app-header .navbar.is-small .navbar-item {
	padding: 0.5rem 0.75rem;
}

.app-header .navbar.is-small .navbar-brand {
	min-height: 4rem;
}

.app-header .navbar.is-small .brand .brand-icon {
	width: 32px;
	height: 32px;
	margin-right: 1rem;
}

.app-header .navbar.is-small .brand .brand-title {
	transform: translateY(calc(50% + 0.15rem));
}

.app-header .navbar.is-small .brand .brand-subtitle {
	transform: scaleY(0);
	opacity: 0;
}

/* brand */
.brand {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	line-height: 1;
}
.brand .brand-icon {
	width: 56px;
	height: 56px;
	margin-right: 1rem;
	transition-duration: 172ms;
	will-change: width, height, margin-right;
}
.brand .brand-icon img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}
.brand .brand-title {
	font-size: 1.25rem;
	font-weight: 500;
	color: #463853;
	transition-duration: 172ms;
	will-change: transform;
}
.brand .brand-subtitle {
	margin-top: 0.25rem;
	font-size: 1.125rem;
	font-weight: normal;
	color: #998da0;
	opacity: 1;
	transition-duration: 172ms;
	will-change: opacity, transform;
}

.menu-label {
	font-size: 1.375rem;
	font-weight: 500;
	text-transform: none;
	letter-spacing: 0;
}

.menu-label:not(:last-child) {
	margin-bottom: 0.5rem;
}

.menu-list {
	margin-left: -0.75rem;
	font-size: 1.125rem;
}

.menu-list .tag {
	position: relative;
	top: -10px;
	left: -4px;
}

.menu-list img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1rem;
}

/* review */

.review {
	margin: 1rem auto;
	max-width: 480px;
}

.review .review-bubble {
	position: relative;
	background: white;
	box-shadow: 0 2px 5px 0 rgba(142, 81, 199, 0.05);
	border-radius: 6px;
	padding: 2rem;
	font-size: 1.625rem;
	line-height: 1.54;
}

.review .review-bubble:after {
	position: absolute;
	bottom: 0;
	left: 2.5rem;
	width: 0;
	height: 0;
	margin-left: -7px;
	margin-bottom: -14px;
	border: 14px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	border-left: 0;
	content: '';
}

.review .review-meta {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 1rem;
}

.review .review-author {
	-ms-flex-positive: 1;
	flex-grow: 1;
	font-size: 1.25rem;
	font-weight: 500;
	color: #5d5d5d;
}

.review .review-rating img {
	display: block;
}
