.DS_Store

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.idea
.vscode
node_modules
public/lib
public/upload
etc

npm-debug.log
database.json
database.json.*
theme.json
theme.json.*
config*.json
config*.json.*

*.psd
*.pxd

# for commercial themes or modules here.
# or use start string with underbar
# like `c_commercialcompany`
# like `m_marketproduction`
# like `e_enterprisesolution`
app/c_**
theme/c_**
