<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../_include/head.html' %}
</head>
<body class="has-background-light">
<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    {% include '../_include/menu.html' %}
</nav>
<div class="transparent-gradient-bg">
    <div class="header-bg tilt-clock"></div>
</div>
<section class="section">
    <div class="columns is-centered">
        <div class="column container is-wrap">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-primary">
                        <p class="title">제 36회 서울시 건축상 수상작</p>
                    </article>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <table class="table is-bordered is-striped is-fullwidth">
                            <tbody>
                            <tr>
                                <td><strong>장소</strong></td>
                                <td> 문화비축기지 탱크6 / 1층</td>
                            </tr>
                            <tr>
                                <td><strong>전시구성</strong></td>
                                <td> 영상, 패널, 모형 활용</td>
                            </tr>
                            <tr>
                                <td><strong>작품</strong> <strong>수</strong></td>
                                <td> 수상작 14작품 + 프로필 14</td>
                            </tr>
                            <tr>
                                <td><strong>패널</strong> <strong>사이즈</strong></td>
                                <td> 작품 패널 : 900x2500 / 설계자 프로필 패널 : 450x450</td>
                            </tr>
                            <tr>
                                <td><strong>전시</strong> <strong>테이블</strong> <strong>사이즈</strong></td>
                                <td> 500*500 기본 테이블 1식~3식 조합 구성</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <figure class="image">
                            <img src="{{site.theme}}/common/asset/award-image1.jpg" alt="수상작 안내">
                        </figure>
                    </div>
                    <div class="tile is-child box">
                        <figure class="image">
                            <img src="{{site.theme}}/common/asset/award-image2.jpg" alt="수상작 안내">
                        </figure>
                    </div>
                </div>
            </div>

            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-primary">
                        <p class="title">서울건축문화제 10주년 기념전</p>
                    </article>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <table class="table is-bordered is-striped is-fullwidth">
                            <tbody>
                            <tr>
                                <th><strong>장소</strong></th>
                                <th> 문화비축기지 탱크6 / 1층 입구</th>
                            </tr>
                            <tr>
                                <td><strong>전시구성</strong></td>
                                <td> 패널 활용</td>
                            </tr>
                            <tr>
                                <td><strong>콘텐츠</strong></td>
                                <td> 역대 포스터, 수상작</td>
                            </tr>
                            <tr>
                                <td><strong>패널</strong> <strong>사이즈</strong></td>
                                <td> 900x900x3000 목공기둥 4개, 3000x3000 목공패널 1개</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <figure class="image">
                            <img src="{{site.theme}}/common/asset/history10-1.jpg" alt="10주년 기념">
                        </figure>
                    </div>
                    <div class="tile is-child box">
                        <figure class="image">
                            <img src="{{site.theme}}/common/asset/history10-2.jpg" alt="10주년 기념">
                        </figure>
                    </div>
                </div>
            </div>


            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <h2 class="title is-hidden">서울시 건축문화제 2018</h2>
                        <img src="{{site.theme}}/common/asset/banner_main3.jpg" alt="서울시 건축문화제">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    {% include '../_include/footer.html' %}
</footer>
{% include '../_include/script.html' %}
</body>
</html>