.pop_frame .close{ position:absolute; left:640px; top:0;}
.pop_frame{ padding:40px; background:#0068b7; width:560px; height:560px;}
.pop_title{font-size:25px; color:#bdd73e; font-weight:600; text-align:center;}
.pop_text{ font-size:13px; color:#FFF; line-height:19px;}
.pop_text_b{ font-size:13px; color:#FFF; font-weight:600; }

.mt40{ margin-top:40px;}
body{background:#0068b7; }