<!DOCTYPE HTML>
<html lang="ko">
<head>
    {% include './include/head.html' %}
</head>
<body>
{% include './include/nav.html' %}
<section class="ls section_padding_top_100 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="text-center filters col-sm-12">
                <ul id="timetable_filter" class="darklinks">
                    <li><a data-filter="all" href="#" class="selected">All</a></li>
                    <li><a data-filter=".bot" href="#">bot</a></li>
                    <li><a data-filter=".iot" href="#">iot</a></li>
                    <li><a data-filter=".translate" href="#">translate</a></li>
                    <li><a data-filter=".web" href="#">web</a></li>
                    <li><a data-filter=".tool" href="#">tool</a></li>
                    <li><a data-filter=".kernel" href="#">kernel</a></li>
                    <li><a data-filter=".cloud" href="#">cloud</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table_template darklinks" id="timetable">
                        <thead>
                        <tr>
                            <th>멘토</th>
                            <th>프로젝트</th>
                            <th>개요</th>
                            <th>저장소</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>김동우</th>
                            <td><a href="#project_1" class="bot">덤블도어 교수님</a></td>
                            <td>커뮤니티용 게이미피케이션 오픈소스 챗봇 개발</td>
                            <td>https://github.com/jsdevkr</td>
                        </tr>
                        <tr>
                            <th>김동준 박열</th>
                            <td><a href="#project_1" class="kernel">구글 크로미움 블링크 엔진</a></td>
                            <td>구글 크롬으로 시작하는 오픈소스 입문</td>
                            <td>https://chromium.googlesource.com/chromium/src.git</td>
                        </tr>
                        <tr>
                            <th>김종광</th>
                            <td><a href="#project_1" class="iot">IoT Labs</a></td>
                            <td>아두이노를 통한 하드웨어 개발과 웹 기술을 이용한 소프트웨어 개발</td>
                            <td>https://github.com/iot-labs</td>
                        </tr>
                        <tr>
                            <th>류창우</th>
                            <td><a href="#project_1" class="translate">그놈 3.26 릴리스 번역</a></td>
                            <td>리눅스 GNOME desktop 영->한 메시지 번역</td>
                            <td>https://l10n.gnome.org</td>
                        </tr>
                        <tr>
                            <th>방진호</th>
                            <td><a href="#project_1" class="web">Absolute</a></td>
                            <td>웹 기반 주문 결제 플랫폼 구축</td>
                            <td>https://github.com/lunchclass/absolute.git</td>
                        </tr>
                        <tr>
                            <th>소현섭</th>
                            <td><a href="#project_1" class="tool">GSharp</a></td>
                            <td>블록 코딩 프레임워크의 모듈을 개발</td>
                            <td>https://github.com/iodes/GSharp</td>
                        </tr>
                        <tr>
                            <th>송태웅</th>
                            <td><a href="#project_1" class="kernel">perf / uftrace</a></td>
                            <td>C/C++프로그램을 위한 Profiling & Tracing 도구개발</td>
                            <td>https://github.com/namhyung/uftrace</td>
                        </tr>
                        <tr>
                            <th>장동훈</th>
                            <td><a href="#project_1" class="web">ankus crawler</a></td>
                            <td>Bigdata 분야 중 수집</td>
                            <td>github.com/onycom-ankus/ankus_crawler</td>
                        </tr>
                        <tr>
                            <th>이호민</th>
                            <td><a href="#project_1" class="tool">Go my tools</a></td>
                            <td>간단한 Go 언어의 사용법을 배우고 개인용 CLI 도구를 만드는 프로젝트</td>
                            <td>https://github.com/suapapa/tools</td>
                        </tr>
                        <tr>
                            <th>정윤원</th>
                            <td><a href="#project_1" class="tool">Ring</a></td>
                            <td>Python 캐시 유틸리티</td>
                            <td>https://github.com/youknowone/ring/</td>
                        </tr>
                        <tr>
                            <th>민 준</th>
                            <td><a href="#project_1" class="tool">Cubrid 매니저</a></td>
                            <td>이클립스 RCP 를 사용한 데이터베이스 질의 편집 도구</td>
                            <td>https://github.com/CUBRID/cubrid-manager</td>
                        </tr>
                        <tr>
                            <th>홍윤석</th>
                            <td><a href="#project_1" class="cloud">CloudBread Project</a></td>
                            <td> 클라우드 기반의 오픈소스 게임 서버 엔진</td>
                            <td>https://github.com/CloudBreadProject</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_75">
    <div class="container"></div>
</section>
{% include './include/footer.html' %}
{% include './include/script.html' %}
</body>
</html>