<!DOCTYPE HTML>
<html lang="ko">
<head>
    {% include './include/head.html' %}
</head>
<body>
{% include './include/nav.html' %}

<section class="page_volunteer ds parallax section_padding_top_50 section_padding_bottom_50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>참여자 명단</h2>
                <p>
                    프로젝트별 참여자 명단을 공개합니다. <br>문의사항이 있으실 경우 컨트리뷰톤 운영 사무국으로 연락해주세요
                </p>
            </div>
        </div>
    </div>
</section>

<section id="comingsoon1" class="ls section_padding_top_100 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">

                <h2 class="section_header">
                    Coming Soon!
                </h2>
                <p>Stay Tuned!</p>

                <div id="comingsoon-countdown"></div>

            </div>
        </div>
    </div>
</section>

{% include './include/footer.html' %}
{% include './include/script.html' %}
</body>
</html>