<!DOCTYPE HTML>
<html lang="ko">
<head>
    {% include './_include/head.html' %}
</head>
<body>
{% include './_include/nav.html' %}

<section class="page_volunteer ds parallax section_padding_top_50 section_padding_bottom_50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>참여자 명단</h2>
                <p>
                    프로젝트별 참여자 명단을 공개합니다. <br>문의사항이 있으실 경우 컨트리뷰톤 운영 사무국으로 연락해주세요
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>9월 28일(목) 오후 7시 30분까지 현장에 도착해주세요. (개인 노트북 지참해 주시면 더 좋습니다.)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-sm-2">프로젝트</th>
                            <th class="col-sm-1">구분</th>
                            <th class="col-sm-3">이름</th>
                            <th class="col-sm-6">아이디</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th rowspan="12">덤블도어 교수님</th>
                            <td>1</td>
                            <td>박*원</td>
                            <td>swpark6</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>정*호</td>
                            <td>ho1234c</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>현*정</td>
                            <td>saejungHyun</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>김*진</td>
                            <td>gywls1743@likelion.org</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>강*경</td>
                            <td>SooKang</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>김*리</td>
                            <td>curie3170@naver.com</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>송*은</td>
                            <td>young970927@naver.com</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>심*정</td>
                            <td>Simhyunjeong16</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>이*은</td>
                            <td>LeeYeEun2</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>조*욱</td>
                            <td>lastindus</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>이*규</td>
                            <td>zx6658@naver.com</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>한*름</td>
                            <td>wacilpong</td>
                        </tr>
                        <tr>
                            <th rowspan="14">Absolute</th>
                            <td>1</td>
                            <td>허*</td>
                            <td>sunemo83@gmail.com</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>나*희</td>
                            <td>GarlicB</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>이*승</td>
                            <td>hwansung</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>윤*석</td>
                            <td>yjaeseok</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>윤*준</td>
                            <td>onyoon7</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>김*은</td>
                            <td>haeungun</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>조*우</td>
                            <td>byeolbit</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>유*현</td>
                            <td>usefulhyun@gmail.com</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>박*하</td>
                            <td>llighter</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>권*경</td>
                            <td>elliekwon</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>김*수</td>
                            <td>yeonsuu</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>김*헌</td>
                            <td>sapzape</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>이*남</td>
                            <td>brian02k@gmail.com</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>이*형</td>
                            <td>sphilee</td>
                        </tr>
                        <tr>
                            <th rowspan="9">Ankus Crawler</th>
                            <td>1</td>
                            <td>성*영</td>
                            <td>sungjunyoung</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>안*솜</td>
                            <td>merona</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>조*훈</td>
                            <td>jae0303</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>배*민</td>
                            <td>bohblue2</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>도*래</td>
                            <td>wwwdo109@gmail.com</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>박*임</td>
                            <td>taeiim</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>노*정</td>
                            <td>shdbwjd0326@naver.com</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>김*석</td>
                            <td>kys86524@naver.com</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>오*영</td>
                            <td>ohahohah</td>
                        </tr>
                        <tr>
                            <th rowspan="12">CloudBread Project</th>
                            <td>1</td>
                            <td>남*서</td>
                            <td>sherry92</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>김*우</td>
                            <td>JungwooKim92</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>김*호</td>
                            <td>junojunho</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>김*현</td>
                            <td>merturl</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>김*태</td>
                            <td>urbanscenery</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>최*익</td>
                            <td>cgi4u</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>박*도</td>
                            <td>Edwin222</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>조*제</td>
                            <td>siosio34</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>이*헌</td>
                            <td>weightle55</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>박*혁</td>
                            <td>wnsgur6311@gmail.com</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>이*혜</td>
                            <td>minhye-lee</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>김*희</td>
                            <td>tkfkdqldb1</td>
                        </tr>
                        <tr>
                            <th rowspan="12">CUBRID Manager</th>
                            <td>1</td>
                            <td>송*현</td>
                            <td>larvinion</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>김*연</td>
                            <td>victoria1559@naver.com</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>박*욱</td>
                            <td>psyy94@naver.com</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>강*성</td>
                            <td>tails5555</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>이*연</td>
                            <td>estanie</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>김*인</td>
                            <td>oddjm91@gmail.com</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>김*정</td>
                            <td>abbey17@naver.com</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>황*영</td>
                            <td>dodo4513</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>박*호</td>
                            <td>chan33344@gmail.com</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>배*욱</td>
                            <td>joonguk90</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>한*실</td>
                            <td>truthone</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>제*호</td>
                            <td>jje@calstatela.edu</td>
                        </tr>
                        <tr>
                            <th rowspan="11">Google Chrome으로 <br> 시작하는 <br> 오픈소스 입문</th>
                            <td>1</td>
                            <td>권*덕</td>
                            <td>kkd927</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>김*아</td>
                            <td>dongdogn</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>허*영</td>
                            <td>bbvch13531</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>오*근</td>
                            <td>JaeGeunOh</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>김*준</td>
                            <td>bnmjkl26</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>이*송</td>
                            <td>leekasong@naver.com</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>권*석</td>
                            <td>mskwon25</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>김*종</td>
                            <td>mjkim610</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>정*인</td>
                            <td>HeaIn</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>이*정</td>
                            <td>apenr1234@gmail.com</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>박*이</td>
                            <td>chanyipk@naver.com</td>
                        </tr>
                        <tr>
                            <th rowspan="10">Gsharp</th>
                            <td>1</td>
                            <td>문*현</td>
                            <td>hubeen</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>서*수</td>
                            <td>msseo1040@naver.com</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>황*도</td>
                            <td>BEMELON</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>박*혜</td>
                            <td>park086357</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>김*성</td>
                            <td>hodu1994</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>박*욱</td>
                            <td>wooknick</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>정*윤</td>
                            <td>hyida</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>박*정</td>
                            <td>do2tdo2t</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>서*원</td>
                            <td>researcherGeekLab</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>이*원</td>
                            <td>jwl317</td>
                        </tr>
                        <tr>
                            <th rowspan="10">IoT Labs</th>
                            <td>1</td>
                            <td>김*원</td>
                            <td>rhdrlqkftk</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>조*영</td>
                            <td>rvd619rey@naver.com</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>김*경</td>
                            <td>kimsk5818</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>정*정</td>
                            <td>6v6</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>최*준</td>
                            <td>ohnewdev</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>한*근</td>
                            <td>E-nuri</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>윤*호</td>
                            <td>ja-ho</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>정*훈</td>
                            <td>ziapapa</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>전*경</td>
                            <td>ctk03272</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>신*용</td>
                            <td>sgy8971</td>
                        </tr>
                        <tr>
                            <th rowspan="19">Linux kernel <br> perf / uftrace</th>
                            <td>1</td>
                            <td>지*식</td>
                            <td>carjms@naver.com</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>박*범</td>
                            <td>ParkHanbum</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>장*현</td>
                            <td>sihyeonn</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>이*수</td>
                            <td>aChangSuLee</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>천*수</td>
                            <td>kschonphy</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>원*상</td>
                            <td>pthread0</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>김*은</td>
                            <td>wwooww374</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>홍*원</td>
                            <td>qpakzk</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>김*혁</td>
                            <td>rlgur41@gmail.com</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>김*정</td>
                            <td>yjeong711@hanmail.net</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>홍*석</td>
                            <td>flavono123</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>박*현</td>
                            <td>chordpark@gmail.com</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>김*은</td>
                            <td>ye0013@gmail.com</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>이*선</td>
                            <td>vngkv123</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>양*임</td>
                            <td>yanghyeimm</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>김*성</td>
                            <td>xotjd8274</td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>임*채</td>
                            <td>mr.comkorea@gmail.com</td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td>장*정</td>
                            <td>love2986</td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td>장*진</td>
                            <td>wkdthwls3@naver.com</td>
                        </tr>
                        <tr>
                            <th rowspan="16">Ring</th>
                            <td>1</td>
                            <td>경*성</td>
                            <td>MinSung-TheBest</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>권*목</td>
                            <td>tnsahr2580@gmail.com</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>권*길</td>
                            <td>zel0rd</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>권*형</td>
                            <td>TaeHyoungKwon</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>김*오</td>
                            <td>rlatjsdh7902@gmail.com</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>박*철</td>
                            <td>masterguru9</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>서*석</td>
                            <td>tudoistube</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>유*수</td>
                            <td>yunitto</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>윤*호</td>
                            <td>pdot715</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>이*길</td>
                            <td>junggil</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>이*건</td>
                            <td>cd8114@gmail.com</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>이*규</td>
                            <td>vazrupe</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>조*명</td>
                            <td>britzegs@gmail.com</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>지*철</td>
                            <td>puri8467</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>지*영</td>
                            <td>harrond</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>조*준</td>
                            <td>jowoojun</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% include './_include/footer.html' %}
{% include './_include/script.html' %}
</body>
</html>