{% macro nation(pagination, link) %}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {% if pagination.hasPrev %}
    <a class="pagination-previous" href="?p={{pagination.page - 1}}">이전</a>
    {% endif %}
    <ul class="pagination-list">
        {% if pagination.preIndex %}
        <li><a class="pagination-link" href="?p=1" aria-label="Goto page 1">1</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% for i in range(pagination.preIndex, pagination.page) -%}
        <li><a class="pagination-link" href="?p={{i}}" aria-label="Goto page {{i}}">{{i}}</a></li>
        {%- endfor %}
        {% else %}
        {% for i in range(1, pagination.page) -%}
        <li><a class="pagination-link" href="?p={{i}}" aria-label="Goto page {{i}}">{{i}}</a></li>
        {%- endfor %}
        {% endif %}

        {% if pagination.page > 0 %}
        <li><a class="pagination-link is-current" aria-label="Page {{pagination.page}}" aria-current="page">{{pagination.page}}</a></li>
        {% endif %}

        {% if pagination.postIndex < pagination.maxPage %}
        {% for i in range(pagination.page + 1, pagination.postIndex) -%}
        <li><a class="pagination-link" href="?p={{i}}" aria-label="Goto page {{i}}">{{i}}</a></li>
        {%- endfor %}
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" href="?p={{pagination.maxPage}}" aria-label="Goto page {{pagination.maxPage}}">{{pagination.maxPage}}</a></li>
        {% else %}
        {% for i in range(pagination.page + 1, pagination.maxPage + 1) -%}
        <li><a class="pagination-link" href="?p={{i}}" aria-label="Goto page {{i}}">{{i}}</a></li>
        {%- endfor %}
        {% endif %}
    </ul>
    {% if pagination.hasNext %}
    <a class="pagination-next" href="?p={{pagination.page + 1}}">다음</a>
    {% endif %}
</nav>
{% endmacro %}
