{% import './header_item.html' as Header %}
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="{{site.root}}/">{{app.title}}</a>
        <ul class="pure-menu-list">
            {% for item in menu %}
            {% if not user %}
            {% if item.logged < 0 %}
            {{ Header.item(item, site) }}
            {% endif%}
            {% else %}
            {% if item.id != "login" %}
            {{ Header.item(item, site) }}
            {% endif %}
            {% endif %}
            {% endfor %}
            {% if user %}
            <li class="pure-menu-item"><a href="/account{{ route.account.signOut }}" class="pure-menu-link">로그아웃</a></li>
            {% endif %}
        </ul>
    </div>
</div>