<!DOCTYPE HTML>
<html lang="ko">
<head>
    {% include '../include/head.html' %}
</head>
<body>
{% include '../include/nav.html' %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted mbr-after-navbar" id="header1-74" style="background-image: url({{site.theme}}/common/asset/main_bg_mid_hi.jpg);">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left" style="padding-top: 12em; padding-bottom: 6em">
        <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(76, 105, 114);"></div>
        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched">
                <div class="mbr-box__magnet mbr-box__magnet--center-left">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mbr-hero animated fadeInUp">
                                <h1 class="mbr-hero__text" id="header1-41">컨트리뷰톤 현황</h1>
                                <p class="mbr-hero__subtext">
                                    오픈소스 컨트리뷰터가 하는 일은 이렇습니다. <br>
                                    바쁜 시간을 쪼개 해카톤에 임하고 있는 참여자의 모습들! <br>
                                    매일 매일 업데이트 됩니다.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="content1-99">
    <div class="mbr-section__container container mbr-section__container--middle">
        <div class="row" id="gallery_video">
            <div class="media mbr-description col-md-10 col-md-offset-1">
                <h3 class="mbr-article--wysiwyg mbr-header__text">
                    <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                    갤러리 영상
                </h3>

                <div class="media-body">
                    <p class="mbr-reviews__text">
                        곧 업데이트됩니다.
                    </p>
                </div>
            </div>
        </div>


        {% for item in cateList %}
        <div class="row gallery-wrap" id="gallery_{{ item.id }}" data-id="{{ item.id }}">
            <div class="media mbr-description col-md-10 col-md-offset-1">
                <h3 class="mbr-article--wysiwyg mbr-header__text">
                    <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                    {{ item.title }}
                </h3>

                <div class="media-body">
                    <p class="mbr-reviews__text">
                        {{ item.sub_title }}
                    </p>

                    <div class="image-list">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</section>

{% include '../include/footer.html' %}
{% include '../include/script.html' %}
</body>
</html>
