<!DOCTYPE html>
<html lang="en">
<head>
    {% include './include/head.html' %}
</head>
<body class="has-background-light">
<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    {% include './include/menu.html' %}
</nav>
<div class="transparent-gradient-bg">
    <div class="header-bg tilt-clock"></div>
</div>
<section class="section">
    <div class="container is-wrap">
        <div class="tile is-parent is-wide">
            <article class="tile is-child notification is-danger">
                <p class="title">2018 SAF 서울건축문화제</p>
            </article>
        </div>
        <div class="tile is-parent is-wide">
            <figure class="image">
                <img src="{{site.theme}}/common/asset/main-poster.png" alt="메인 포스터">
            </figure>
        </div>
        <div class="tile is-about is-wide is-block-tablet is-hidden-mobile">
            <div class="tile is-parent">
                <article class="tile is-child notification is-credit has-background-white">
                    <h2 class="title is-hidden">총감독 인사말</h2>
                    <img src="{{site.theme}}/common/asset/director-greet.jpg" alt="총감독 인사말">
                </article>
            </div>
        </div>
        <div class="tile is-about is-wide is-hidden-tablet">
            <div class="tile is-parent">
                <article class="tile is-child notification is-credit has-background-white">
                    <h2 class="title is-hidden">총감독 인사말</h2>

                    <h4 class="title">한양산천 서울강산</h4>
                    <h4 class="subtitle">Mountains and Streams of Hanyang Landscape of Seoul</h4>
                    <p class="has-text-justified">저 멀리 강물이 반짝입니다. 마치 바다처럼 넓고 큰 강이 불어오는 바람과 장단을 맞추듯 넘실거리고 있습니다. 가까이
                        보고 싶은 마음에 더 걸어가 봅니다. 넓게 펼쳐진 모래사장을 지나 좀 더 다가가니 강의 물결이 육지를 향해 파도치듯 오르내립니다. 주변을 둘러보니 이미 아이들은
                        신발을 내던지고 물과 모래를 밟으며 신이 났습니다. 아이들의 기세에 자리를 깔고 앉은 어른들도 강물을 바라보며 평화로운 한 때를 보냅니다. 조금 떨어진 곳에 작은
                        보트 몇 대가 보입니다. 저걸 타고 강 건너편까지 가봐야겠습니다.</p>
                    <p class="has-text-justified">이것은 한강의 옛 모습이 담긴 사진을 바탕으로 해본 상상입니다. 방죽으로 둘러싸여 강물을 직접 만져보기가 힘든 지금의
                        한강과는 아주 다른 모습입니다. 하지만 한강을 모두 거대한 방죽으로 둘러싸지 않고 부분적으로나마 남겨두었다면, 바로 안쪽에 차량 위주의 도로와 사람이 다니는 길을
                        함께 냈다면, 그래서 사람들이 토끼굴이나 다리를 통해서만이 아니라 직접 강가로 접근할 수 있게 만들었다면 가능했을 모습이기도 합니다. 개발이라는 명분으로 미처
                        고려하지 못해 생겨난 다소 아쉬운 결과인 듯합니다. 고대 문명 발원지가 그러하듯 강이 있어 도시가 형성되었고, 서울도 마찬가지입니다. 그러나 지금의 우리에게 강이라는
                        자연환경이 도시와 삶의 기반이라 할 수 있을 만큼 가까운 대상인지 되물어 보게 됩니다.</p>
                    <p class="has-text-justified">올해 건축문화제의 &lt;한양산천, 서울강산&gt;이라는 주제는 서울의 강과 산을 되짚어보자는 생각에서 출발하였습니다.
                        다른 대도시들과는 확연한 차이가 있는 서울의 특징 중 하나가 바로 큰 산과 강이 있는 도시라는 것입니다. 강을 건너 강북과 강남을 자주 오가고, 목적지에 가는 길에
                        흔히 오르막과 내리막을 마주하며 매번 인식하지는 못해도 우리들이 살아가는 서울의 바탕에는 산과 강이 있습니다. 하지만 산과 강의 흔한 이미지인 ‘깊고 울창한
                        나무숲’, ‘모래사장에 넘실거리는 강물’은 왜 일상에서 만나기가 어렵게 된 걸까요. 이번 문화제를 통해 서울의 산과 강, 그리고 그러한 자연환경을 끼고 도시가 변화한
                        과정을 살펴보며 그 이유를 찾아보고자 합니다.</p>
                    <p class="has-text-justified">“숲세권”이라는 말을 아시는지요. 극심했던 지난여름의 무더위였지만, 서울시내의 숲과 가까운 지역의 온도가 조금 더
                        낮았다는 통계에 의해 생겨난 신조어라고 합니다. 국립기상연구소의 관측에 따르면 지난 100여 년간 가장 많은 인명피해를 낸 자연재해는 다름 아닌 폭염입니다. 인간이
                        초래한 자연파괴가 인간을 가장 위협하는 재해가 된 지금, 우리를 둘러싼 자연환경에 대해 상기해봅니다. 산과 강의 도시 서울에 굳이 “숲세권”이라는 단어가 생겨난
                        이유를 말입니다.</p>
                    <p class="has-text-justified">이번 2018 서울건축문화제에서는 서울시건축상과 함께 주제전, 한강건축상상전, 대학생아이디어공모전, 스토리텔링전 등
                        다양한 전시를 준비하였습니다. &lt;한양산천 서울강산&gt;이라는 주제와 관련된 전시, 강연과 답사를 통해 우리가 살고 있는 서울의 근본이라 할 수 있는 산과 강,
                        도시와 자연환경의 관계에 대해 알아보고 앞으로 다가올 공존의 미래를 준비하는 기회가 되길 바랍니다. </p>
                    <p class="has-text-right from">총감독 이 기 옥</p>

                </article>
            </div>
        </div>
        {#
        <div class="tile is-parent">
            <div class="tile is-child">
                <figure class="image"><img src="{{site.theme}}/common/asset/intro.png" alt="인사말"></figure>
            </div>
        </div>
        #}
        <div class="tile is-parent" id="director">
            <article class="tile is-child notification is-info">
                <p class="title">총감독 소개</p>
            </article>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child">
                <div class="box is-director">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-director-pic">
                                <img src="{{site.theme}}/common/asset/director.jpg" alt="Image">
                            </figure>
                            <p class="headline"><i class="fa fa-anchor"></i> Director of 2018 SAF</p>
                            <h3 class="is-size-3 text-center">이기옥 <span class="name">LEE KIOK</span></h3>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <dl>
                                    <dt>1983.03 – 1987.02</dt>
                                    <dd class="is-credit">
                                        <p class="title">Bachelor of Architecture Engineering <span class="from">Korea University</span>
                                        </p>
                                        <p class="subtitle">고려대학교 건축공학과 학사</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>1987.03 – 1989.02</dt>
                                    <dd class="is-credit">
                                        <p class="title">Master of Architecture Engineering <span class="from">Korea University</span>
                                        </p>
                                        <p class="subtitle">고려대학교 건축공학과 석사</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>1988.07 – 1988.08</dt>
                                    <dd class="is-credit">
                                        <p class="title">International Architecture And Urban Design Studio <span
                                                class="from">MIT-SNU</span></p>
                                        <p class="subtitle">서울국제설계학교(MIT-SNU) 수료</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>1999.02 – present</dt>
                                    <dd class="is-credit">
                                        <p class="title">PHILLIP Architects <span
                                                class="from">Principal/ KIRA</span></p>
                                        <p class="subtitle">㈜필립종합건축사사무소 대표/ 건축사</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>2003.03 – present</dt>
                                    <dd class="is-credit">
                                        <p class="title">Adjunct Professor <span
                                                class="from">Chung-Ang University</span></p>
                                        <p class="subtitle">중앙대학교 예술대학 겸임교수</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>2018.03 – present</dt>
                                    <dd class="is-credit">
                                        <p class="title">Director <span class="from">2018 Seoul Architecture Festival(SAF)</span>
                                        </p>
                                        <p class="subtitle">2018 서울건축문화제(SAF) 총감독</p>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </article>

                    <div class="is-divider" data-content="Director LEE KIOK"></div>

                    <div class="timeline">
                        <header class="timeline-header">
                            <span class="tag is-medium is-primary">ACTIVITIES</span>
                        </header>
                        <div class="timeline-item is-primary">
                            <div class="timeline-marker is-primary"></div>
                            <div class="timeline-content">
                                <p class="heading">2017.03 – 2017.11</p>
                                <p>Director / 2017 Seoul Architecture Festival(SAF)
                                    <span class="from">2017 서울건축문화제(SAF) 총감독</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-primary">
                            <div class="timeline-marker is-primary"></div>
                            <div class="timeline-content">
                                <p class="heading">2016.03 – 2018.02</p>
                                <p>Councilor / Korea Institute of Architects(KIA)
                                    <span class="from">한국건축가협회 이사</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-primary">
                            <div class="timeline-marker is-primary"></div>
                            <div class="timeline-content">
                                <p class="heading">2016.03 – 2018.02</p>
                                <p>Chairman / KIA Committee of Architecture Culture Tour
                                    <span class="from">한국건축가협회 건축문화답사위원회 위원장</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-primary">
                            <div class="timeline-marker is-primary"></div>
                            <div class="timeline-content">
                                <p class="heading">2016</p>
                                <p>Curator / The Story of Seoul Architecture Competition
                                    <span class="from">서울, 스토리텔링공모전 총괄 큐레이터</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-primary">
                            <div class="timeline-marker is-primary"></div>
                            <div class="timeline-content">
                                <p class="heading">2015, 2014</p>
                                <p>General Commissioner / Young Architecture Fellowship
                                    <span class="from">제1,2회 국제건축문화교류사업 총괄 커미셔너</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-primary">
                            <div class="timeline-marker is-primary"></div>
                            <div class="timeline-content">
                                <p class="heading">2014.04 – 2016.06</p>
                                <p>Public Architect / Seoul Metropolitan City
                                    <span class="from">서울시 공공건축가</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-primary">
                            <div class="timeline-marker is-primary"></div>
                            <div class="timeline-content">
                                <p class="heading">2012.03 – 2016.02</p>
                                <p>Chairman / KIA Committee of Korean Young Architect
                                    <span class="from">한국건축가협회 젊은건축가위원회 위원장</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-primary">
                            <div class="timeline-marker is-primary"></div>
                            <div class="timeline-content">
                                <p class="heading">2011</p>
                                <p>Coordinator / Docomomo Korea design competition
                                    <span class="from">도코모모코리아 공모전 총괄 코디네이터</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-primary">
                            <div class="timeline-marker is-primary"></div>
                            <div class="timeline-content">
                                <p class="heading">2010.01 – 2011.12</p>
                                <p>Councilor / Docomomo Korea
                                    <span class="from">도코모모코리아 이사</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-primary">
                            <div class="timeline-marker is-primary"></div>
                            <div class="timeline-content">
                                <p class="heading">2010.03 - 2012.02</p>
                                <p>Adjunct Professor / Korea University
                                    <span class="from">고려대학교 건축학과 겸임교수</span></p>
                            </div>
                        </div>
                    </div>

                    <div class="is-divider" data-content="Director LEE KIOK"></div>

                    <div class="timeline is-rtl">
                        <header class="timeline-header">
                            <span class="tag is-medium is-warning">AWARDS</span>
                        </header>
                        <div class="timeline-item is-warning">
                            <div class="timeline-marker is-warning"></div>
                            <div class="timeline-content">
                                <p class="heading">2016</p>
                                <p>KIID(Korean Institute of Interior Design) Space Design Award / Teaching Award
                                    <span class="from">한국실내디자인학회 주제공모전 지도교수상</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-warning">
                            <div class="timeline-marker is-warning"></div>
                            <div class="timeline-content">
                                <p class="heading">2014</p>
                                <p>KOREA Space Design Award / Teaching Award
                                    <span class="from">한국공간디자인대전 우수지도자상</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-warning">
                            <div class="timeline-marker is-warning"></div>
                            <div class="timeline-content">
                                <p class="heading">2014</p>
                                <p>KIID(Korean Institute of Interior Design) Space Design Award / Teaching Award
                                    <span class="from">한국실내디자인학회 주제공모전 지도교수상</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-warning">
                            <div class="timeline-marker is-warning"></div>
                            <div class="timeline-content">
                                <p class="heading">2013</p>
                                <p>Korean Architecture Award(KAA) / Award of Honor / BARAUM
                                    <span class="from">한국건축문화대상 우수상 / 바라움</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-warning">
                            <div class="timeline-marker is-warning"></div>
                            <div class="timeline-content">
                                <p class="heading">2012</p>
                                <p>Korean Architecture Award(KAA) / Award of Honor / JINO HAUS
                                    <span class="from">한국건축문화대상 우수상 / 지노하우스</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-warning">
                            <div class="timeline-marker is-warning"></div>
                            <div class="timeline-content">
                                <p class="heading">2011</p>
                                <p>Minister of Culture, Sports and Tourism / Minister Citation
                                    <span class="from">문화체육관광부장관 표창</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-warning">
                            <div class="timeline-marker is-warning"></div>
                            <div class="timeline-content">
                                <p class="heading">2011</p>
                                <p>KIA Award / The Best 7 Architecture of the Year
                                    <span class="from">올해의 건축 BEST 7 / 한국건축가협회상</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-warning">
                            <div class="timeline-marker is-warning"></div>
                            <div class="timeline-content">
                                <p class="heading">2010</p>
                                <p>International Urban Ideas Competition for the Development of Gadeokdo / Honorable
                                    Mention
                                    <span class="from">가덕도 개발개념 아이디어 국제공모전 장려상</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-warning">
                            <div class="timeline-marker is-warning"></div>
                            <div class="timeline-content">
                                <p class="heading">2009</p>
                                <p>Arquitectum International Architecture Competition / FIRST PRIZE
                                    <span class="from">아키텍텀 국제공모전 1등 수상</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-warning">
                            <div class="timeline-marker is-warning"></div>
                            <div class="timeline-content">
                                <p class="heading">2009</p>
                                <p>KIA Invited Architect Exhibition / BEST PT Award
                                    <span class="from">제28회 대한민국 건축대전 초대작가전 BEST PT상</span></p>
                            </div>
                        </div>
                        <div class="timeline-item is-warning">
                            <div class="timeline-marker is-warning"></div>
                            <div class="timeline-content">
                                <p class="heading">2006</p>
                                <p>KIA Invited Architect Exhibition / BEST PT Award
                                    <span class="from">제25회 대한민국 건축대전 초대작가전 BEST PT상</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>
<footer class="footer">
    {% include './include/footer.html' %}
</footer>
{% include './include/script.html' %}
</body>
</html>
