<!DOCTYPE html>
<html lang="en">
<head>
    {% include './include/head.html' %}
</head>
<body class="has-background-light">
<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    {% include './include/menu.html' %}
</nav>
<div class="transparent-gradient-bg">
    <div class="header-bg tilt-clock"></div>
</div>
<section class="section">
    <div class="columns is-centered">
        <div class="column container is-wrap">
            <div class="tabs is-centered">
                <ul>
                    <li><a>2018 서울건축문화제</a></li>
                    <li><a>주제</a></li>
                    <li class="is-active"><a>총감독</a></li>
                    <li><a>행사 장소</a></li>
                </ul>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="box is-director">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-director-pic">
                                        <img src="{{site.theme}}/common/asset/director.jpg" alt="Image">
                                    </figure>
                                    <p class="headline"><i class="fa fa-anchor"></i> Director of 2018 SAF</p>
                                    <h3 class="is-size-3 text-center">이기옥 <span class="name">LEE KIOK</span></h3>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <dl>
                                            <dt>1987.03 – 1989.02</dt>
                                            <dd class="is-credit">
                                                <p class="title">Bachelor of Architecture Engineering <span class="from">Korea University</span></p>
                                                <p class="subtitle">고려대학교 건축공학과 학사</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>1987.03 – 1989.02</dt>
                                            <dd class="is-credit">
                                                <p class="title">Master of Architecture Engineering <span class="from">Korea University</span></p>
                                                <p class="subtitle">고려대학교 건축공학과 석사</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>1988.07 – 1988.08</dt>
                                            <dd class="is-credit">
                                                <p class="title">International Architecture And Urban Design Studio <span class="from">MIT-SNU</span></p>
                                                <p class="subtitle">서울국제설계학교(MIT-SNU) 수료</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>1999.02 – present</dt>
                                            <dd class="is-credit">
                                                <p class="title">PHILLIP Architects <span class="from">Principal/ KIRA</span></p>
                                                <p class="subtitle">㈜필립종합건축사사무소 대표/ 건축사</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>2003.03 – present</dt>
                                            <dd class="is-credit">
                                                <p class="title">Adjunct Professor <span class="from">Chung-Ang University</span></p>
                                                <p class="subtitle">중앙대학교 예술대학 겸임교수</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>2018.03 – present</dt>
                                            <dd class="is-credit">
                                                <p class="title">Director <span class="from">2018 Seoul Architecture Festival(SAF)</span></p>
                                                <p class="subtitle">2018 서울건축문화제(SAF) 총감독</p>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </article>

                            <div class="is-divider" data-content="Director LEE KIOK"></div>

                            <div class="timeline">
                                <header class="timeline-header">
                                    <span class="tag is-medium is-primary">ACTIVITIES</span>
                                </header>
                                <div class="timeline-item is-primary">
                                    <div class="timeline-marker is-primary"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2017.03 – 2017.11</p>
                                        <p>Director / 2017 Seoul Architecture Festival(SAF)
                                            <span class="from">2017 서울건축문화제(SAF) 총감독</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-primary">
                                    <div class="timeline-marker is-primary"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2016.03 – 2018.02</p>
                                        <p>Councilor / Korea Institute of Architects(KIA)
                                            <span class="from">한국건축가협회 이사</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-primary">
                                    <div class="timeline-marker is-primary"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2016.03 – 2018.02</p>
                                        <p>Chairman / KIA Committee of Architecture Culture Tour
                                            <span class="from">한국건축가협회 건축문화답사위원회 위원장</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-primary">
                                    <div class="timeline-marker is-primary"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2016</p>
                                        <p>Curator / The Story of Seoul Architecture Competition
                                            <span class="from">서울, 스토리텔링공모전 총괄 큐레이터</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-primary">
                                    <div class="timeline-marker is-primary"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2015, 2014</p>
                                        <p>General Commissioner / Young Architecture Fellowship
                                            <span class="from">제1,2회 국제건축문화교류사업 총괄 커미셔너</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-primary">
                                    <div class="timeline-marker is-primary"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2014.04 – 2016.06</p>
                                        <p>Public Architect / Seoul Metropolitan City
                                            <span class="from">서울시 공공건축가</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-primary">
                                    <div class="timeline-marker is-primary"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2012.03 – 2016.02</p>
                                        <p>Chairman / KIA Committee of Korean Young Architect
                                            <span class="from">한국건축가협회 젊은건축가위원회 위원장</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-primary">
                                    <div class="timeline-marker is-primary"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2011</p>
                                        <p>Coordinator / Docomomo Korea design competition
                                            <span class="from">도코모모코리아 공모전 총괄 코디네이터</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-primary">
                                    <div class="timeline-marker is-primary"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2010.01 – 2011.12</p>
                                        <p>Councilor / Docomomo Korea
                                            <span class="from">도코모모코리아 이사</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-primary">
                                    <div class="timeline-marker is-primary"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2010.03 - 2012.02</p>
                                        <p>Adjunct Professor / Korea University
                                            <span class="from">고려대학교 건축학과 겸임교수</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="is-divider" data-content="Director LEE KIOK"></div>

                            <div class="timeline is-rtl">
                                <header class="timeline-header">
                                    <span class="tag is-medium is-warning">AWARDS</span>
                                </header>
                                <div class="timeline-item is-warning">
                                    <div class="timeline-marker is-warning"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2016</p>
                                        <p>KIID(Korean Institute of Interior Design) Space Design Award / Teaching Award
                                        <span class="from">한국실내디자인학회 주제공모전 지도교수상</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-warning">
                                    <div class="timeline-marker is-warning"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2014</p>
                                        <p>KOREA Space Design Award / Teaching Award
                                            <span class="from">한국공간디자인대전 우수지도자상</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-warning">
                                    <div class="timeline-marker is-warning"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2014</p>
                                        <p>KIID(Korean Institute of Interior Design) Space Design Award / Teaching Award
                                            <span class="from">한국실내디자인학회 주제공모전 지도교수상</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-warning">
                                    <div class="timeline-marker is-warning"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2013</p>
                                        <p>Korean Architecture Award(KAA) / Award of Honor / BARAUM
                                            <span class="from">한국건축문화대상 우수상 / 바라움</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-warning">
                                    <div class="timeline-marker is-warning"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2012</p>
                                        <p>Korean Architecture Award(KAA) / Award of Honor / JINO HAUS
                                            <span class="from">한국건축문화대상 우수상 / 지노하우스</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-warning">
                                    <div class="timeline-marker is-warning"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2011</p>
                                        <p>Minister of Culture, Sports and Tourism / Minister Citation
                                            <span class="from">문화체육관광부장관 표창</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-warning">
                                    <div class="timeline-marker is-warning"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2011</p>
                                        <p>KIA Award / The Best 7 Architecture of the Year
                                            <span class="from">올해의 건축 BEST 7 / 한국건축가협회상</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-warning">
                                    <div class="timeline-marker is-warning"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2010</p>
                                        <p>International Urban Ideas Competition for the Development of Gadeokdo / Honorable Mention
                                            <span class="from">가덕도 개발개념 아이디어 국제공모전 장려상</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-warning">
                                    <div class="timeline-marker is-warning"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2009</p>
                                        <p>Arquitectum International Architecture Competition / FIRST PRIZE
                                            <span class="from">아키텍텀 국제공모전 1등 수상</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-warning">
                                    <div class="timeline-marker is-warning"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2009</p>
                                        <p>KIA Invited Architect Exhibition / BEST PT Award
                                            <span class="from">제28회 대한민국 건축대전 초대작가전 BEST PT상</span></p>
                                    </div>
                                </div>
                                <div class="timeline-item is-warning">
                                    <div class="timeline-marker is-warning"></div>
                                    <div class="timeline-content">
                                        <p class="heading">2006</p>
                                        <p>KIA Invited Architect Exhibition / BEST PT Award
                                            <span class="from">제25회 대한민국 건축대전 초대작가전 BEST PT상</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns is-centered">
    <h1>{{app.title}}</h1>
    <div>
        <p>{{title}} <code>{{page_id}}</code></p>
    </div>
    </div>
</section>
<footer class="footer">
    {% include './include/footer.html' %}
</footer>
</body>
</html>