<!DOCTYPE html>
<html lang="en">
<head>
    {% include './_include/head.html' %}
</head>
<body class="has-background-light">
<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    {% include './_include/menu.html' %}
</nav>
<div class="transparent-gradient-bg">
    <div class="header-bg tilt-clock"></div>
</div>
<section class="section">
    <div class="columns is-centered">
        <div class="column container is-wrap">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <h2 class="title is-hidden">서울시 건축문화제 2018</h2>
                        <img src="{{site.theme}}/common/asset/banner_180611_1.png" alt="서울시 건축문화제">
                    </div>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <h2 class="is-size-1 has-text-weight-bold">업로드 예정입니다.</h2>
                        <h3 class="is-size-3">서울시 건축문화제 2018</h3>
                        <p>2018.10.5 - 10.28</p>
                        <p>문화비축기지, 돈의문박물관마을</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns is-centered">
        <h1>{{app.title}}</h1>
        <div>
            <p>{{title}} <code>{{page_id}}</code></p>
        </div>
    </div>
</section>
<footer class="footer">
    {% include './_include/footer.html' %}
</footer>
{% include './_include/script.html' %}
</body>
</html>