<!DOCTYPE html>
<html lang="en">
<head>
    {% include './_include/head.html' %}
</head>
<body class="has-background-grey-light">
<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    {% include './_include/menu.html' %}
</nav>
<section class="section">
    <h1>{{app.title}}</h1>
    <div>
        <p>{{title}} <code>{{page_id}}</code></p>
    </div>
</section>
<footer class="footer">
    {% include './_include/footer.html' %}
</footer>
{% include './_include/script.html' %}
</body>
</html>