<!DOCTYPE HTML>
<html lang="ko">
<head>
    {% include './include/head.html' %}
</head>
<body class="admin">
<!--[if lt IE 9]>
<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.
</div>
<![endif]-->
<div class="preloader">
    <div class="preloader_image"></div>
</div>
<div id="box_wrapper" class="application-wrapper">
    <header class="page_header_side page_header_side_sticked active-slide-side-header ds">
        <div class="side_header_logo ds ms">
            <a href="/"><span class="logo_text margin_0">BLITITOR</span></a>
        </div>

        <span class="toggle_menu_side toggler_light header-slide"><span></span></span>

        <div class="scrollbar-macosx">
            <div class="side_header_inner">

                {% include './include/user_menu.html' %}
                {% include './include/side_menu.html' %}

                <div class="with_padding grey text-center hidden">
                    10GB of <strong>250GB</strong> Free
                </div>
            </div>
        </div>
    </header>

    {% include './include/top_menu.html' %}

    <section class="ls with_bottom_border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <ol class="breadcrumb darklinks">
                        <li>
                            <a href="{{site.root}}">Homepage</a>
                        </li>
                        <li>
                            <a href="{{site.root}}{{menu.manage_root}}">Dashboard</a>
                        </li>
                        <li class="active">Comments</li>
                    </ol>
                </div>
                <div class="col-md-6 text-md-right">
                    <span class="dashboard-daterangepicker">
                        <i class="fa fa-calendar"></i><span></span><i class="caret"></i>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="ls section_padding_top_50 section_padding_bottom_50 columns_padding_10">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3>사이트 운영자는 등록된 회원과 페이지 로그를 확인할 수 있습니다.</h3>
                    <ul>
                        <li>회원 정보 열람</li>
                        <li>페이지 접속 정보 열람</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="row admin-table-filters">
                        <div class="col-lg-9">
                            <h6>전체 레코드 <span class="label label-primary">{{ totalCount }}</span>건</h6>
                        </div>
                        <div class="col-lg-3 text-lg-right">
                            <div class="widget widget_search">
                                <form method="get" class="searchform">
                                    <div class="form-group">
                                        <label class="sr-only" for="widget-search">Search for:</label>
                                        <input id="widget-search" type="text" value="" name="search" class="form-control" placeholder="Username or Nickname">
                                    </div>
                                    <button type="submit" class="theme_button color1 no_bg_button">Search</button>
                                    <input type="hidden" name="_csrf" value="{{ _csrf }}" hidden>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>아이디</th>
                                <th>닉네임</th>
                                <th>레벨</th>
                                <th>권한</th>
                                <th>로그인횟수</th>
                                <th>최근로그인</th>
                                <th>계정생성일</th>
                                <th>정보수정일</th>
                            </tr>
                            </thead>

                            <tbody class="guestbook-list">
                            {% set cls = cycler("pure-table-odd", "") %}
                            {% for item in list %}
                            <tr class="{{ cls.next() }} can-control" data-id="{{ item.id }}">
                                <td>{{totalCount - loop.index0 - (pagination.pageSize * (pagination.page - 1))}}</td>
                                <td>{{item.user_id}}</td>
                                <td>{{item.nickname}}</td>
                                <td>{{item.level}}</td>
                                <td>{{item.grant}}</td>
                                <td>{{item.login_counter}}</td>
                                <td>{{item.last_logged_at}}</td>
                                <td>{{item.created_at}}</td>
                                <td>{{item.updated_at}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        {% import './include/pagination.html' as Page %}
                        {{ Page.nation(pagination, route.manage_root + route.manage.account) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% include './include/footer.html' %}
{% include './include/script.html' %}
</body>
</html>