<!DOCTYPE HTML>
<html lang="ko">
<head>
    {% include './include/head.html' %}
</head>
<body class="admin">
<!--[if lt IE 9]>
<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.
</div>
<![endif]-->
<div class="preloader">
    <div class="preloader_image"></div>
</div>
<div id="box_wrapper" class="application-wrapper">
    <header class="page_header_side page_header_side_sticked active-slide-side-header ds">
        <div class="side_header_logo ds ms">
            <a href="/"><span class="logo_text margin_0">BLITITOR</span></a>
        </div>

        <span class="toggle_menu_side toggler_light header-slide"><span></span></span>

        <div class="scrollbar-macosx">
            <div class="side_header_inner">

                {% include './include/user_menu.html' %}
                {% include './include/side_menu.html' %}

                <div class="with_padding grey text-center hidden">
                    10GB of <strong>250GB</strong> Free
                </div>
            </div>
        </div>
    </header>

    {% include './include/top_menu.html' %}

    <section class="ls with_bottom_border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <ol class="breadcrumb darklinks">
                        <li>
                            <a href="{{site.root}}">Homepage</a>
                        </li>
                        <li>
                            <a href="{{site.root}}{{menu.manage_root}}">Dashboard</a>
                        </li>
                        <li class="active">Comments</li>
                    </ol>
                </div>
                <div class="col-md-6 text-md-right">
                    <span class="dashboard-daterangepicker">
                        <i class="fa fa-calendar"></i><span></span><i class="caret"></i>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="ls section_padding_top_50 section_padding_bottom_50 columns_padding_10">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3>사이트 운영자는 게스트북 관리와 답변 달기를 할 수 있습니다.</h3>
                    <ul>
                        <li>방명록 정보 열람 및 관리</li>
                        <li>답변 달기</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="row admin-table-filters">
                        <div class="col-lg-9">
                            <h6>전체 레코드 <span class="label label-primary">{{ totalCount }}</span>건
                                {% if notRepliedCount %}
                                | 답변 달지 않은 방명록 <a href="?flag=noreply"><span class="label label-warning">{{ notRepliedCount }}</span></a>건
                                {% endif %}
                            </h6>
                        </div>
                        <div class="col-lg-3 text-lg-right">
                            <div class="widget widget_search">
                                <form method="get" class="searchform">
                                    <div class="form-group">
                                        <label class="sr-only" for="widget-search">Search for:</label>
                                        <input id="widget-search" type="text" value="" name="search" class="form-control" placeholder="Nickname">
                                    </div>
                                    <button type="submit" class="theme_button color1 no_bg_button">Search</button>
                                    <input type="hidden" name="_csrf" value="{{ _csrf }}" hidden>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>문의자 (계정)</th>
                                <th>내용</th>
                                <th width="112">문의일시</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% set cls = cycler("pure-table-odd", "") %}
                            {% for item in list %}
                            <tr class="{{ cls.next() }}">
                                <td rowspan="2">{{loop.index}}</td>
                                <td>{{item.nickname}}<br>({{item.email}})</td>
                                <td>{{item.message | safe}}</td>
                                <td>{{item.created_at}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <form class="" method="post" action="{{ route.manage_root + route.guestbook_root + route.guestbook.reply }}">
                                        <div class="form-group">
                                            <textarea class="form-control" name="reply" placeholder="Reply" required="required" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="theme_button">Reply</button>
                                            <input type="hidden" name="guestbook_id" value="{{ item.id }}"/>
                                            <input type="hidden" name="_csrf" value="{{ _csrf }}"/>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        {% if pagination %}
                        <nav role="navigation">
                            <ul class="pagination">
                            {% if hasPrev %}
                                {% if page > 1 %}
                                <li class="btn btn-default">
                                    <a href="{{site.root}}{{ route.manage_root + route.guestbook_root }}?p={{page - 1}}"><span class="sr-only">Prev</span><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                                {% else %}
                                <li class="btn btn-default">
                                    <a href="{{site.root}}{{ route.manage_root + route.guestbook_root }}"><span class="sr-only">Prev</span><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                                {% endif %}
                            {% else %}
                                <li class="btn disabled">
                                    <a href="#"><span class="sr-only">Prev</span><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                            {% endif %}
                            {% for i in range(1, maxPage + 1) -%}
                                {% if i == page %}
                                <li class="btn theme_button inverse">
                                    <a class="active" href="{{site.root}}{{ route.manage_root + route.guestbook_root }}?p={{i}}">{{i}}</a>
                                {% else %}
                                <li class="btn btn-default">
                                    <a href="{{site.root}}{{ route.manage_root + route.guestbook_root }}?p={{i}}">{{i}}</a>
                                {% endif %}
                            {%- endfor %}
                            {% if hasNext %}
                                <li class="btn btn-default">
                                    <a href="{{site.root}}{{ route.manage_root + route.guestbook_root }}?p={{page + 1}}"><span class="sr-only">Next</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            {% else %}
                                <li class="btn btn-default disabled">
                                    <a href="#"><span class="sr-only">Next</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% include './include/footer.html' %}
{% include './include/script.html' %}
</body>
</html>