<!DOCTYPE HTML>
<html lang="ko">
<head>
    {% include './include/head.html' %}
</head>
<body class="admin">
<!--[if lt IE 9]>
<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.
</div>
<![endif]-->
<div class="preloader">
    <div class="preloader_image"></div>
</div>
<div id="box_wrapper" class="application-wrapper">
    <header class="page_header_side page_header_side_sticked active-slide-side-header ds">
        <div class="side_header_logo ds ms">
            <a href="/"><span class="logo_text margin_0">BLITITOR</span></a>
        </div>

        <span class="toggle_menu_side toggler_light header-slide"><span></span></span>

        <div class="scrollbar-macosx">
            <div class="side_header_inner">

                {% include './include/user_menu.html' %}
                {% include './include/side_menu.html' %}

                <div class="with_padding grey text-center hidden">
                    10GB of <strong>250GB</strong> Free
                </div>
            </div>
        </div>
    </header>

    {% include './include/top_menu.html' %}

    <section class="ls with_bottom_border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <ol class="breadcrumb darklinks">
                        <li>
                            <a href="{{site.root}}">Homepage</a>
                        </li>
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
                <div class="col-md-6 text-md-right">
                    <span class="dashboard-daterangepicker">
                        <i class="fa fa-calendar"></i><span></span><i class="caret"></i>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="ls section_padding_top_50 section_padding_bottom_50 columns_padding_10">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="dashboard-page-title">Dashboard
                        <small>main page</small>
                    </h3>
                </div>

                {% include './include/mini_graph.html' %}

            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="teaser warning_bg_color counter-background-teaser text-center">
                        <span class="counter counter-background" data-from="0" data-to="1257" data-speed="2100">0</span>
                        <h3 class="counter highlight" data-from="0" data-to="1257" data-speed="2100">0</h3>
                        <p>이달의 방문자</p>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="teaser danger_bg_color counter-background-teaser text-center">
                        <span class="counter counter-background" data-from="0" data-to="346" data-speed="1500">0</span>
                        <h3 class="counter highlight" data-from="0" data-to="346" data-speed="1500">0</h3>
                        <p>이달의 게시물</p>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="teaser success_bg_color counter-background-teaser text-center">
                        <span class="counter counter-background" data-from="0" data-to="216" data-speed="1900">0</span>
                        <h3 class="counter highlight" data-from="0" data-to="216" data-speed="1900">0</h3>
                        <p>이달의 댓글</p>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="teaser info_bg_color counter-background-teaser text-center">
                        <span class="counter counter-background" data-from="0" data-to="15" data-speed="1800">0</span>
                        <h3 class="counter-wrap highlight" data-from="0" data-to="346" data-speed="1800">
                            <small></small>
                            <span class="counter" data-from="0" data-to="346" data-speed="1500">0</span>
                            <small class="counter-add">MB</small>
                        </h3>
                        <p>이달의 트래픽</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="with_shadow with_padding">
                        <h4>PageView Statistics</h4>
                        <div class="canvas-chart-wrapper">
                            <canvas class="canvas-chart-line-visitors-pageview"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6">
                    <div class="with_shadow with_padding">
                        <h4>Visitor Statistics</h4>
                        <div class="canvas-chart-wrapper">
                            <canvas class="canvas-chart-line-daily-visitors"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="with_shadow with_padding">
                        <h4>DataBase Statistics</h4>
                        <div class="admin-scroll-panel scrollbar-macosx">
                            <ul class="list1 no-bullets">
                                <li>
                                    <div class="media small-teaser">
                                        <div class="media-left">
                                            <i class="fa fa-users highlight"></i>
                                        </div>
                                        <div class="media-body">
                                            <strong class="grey">25364</strong> Total Users
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media small-teaser">
                                        <div class="media-left">
                                            <i class="fa fa-comment highlight"></i>
                                        </div>
                                        <div class="media-body">
                                            <strong class="grey">12520</strong> Reviews
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media small-teaser">
                                        <div class="media-left">
                                            <i class="fa fa-shopping-cart highlight"></i>
                                        </div>
                                        <div class="media-body">
                                            <strong class="grey">5674</strong> Total Products
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media small-teaser">
                                        <div class="media-left">
                                            <i class="fa fa-money highlight"></i>
                                        </div>
                                        <div class="media-body">
                                            <strong class="grey">$132200</strong> Total Sales
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- .admin-scroll-panel -->
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="with_shadow with_padding">
                        <h4>Comment</h4>
                        <div class="admin-scroll-panel scrollbar-macosx">
                            <ul class="list-unstyled">
                                <li class="chat-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="" alt="...">
                                        </div>
                                        <div class="media-body with_shadow">
                                            <h5>
                                                Ann Andersen
                                                <small>1 day ago</small>
                                            </h5>
                                            <div>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, esse, magni aliquam quisquam modi delectus veritatis est ut culpa minus repellendus.
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="chat-item">
                                    <div class="media">
                                        <div class="media-body with_shadow">
                                            <h5>
                                                Victoria Grow
                                                <small>1 day ago</small>
                                            </h5>
                                            <div>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, esse, magni aliquam quisquam modi delectus veritatis est ut culpa minus repellendus.
                                            </div>
                                        </div>
                                        <div class="media-right">
                                            <img src="" alt="...">
                                        </div>
                                    </div>
                                </li>
                                <li class="chat-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="" alt="...">
                                        </div>
                                        <div class="media-body with_shadow">
                                            <h5>
                                                Ann Andersen
                                                <small>1 day ago</small>
                                            </h5>
                                            <div>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, esse, magni aliquam quisquam modi delectus veritatis est ut culpa minus repellendus.
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="chat-item">
                                    <div class="media">
                                        <div class="media-body with_shadow">
                                            <h5>
                                                Victoria Grow
                                                <small>1 day ago</small>
                                            </h5>
                                            <div>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, esse, magni aliquam quisquam modi delectus veritatis est ut culpa minus repellendus.
                                            </div>
                                        </div>
                                        <div class="media-right">
                                            <img src="" alt="...">
                                        </div>
                                    </div>
                                </li>
                                <li class="chat-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="" alt="...">
                                        </div>
                                        <div class="media-body with_shadow">
                                            <h5>
                                                Ann Andersen
                                                <small>1 day ago</small>
                                            </h5>
                                            <div>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, esse, magni aliquam quisquam modi delectus veritatis est ut culpa minus repellendus.
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="chat-item">
                                    <div class="media">
                                        <div class="media-body with_shadow">
                                            <h5>
                                                Victoria Grow
                                                <small>1 day ago</small>
                                            </h5>
                                            <div>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, esse, magni aliquam quisquam modi delectus veritatis est ut culpa minus repellendus.
                                            </div>
                                        </div>
                                        <div class="media-right">
                                            <img src="" alt="...">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% include './include/footer.html' %}
{% include './include/script.html' %}
</body>
</html>