<!DOCTYPE HTML>
<html lang="ko">
<head>
    {% include './include/head.html' %}
</head>
<body class="admin">
<!--[if lt IE 9]>
<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.
</div>
<![endif]-->
<div id="box_wrapper" class="application-wrapper">
    <!-- template sections -->
    <section class="ds with_bottom_border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <ol class="breadcrumb darklinks">
                        <li>
                            <a href="/manager">Manager</a>
                        </li>
                        <li class="active">Login</li>
                    </ol>
                </div>
                <div class="col-md-6 text-md-right">
                    <span class="dashboard-daterangepicker">
                        <i class="fa fa-calendar"></i>
                        <span></span>
                        <i class="caret"></i>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="ls section_padding_top_50 section_padding_bottom_50 columns_padding_10">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <h2>ACCESS MANAGER ONLY</h2>
                    <p>사이트 운영자는 등록된 회원과 페이지 로그를 확인할 수 있습니다.</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h4>Manager Login</h4>
                    <div class="with_shadow with_padding">
                        <form method="post" action="{{ site.root }}{{ route.manage_root + route.manage.login }}">
                            <div class="form-group">
                                <label for="id">Manager ID</label>
                                <input id="id" name="account_id" class="form-control" type="email" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" name="account_password" type="password" placeholder="Password" class="form-control">
                            </div>
                            <div class="checkbox">
                                <input id="terms" type="checkbox" title="Save Session for Next Login">
                                <label for="terms">Remember me</label>
                            </div>

                            {% if message.error %}
                            {% for error in message.error %}
                            <div class="alert alert-danger" role="alert">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">×</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <strong>Warning!</strong> {{ error.msg }}
                            </div>
                            {% endfor %}
                            {% endif %}

                            <input type="hidden" name="_csrf" value="{{ _csrf }}" hidden>
                            <button type="submit" class="theme_button">Login</button>
                        </form>
                    </div>
                    <!-- .with_shadow -->
                </div>
            </div>
        </div>
    </section>
    <div class="ribbon">
        <div class="container-fluid"><img class="img-responsive" src="/plain/common/asset/blititor_new_logo_white.png"></div>
    </div>
</div>
{% include './include/footer.html' %}
{% include './include/script.html' %}
</body>
</html>