<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    {% include './_include/style.html' %}
</head>
<body>

{% include './_include/header.html' %}

<div class="application-wrapper">
    <div class="describe">
        <div class="pure-g">
            <div class="pure-u-1">
                <h3>사이트 운영자는 등록된 회원과 페이지 로그를 확인할 수 있습니다.</h3>
                <ul>
                    <li>회원 정보 열람</li>
                    <li>페이지 접속 정보 열람</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="pure-g search">
            <div class="pure-u-1">
                <form class="pure-form" method="post">
                    <label>
                        <input type="text" class="pure-input" placeholder="Date">
                    </label>
                    <input type="hidden" name="_csrf" value="{{ _csrf }}" hidden>
                    <button type="submit" class="pure-button">Search</button>

                    <a href="{{site.root}}{{ route.manage_root + route.manage.pageCounter }}" class="pure-button pull-right">카운터</a>
                </form>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <table class="pure-table table-hover table-wide">
                    <thead>
                    <tr>
                        <th>날짜</th>
                        <th>방문</th>
                        <th>가입</th>
                        <th>로그인</th>
                        <th>로그아웃</th>
                        <th>잠금</th>
                        <th>해제</th>
                        <th>UV 그래프</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% set cls = cycler("pure-table-odd", "") %}
                    {% for item in list %}
                    <tr class="{{ cls.next() }}">
                        <td>{{item.date}}</td>
                        <td>{{item.session_init}}</td>
                        <td>{{item.sign_up}}</td>
                        <td>{{item.sign_in}}</td>
                        <td>{{item.sign_out}}</td>
                        <td>{{item.deactivated}}</td>
                        <td>{{item.reactivated}}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                {% if pagination %}
                <nav role="navigation">
                    <ul class="cd-pagination no-space move-buttons custom-icons">
                        {% if hasPrev %}
                        {% if page > 1 %}
                        <li class="button"><a href="{{site.root}}{{ route.manage_root + route.manage.account }}?p={{page - 1}}">Prev</a>
                        {% else %}
                        <li class="button"><a href="{{site.root}}{{ route.manage_root + route.manage.account }}">Prev</a>
                        {% endif %}
                        {% endif %}

                        {% for i in range(1, maxPage + 1) -%}
                        {% if i == page %}
                        <li><a class="current" href="{{site.root}}{{ route.manage_root + route.manage.account }}?p={{i}}">{{i}}</a>
                        {% else %}
                        <li><a href="{{site.root}}{{ route.manage_root + route.manage.account }}?p={{i}}">{{i}}</a>
                        {% endif %}
                        {%- endfor %}

                        {% if hasNext %}
                        <li class="button"><a href="{{site.root}}{{ route.manage_root + route.manage.account }}?p={{page + 1}}">Next</a>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>

    {% include './_include/footer.html' %}

</div>
</body>
</html>