<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    {% include './include/style.html' %}
    <link href="/lib/blueimp-file-upload/css/jquery.fileupload.css" rel="stylesheet">
    <link href="/lib/blueimp-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet">
    <link href="/lib/dragula.js/dist/dragula.min.css" rel="stylesheet">
</head>
<body>

{% include './include/header.html' %}

<div class="application-wrapper">
    <div class="describe">
        <div class="pure-g">
            <div class="pure-u-1">
                <h3>사이트 운영자는 게스트북 정보와 페이지 로그를 확인할 수 있습니다.</h3>
                <ul>
                    <li>방명록 정보 열람</li>
                    <li>페이지 접속 정보 열람</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="pure-g search">
            <div class="pure-u-1">
                <form class="pure-form" method="post" action="{{site.root}}{{ route.manage_root + route.manage.galleryCategory }}">
                    <label>
                        <input type="text" name="title" class="pure-input-1-3" placeholder="Category name">
                    </label>
                    <input type="text" name="type" value="add" hidden>
                    <input type="hidden" name="_csrf" value="{{ _csrf }}" hidden>
                    <button type="submit" class="pure-button">추가</button>
                    <p>
                        <input type="text" name="sub_title" class="pure-input-1" placeholder="Sub title">
                    </p>
                </form>
<!--
                <form class="pure-form" method="post" action="{{site.root}}{{ route.manage_root + route.manage.galleryCategory }}">
                    <label>
                        <input type="text" class="pure-input" placeholder="category name">
                    </label>
                    <input type="text" name="type" value="remove" hidden>
                    <input type="hidden" name="_csrf" value="{{ _csrf }}" hidden>
                    <button type="submit" class="pure-button">추가</button>
                </form>
-->
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1 gallery">
                <table class="pure-table pure-table-horizontal table-wide">
                    {% for item in categoryList %}
                    <thead>
                    <tr id="cate_{{ item.id }}" class="toggle-category" data-id="{{ item.id }}">
                        <th width="16px" data-sort="{{ item.sort }}">{{loop.index + (pageSize * (page - 1))}}</th>
                        <th title="{{ item.sub_title }}">{{ item.title }}</th>
                        <th width="24px" title="count" class="counter">0</th>
                        <th width="122px">{{item.created_at}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="holder_{{ item.id }}" class="gallery-wrap" data-id="{{ item.id }}">
                        <td colspan="4" class="img-holder">
                            <div class="files">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>

                <div class="add-image">
                    <form style="display: none;" id="add_image" method="post" class="pure-form" enctype="multipart/form-data" action="{{site.root}}{{ route.gallery_root + route.gallery.upload }}">

                        <input type="text" name="message" class="pure-input-1" id="image_message" placeholder="title" maxlength="100">

                        <div id="progress" class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>

                        <div class="pure-button button-success fileinput-button">
                            <span>이미지 업로드</span>
                            <!-- The file input field used as target for the file upload widget -->
                            <input id="gallery_image_file" type="file" name="files">
                        </div>

                        <button type="submit" class="pure-button button-warning" disabled>이미지를 추가해주세요</button>

                        <input type="hidden" name="_csrf" value="{{ _csrf }}">
                    </form>
                </div>

            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                {% if pagination %}
                <nav role="navigation">
                    <ul class="cd-pagination no-space move-buttons custom-icons">
                        {% if hasPrev %}
                        {% if page > 1 %}
                        <li class="button"><a href="{{site.root}}{{ route.manage_root + route.manage.gallery }}?p={{page - 1}}">Prev</a>
                            {% else %}
                        <li class="button"><a href="{{site.root}}{{ route.manage_root + route.manage.gallery }}">Prev</a>
                            {% endif %}
                            {% endif %}

                            {% for i in range(1, maxPage + 1) -%}
                            {% if i == page %}
                        <li><a class="current" href="{{site.root}}{{ route.manage_root + route.manage.gallery }}?p={{i}}">{{i}}</a>
                            {% else %}
                        <li><a href="{{site.root}}{{ route.manage_root + route.manage.gallery }}?p={{i}}">{{i}}</a>
                            {% endif %}
                            {%- endfor %}

                            {% if hasNext %}
                        <li class="button"><a href="{{site.root}}{{ route.manage_root + route.manage.gallery }}?p={{page + 1}}">Next</a>
                            {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>

    {% include './include/footer.html' %}

</div>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/lib/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/lib/blueimp-file-upload/js/jquery.fileupload.js"></script>
<script src="/lib/dragula.js/dist/dragula.min.js"></script>
<script src="{{site.manageTheme}}/manage/common/gallery.js"></script>
</body>
</html>