<!DOCTYPE HTML>
<html lang="ko">
<head>
    {% include '../include/head.html' %}
</head>
<body>
{% include '../include/nav.html' %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted mbr-after-navbar" id="header1-74" style="background-image: url({{site.theme}}/common/asset/main_bg_mid_hi.jpg);">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left" style="padding-top: 12em; padding-bottom: 6em">
        <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(76, 105, 114);"></div>
        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched">
                <div class="mbr-box__magnet mbr-box__magnet--center-left">
                    <div class="row">
                        <div class=" col-sm-6">
                            <div class="mbr-hero animated fadeInUp">
                                <h1 class="mbr-hero__text" id="header1-41">문의사항</h1>
                                <p class="mbr-hero__subtext">
                                    공개SW 해카톤 운영 사무국 <br>
                                    kosshackathon@kosslab.kr <br>
                                    02-561-0552
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="header3-78">
    <div class="mbr-section__container container mbr-section__container--first">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">궁금하신 사항을 남겨 주세요</h3>
                <p class="mbr-header__subtext">
                    공개SW 해카톤 운영 사무국 <br>
                    kosshackathon@kosslab.kr <br>
                    02-561-0552
                </p>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="content1-70">
    <div class="mbr-section__container container mbr-section__container--first">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="bg-guest-form-holder">

                    <form id="message_form" method="post" action="{{ route.guestbook_root + route.guestbook.message }}">
                        <fieldset class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" name="account_id" class="form-control" id="email" placeholder="Enter email">
                            <small class="text-muted">We'll never share your email with anyone else.</small>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="account_password" class="form-control" id="password" placeholder="Password">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="nickname">Nickname</label>
                            <input type="text" name="nickname" class="form-control" id="nickname" placeholder="Anonymous">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" name="message" id="message" rows="4"></textarea>
                        </fieldset>

                        {% if message.error %}
                        {% for error in message.error %}
                        <div class="alert alert-warning" role="alert">
                            <strong>Warning!</strong> {{ error.msg }}
                        </div>
                        {% endfor %}
                        {% endif %}

                        <div class="checkbox hidden">
                            <label>
                                <input type="checkbox" name="hidden"> Hidden
                            </label>
                        </div>

                        <input type="hidden" name="_csrf" value="{{ _csrf }}"/>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>

            </div>
        </div>
    </div>
</section>


<section class="mbr-section" id="content1-79">
    <div class="mbr-section__container container mbr-section__container--middle">

        <hr>

        <div class="row">
            {% for item in list %}
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
                <h4>{{ item.nickname }}</h4>
                <h5>{{ item.created_at }}</h5>
                <p class="guest-message">
                    {{ item.message | striptags(true) | replace('\n', '<br>') | safe }}
                </p>

                {% if user and user.grant %}
                <div class="row">
                    <div class="col-lg-12">
                        <form id="reply_form" method="post" action="{{ route.guestbook_root + route.guestbook.reply }}">
                            <fieldset class="form-group">
                                <label for="reply">Reply</label>
                                <textarea class="form-control" name="reply" id="reply" rows="6">{{ item.reply | striptags(true) | safe }}</textarea>
                            </fieldset>

                            <div class="pull-lg-right">
                                <input type="hidden" name="account_id" value="{{ item.id }}"/>
                                <input type="hidden" name="_csrf" value="{{ _csrf }}"/>
                                {% if item.reply or item.replied_at %}
                                <button type="submit" class="btn btn-warning">Update</button>
                                {% else %}
                                <button type="submit" class="btn btn-info">Reply</button>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
                {% else %}
                {% if item.reply %}
                <div class="card">
                    <div class="card-block guest-reply">
                        {{ item.reply | striptags(true) | replace('\n', '<br>') | safe }}
                        <p class="guest-replied">{{ item.replied_at }}</p>
                    </div>
                </div>
                {% endif %}
                {% endif %}

                {% if not loop.last %}
                <hr class="hr" style="margin: 3em 0;">
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="mbr-article col-sm-8 col-sm-offset-2">
                <nav>
                    <ul class="pager">
                        {% if hasNext %}
                        <li><a href="{{site.root}}{{ route.guestbook_root + route.guestbook.form }}{{page + 1}}">이전</a></li>
                        {% endif %}
                        {% if hasPrev %}
                        {% if page > 1 %}
                        <li><a href="{{site.root}}{{ route.guestbook_root + route.guestbook.form }}{{page - 1}}">다음</a></li>
                        {% else %}
                        <li><a href="{{site.root}}{{ route.guestbook_root + route.guestbook.form }}">다음</a></li>
                        {% endif %}
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</section>

{% include '../include/footer.html' %}

{% include '../include/script.html' %}
</body>
</html>
