<!doctype html>
<html lang="en">
<head>
    {% include '../../include/head.html' %}
    <link rel="stylesheet" type="text/css" href="{{site.theme}}/common/trix.css">
    <script type="text/javascript" src="{{site.theme}}/common/trix.js"></script>
</head>
<body>
<div id="layout" class="pure-g">

    {% include '../../include/menu.html' %}

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">Write Post</h1>

                <!-- A single blog post -->
                <section class="post">
                    <form class="pure-form pure-form-stacked" id="message_form" method="post" action="{{ site.root }}{{ route.teamblog_root + route.teamblog.write }}">
                        <fieldset class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" class="pure-u-1" id="title" placeholder="Title">
                        </fieldset>
                        <input id="x" type="hidden" name="content">
                        <fieldset class="form-group">
                            <trix-editor input="x" class="trix-editor"></trix-editor>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="tags">Tags</label>
                            <input type="text" name="tags" class="pure-u-1" id="tags" placeholder="Separated by comma(,)">
                        </fieldset>

                        {% if message.error %}
                        {% for error in message.error %}
                        <div class="alert alert-warning" role="alert">
                            <strong>Warning!</strong> {{ error.msg }}
                        </div>
                        {% endfor %}
                        {% endif %}

                        <input type="hidden" name="_csrf" value="{{ _csrf }}" hidden>
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </form>

                </section>
            </div>

            <div class="posts">
                <h1 class="content-subhead">Preview Post</h1>

                <section class="post">
                    <header class="post-header">
                        <img class="post-avatar" alt="Tilo Mitra&#x27;s avatar" height="48" width="48" src="{{site.theme}}/common/asset/tilo-avatar.png">

                        <h2 class="post-title">Introducing Pure</h2>

                        <p class="post-meta">
                            By <a href="#" class="post-author">Tilo Mitra</a> under <a class="post-category post-category-design" href="#">CSS</a> <a class="post-category post-category-pure" href="#">Pure</a>
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            Yesterday at CSSConf, we launched Pure – a new CSS library. Phew! Here are the <a href="https://speakerdeck.com/tilomitra/pure-bliss">slides from the presentation</a>. Although it looks pretty minimalist, we’ve been working on Pure for several months. After many iterations, we have released Pure as a set of small, responsive, CSS modules that you can use in every web project.
                        </p>
                    </div>
                </section>
            </div>

            {% include '../../include/footer.html' %}
        </div>
    </div>
</div>
</body>
</html>
