<!doctype html>
<html lang="en">
<head>
    {% include '../../include/head.html' %}
</head>
<body>
<div id="layout" class="pure-g">

    {% include '../../include/menu.html' %}

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">Write Post</h1>

                <!-- A single blog post -->
                <section class="post">
                    <form class="pure-form pure-form-stacked" id="message_form" method="post" action="/blog{{ route.teamblog.write }}">
                        <fieldset class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" class="pure-u-1" id="title" placeholder="Title">
                        </fieldset>

                        <div class="preview-pre"></div>

                        <fieldset class="form-group textarea-holder">
                            <textarea name="content" class="pure-input-1 web-editor" id="content"></textarea>
                            <div class="tail" id="textarea_caret"></div>
                        </fieldset>

                        <fieldset class="form-group">
                            <div class="pure-g">
                                <div class="pure-u-1-2">
                                    <label for="markdown" class="pure-checkbox">
                                        <input id="markdown" type="checkbox" name="render" value="M" checked> 마크다운 문법을 사용합니다
                                        <a href="https://guides.github.com/features/mastering-markdown/" target="_blank" class="label label-help">Help</a>
                                    </label>
                                </div>
                                <div class="pure-u-1-2 preview-mode">
                                    <label for="dynamic_preview" class="pure-radio">
                                        <input id="dynamic_preview" type="radio" name="preview_mode" value="D" checked> 다이나믹 프리뷰
                                    </label>
                                    <label for="full_preview" class="pure-radio">
                                        <input id="full_preview" type="radio" name="preview_mode" value="F"> 풀 프리뷰
                                    </label>
                                </div>
                            </div>
                        </fieldset>

                        <div class="preview-post"></div>

                        <fieldset class="form-group">
                            <label for="tags">Tags</label>
                            <input type="text" name="tags" class="pure-u-1" id="tags" placeholder="Separated by comma(,)">
                        </fieldset>

                        {% if message.error %}
                        {% for error in message.error %}
                        <div class="alert alert-warning" role="alert">
                            <strong>Warning!</strong> {{ error.msg }}
                        </div>
                        {% endfor %}
                        {% endif %}

                        <input type="hidden" name="_csrf" value="{{ _csrf }}">
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </form>

                </section>
            </div>

            <div class="posts preview-full">
                <h1 class="content-subhead">Preview Post</h1>

                <section class="post">
                    <header class="post-header">
                        <img class="post-avatar" alt="Tilo Mitra&#x27;s avatar" height="48" width="48" src="{{site.theme}}/common/asset/tilo-avatar.png">

                        <h2 class="post-title">Introducing Pure</h2>

                        <p class="post-meta">
                            By <a href="#" class="post-author">Tilo Mitra</a> under <a class="post-category post-category-design" href="#">CSS</a> <a class="post-category post-category-pure" href="#">Pure</a>
                        </p>
                    </header>

                    <div class="post-description">

                    </div>
                </section>
            </div>

            {% include '../../include/footer.html' %}
        </div>
    </div>
</div>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/markdown-it/dist/markdown-it.min.js"></script>
<script src="{{site.theme}}/common/textarea-helper.js"></script>
<script>
    var dynamic_preview = true;
    var markdown = window.markdownit();

    $(funtion () {
        var $content = $('#content');
        var $caret = $('#textarea_caret');

        $content.on('focusin', function () {
            $caret.show();
        });

        $content.on('focusout', function () {
            $caret.hide();
        });

        $content.on('keyup paste cut mouseup', function () {
            var info = $(this).textareaHelper();

            updatePreview(dynamic_preview, info);

            $caret.css(info['caretPos']);
        });

        $('input[name="preview_mode"]').on('change', function() {
            dynamic_preview = this.value === 'D';
            updatePreview(dynamic_preview);
        });
    });

    // Call it manually at first.
    $('textarea').keyup();

    function dynamicPreview(preText, postText) {
        var resultPre = markdown.render(preText);
        var resultPost = markdown.render(postText);

        $('.preview-pre').html(resultPre).addClass('markdown-body');
        $('.preview-post').html(resultPost).addClass('markdown-body');
    }

    function fullPreview(text) {
        var result = markdown.render(text);
        $('.preview-full .post-description').html(result).addClass('markdown-body');
    }

    function updatePreview(dynamic_preview, info) {
        if (info === undefined) {
            if (!dynamic_preview) {
                $('.preview-full').show();
                $('.preview-pre').hide();
                $('.preview-post').hide();
            } else {
                $('.preview-full').hide();
                $('.preview-pre').show();
                $('.preview-post').show();
            }
        } else {
            dynamicPreview($(info['pre']).text(), $(info['post']).text());

            fullPreview(info['str']);
        }
    }

</script>
</body>
</html>
