<!DOCTYPE HTML>
<html lang="ko">
<head>
    {% include './include/head.html' %}
</head>
<body>
{% include './include/nav.html' %}
<section class="ls section_padding_top_100 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="text-center filters col-sm-12">
                <ul class="text-normal smooth-link">
                    <li><a href="#ankus_lite">ankus-Lite</a></li>
                    <li><a href="#cubrid">CUBRID</a></li>
                    <li><a href="#tizen">Tizen</a></li>
                    <li><a href="#tizenapp">Tizen App</a></li>
                    <li><a href="#webos">webOS</a></li>
                    <li><a href="#chromium">Chromium</a></li>
                    <li><a href="#gitshare">GitShare</a></li>
                    <li><a href="#guider">Guider</a></li>
                    <li><a href="#itchain">it-chain</a></li>
                    <li><a href="#netfilter">Netfilter</a></li>
                    <li><a href="#presto">Presto</a></li>
                    <li><a href="#uftrace">uftrace</a></li>
                    <li><a href="#gureum">구름입력기</a></li>
                    <li><a href="#openstack">OpenStack</a></li>
                    <li><a href="#keras">Keras</a></li>
                    <li><a href="#kaggle">캐글</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row" id="projects">
            {% include './projects/01.html' %}
            {% include './projects/02.html' %}
            {% include './projects/03.html' %}
            {% include './projects/04.html' %}
            {% include './projects/05.html' %}
            {% include './projects/06.html' %}
            {% include './projects/07.html' %}
            {% include './projects/08.html' %}
            {% include './projects/09.html' %}
            {% include './projects/10.html' %}
            {% include './projects/11.html' %}
            {% include './projects/12.html' %}
            {% include './projects/13.html' %}
            {% include './projects/14.html' %}
            {% include './projects/15.html' %}
            {% include './projects/16.html' %}
        </div>
    </div>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_75">
    <div class="container"></div>
</section>
{% include './include/footer.html' %}
{% include './include/script.html' %}
<!--to fix old version-->
<script src="/kosshack2018/common/vendor/jquery.scrollTo-min.js"></script>
</body>
</html>