<!DOCTYPE HTML>
<html lang="ko">
<head>
    {% include './include/head.html' %}
</head>
<body>
{% include './include/nav.html' %}
<section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_25">
    <div class="container">

        <div class="row">
            <div class="col-sm-10 col-sm-push-1">
                <h2 class='section_header'>
                    참가 안내
                </h2>
                <hr class="divider_40_3 gradient_bg_color">

                <p>개막식 전까지 다음과 같은 과정을 통해 참가 신청이 이루어 집니다.</p>

                <div class="row regular">
                    <div class="col-sm-12">
                        <ul class="list1 margin_0">
                            <li>참가자 신청 : 7/18(수) ~ 8/9(목) 오후 3시</li>
                            <li>참가자 확정/발표 : 8/13(월)</li>
                            <li>참가 안내 : 8/13(월)~8/14(화)</li>
                        </ul>
                    </div>
                </div>

                <div class="row regular">
                    <div class="col-sm-12">
                        <ul class="list2 margin_0">
                            <li>개막식과 시상식에는 가능한 모든 참여자가 참석해 주시길 부탁드립니다.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-10 col-sm-push-1">
                <h2 class='section_header'>개막식</h2>

                <hr class="divider_40_3 gradient_bg_color">

                <article class="post side-item content-padding with_shadow ">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="item-media">
                                <img src="{{site.theme}}/common/asset/pic_opening.jpg" alt="Opening">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="item-content" id="opening">
                                <p class=" grey darklinks">
                                    <span class="rightpadding_20"><i class="fa fa-calendar highlight"></i> 8월 16일(목)</span>
                                    <i class="fa fa-map-marker highlight"></i> 코엑스
                                </p>
                                <div class="row">
                                    <div class="col-md-3">
                                        17:30~17:40
                                    </div>
                                    <div class="col-md-9">
                                        개회 및 환영사 「정보통신산업진흥원 (미정)」
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        17:40~18:00
                                    </div>
                                    <div class="col-md-9">
                                        (Keynote) Diversity & Inclusion<br>「Apache Software Foundation Member 윤진석」
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        18:00~19:00
                                    </div>
                                    <div class="col-md-9">
                                        컨트리뷰톤 참가자 저녁식사
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        19:00~22:00
                                    </div>
                                    <div class="col-md-9">
                                        프로젝트별 미팅
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-10 col-sm-push-1">
                <h2 class='section_header'>팀별 활동</h2>

                <hr class="divider_40_3 gradient_bg_color">

                <article class="post side-item content-padding with_shadow ">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="item-media">
                                <img src="{{site.theme}}/common/asset/pic_teamwork.jpg" alt="Teamwork">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="item-content">
                                <p class=" grey darklinks">
                                    <span class="rightpadding_20"><i class="fa fa-calendar highlight"></i> 8월 16일(목) ~ 10월 31일(수)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-10 col-sm-push-1">
                <h2 class='section_header'>시상식</h2>

                <hr class="divider_40_3 gradient_bg_color">

                <article class="post side-item content-padding with_shadow ">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="item-media">
                                <img src="{{site.theme}}/common/asset/pic_ce.jpg" alt="Ceremony">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="item-content">
                                <p class=" grey darklinks">
                                    <span class="rightpadding_20"><i class="fa fa-calendar highlight"></i> 11월 SW주간</span>
                                    <i class="fa fa-map-marker highlight"></i> 코엑스
                                </p>
                                <div class="prize-day">
                                    (세부일정은 추후 공개)
                                    {#
                                    <div class="row">
                                        <div class="col-md-3">
                                            10:00∼10:20
                                        </div>
                                        <div class="col-md-9">
                                            환영사 및 컨트리뷰톤 시상식 개최
                                        </div>
                                    </div>
                                    <div class="row blur">
                                        <div class="col-md-3">
                                            10:20∼12:00
                                        </div>
                                        <div class="col-md-9">
                                            프로젝트 별 컨트리뷰톤 성과 발표
                                        </div>
                                    </div>
                                    <div class="row blur">
                                        <div class="col-md-3">
                                            12:00∼13:00
                                        </div>
                                        <div class="col-md-9">
                                            프로젝트 결과 심의 진행 및 우수팀 선정
                                        </div>
                                    </div>
                                    <div class="row blur">
                                        <div class="col-md-3">
                                            10:00∼10:20
                                        </div>
                                        <div class="col-md-9">
                                            환영사 및 컨트리뷰톤 시상식 개최
                                        </div>
                                    </div>
                                    <div class="row blur">
                                        <div class="col-md-3">
                                            13:00∼16:00
                                        </div>
                                        <div class="col-md-9">
                                            미니 컨트리뷰톤 개최
                                        </div>
                                    </div>
                                    <div class="row blur">
                                        <div class="col-md-3">
                                            16:00∼17:00
                                        </div>
                                        <div class="col-md-9">
                                            컨트리뷰톤 성과 공유 (기념 사진촬영)
                                        </div>
                                    </div>
                                    #}
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>

    </div>
</section>

{% include './include/footer.html' %}
{% include './include/script.html' %}
</body>
</html>
