<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="alert alert-error">
                <p class="text"><strong>실패!</strong> 데이터베이스 인증 실패.</p>
            </div>

            <div class="card card-block">
                <h3 class="card-title">데이터베이스 서버 정보와 아이디와 패스워드를 확인해주세요.</h3>
                <p class="card-text">데이터베이스 인증이 진행되지 않으면 다음단계로 진행할 수 없습니다.</p>
                <a href="{{route.admin.root + route.admin.database_setup}}" class="btn btn-primary">다시!</a>
            </div>

        </div>
    </div>
</div>