<!DOCTYPE html>
<html lang="ko">
<head>
    {% include '../_include/head.html' %}
</head>
<body>

<header id="top" class="header">

    {% include '../_include/menu.html' %}

    <section id="page_header" class="page-header">
        <h1>Gallery</h1>
    </section>
</header>

<section id="gallery" class="gallery program">
    <div class="container">
        {% for item in cateList %}
        <div class="row gallery-wrap" id="gallery_{{ item.id }}" data-id="{{ item.id }}">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <h2>{{ item.title }}</h2>

                <div class="media-body">
                    <p class="">{{ item.sub_title }}</p>

                    <div class="image-list"></div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</section>

{% include '../_include/footer.html' %}

</body>
</html>