<!DOCTYPE html>
<html lang="ko">
<head>
    {% include '../include/head.html' %}
</head>
<body>

<header id="top" class="header">

    {% include '../include/menu.html' %}

    <section id="page_header" class="page-header">
        <h1>Presentation</h1>
    </section>
</header>

<section id="program" class="program">
    <div class="container">

        <div class="row tutorial" id="1">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 text-center">
                <h2><span class="small">Track 1</span> <br> Guider: a system-wide performance analyzer</h2>
                <p class="tag">
                    <span class="badge badge-danger" title="Application">Application</span>
                </p>
            </div>

            <div class="col-lg-3 offset-lg-1 col-md-3 offset-md-1 profile">
                <img class="img-responsive img-thumbnail rounded-circle profile-image" src="/kosscon2018/common/asset/speaker/p1.jpg" alt="...">
                <h3>이평화</h3>
                <div>
                    <span class="small">프론티어</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>Linux Kernel 기반 시스템의 성능 분석을 위해 필요한 다양한 기능들을 하나의 툴로서 제공하기 위해 기획된 프로젝트 "Guider"를 소개하고 그 기능들을 공유한다.</dd>
                        </dl>
                        {#<dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2018/raw/master/assets/track1-01.pdf">다운로드</a>
                            </dd>
                        </dl>#}
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                14:00-14:30
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>Guider Project (https://github.com/iipeace/guider)의 OWNER로 활동하고 있습니다.</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="2">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 text-center">
                <h2><span class="small">Track 1</span> <br> 리눅스 커널 BPF / XDP 소개 및 튜토리얼</h2>
                <p class="tag">
                    <span class="badge badge-secondary" title="Kernel">Kernel</span>
                </p>
            </div>

            <div class="col-lg-3 offset-lg-1 col-md-3 offset-md-1 profile">
                <img class="img-responsive img-thumbnail rounded-circle profile-image" src="/kosscon2018/common/asset/speaker/p2-1.jpg" alt="...">
                <img class="img-responsive img-thumbnail rounded-circle profile-image" src="/kosscon2018/common/asset/speaker/p2-2.jpg" alt="...">
                <h3>송태웅, 유태희</h3>
                <div>
                    <span class="small">프론티어</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>리눅스 커널의 BPF와 XDP 기술에 대해서 소개하고
                                네트워크(filtering) 또는 커널 Tracing(성능분석), dynamic kernel code injection 기술에 관심있는 개발자분들을 위해 BPF/XDP 실습 튜토리얼을 함께 진행합니다.</dd>
                        </dl>
                        {#<dl class="dl-horizontal">
                        <dt>발표 자료</dt>
                        <dd>
                            <a href="https://github.com/kosslab-kr/kosscon2018/raw/master/assets/track1-01.pdf">다운로드</a>
                        </dd>
                    </dl>#}
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                14:30-15:00
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>KossLab 개발자</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="3">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 text-center">
                <h2><span class="small">Track 1</span> <br> N-API: Next generation Node.js APIs for native module</h2>
                <p class="tag">
                    <span class="badge badge-info" title="Platform">Platform</span>
                </p>
            </div>

            <div class="col-lg-3 offset-lg-1 col-md-3 offset-md-1 profile">
                <img class="img-responsive img-thumbnail rounded-circle profile-image" src="/kosscon2018/common/asset/speaker/p3.jpg" alt="...">
                <h3>방진호</h3>
                <div>
                    <span class="small">프론티어</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>기존의 NAN(Native Abstractions for Node.js)을 대체하는 N-API에 대해서 알아보고 어떤 특징이 있는지 살펴본다. 또한 이러한 N-API의 개발 동향과 WebIDL을 이용한 개선 방법에 대해서 공유한다.</dd>
                        </dl>
                        {#<dl class="dl-horizontal">
                        <dt>발표 자료</dt>
                        <dd>
                            <a href="https://github.com/kosslab-kr/kosscon2018/raw/master/assets/track1-01.pdf">다운로드</a>
                        </dd>
                    </dl>#}
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                15:00-15:30
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                - Chromium/Blink Owner<br>
                                - W3C Spec Editor<br>
                                - Node.js contributor<br>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="4">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 text-center">
                <h2><span class="small">Track 1</span> <br> WebXR in Chromium</h2>
                <p class="tag">
                    <span class="badge badge-primary" title="Web">Web</span>
                </p>
            </div>

            <div class="col-lg-3 offset-lg-1 col-md-3 offset-md-1 profile">
                <img class="img-responsive img-thumbnail rounded-circle profile-image" src="/kosscon2018/common/asset/speaker/p4.jpg" alt="...">
                <h3>고병권</h3>
                <div>
                    <span class="small">프론티어</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>웹 Browser와 AR, VR에 대해 이야기 합니다.</dd>
                        </dl>
                        {#<dl class="dl-horizontal">
                        <dt>발표 자료</dt>
                        <dd>
                            <a href="https://github.com/kosslab-kr/kosscon2018/raw/master/assets/track1-01.pdf">다운로드</a>
                        </dd>
                    </dl>#}
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                15:30-16:00
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>KossLab 개발자</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="5">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 text-center">
                <h2><span class="small">Track 1</span> <br> LKMM: Formalized Memory Model for the Linux Kernel</h2>
                <p class="tag">
                    <span class="badge badge-secondary" title="Kernel">Kernel</span>
                </p>
            </div>

            <div class="col-lg-3 offset-lg-1 col-md-3 offset-md-1 profile">
                <img class="img-responsive img-thumbnail rounded-circle profile-image" src="/kosscon2018/common/asset/speaker/p5.jpg" alt="...">
                <h3>박성재</h3>
                <div>
                    <span class="small">프론티어</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>병렬 프로그래밍 환경에 필수적인 메모리 모델의 개념과 리눅스 커널 메모리 모델의 발전 역사에 대해 간략히 소개하고 리눅스 커널의 코드를 수행하고 검증할 수 있는 메모리 모델 도구인 LKMM 의 구조와 사용법을 알아본다.</dd>
                        </dl>
                        {#<dl class="dl-horizontal">
                        <dt>발표 자료</dt>
                        <dd>
                            <a href="https://github.com/kosslab-kr/kosscon2018/raw/master/assets/track1-01.pdf">다운로드</a>
                        </dd>
                    </dl>#}
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                16:00-16:30
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>KossLab 개발자</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="6">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 text-center">
                <h2><span class="small">Track 2</span> <br> 웹의 미래와 현재 - Progressive Web App</h2>
                <p class="tag">
                    <span class="badge badge-primary" title="Web">Web</span>
                </p>
            </div>

            <div class="col-lg-3 offset-lg-1 col-md-3 offset-md-1 profile">
                <img class="img-responsive img-thumbnail rounded-circle profile-image" src="/kosscon2018/common/asset/speaker/p6.jpg" alt="...">
                <h3>장기효</h3>
                <div>
                    <span class="small">프론티어</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>프로그레시브 웹 앱은 사용자 경험을 향상시키기 위한 새로운 웹 애플리케이션이다. 프로그레시브 웹 앱으로 사용자 경험을 향상시킬 수 있는 방법들에 대해서 알아보고 실제로 적용된 서비스에 대해 알아본다.</dd>
                        </dl>
                        {#<dl class="dl-horizontal">
                        <dt>발표 자료</dt>
                        <dd>
                            <a href="https://github.com/kosslab-kr/kosscon2018/raw/master/assets/track1-01.pdf">다운로드</a>
                        </dd>
                    </dl>#}
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                14:00-14:30
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>KossLab 개발자</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="7">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 text-center">
                <h2><span class="small">Track 2</span> <br> P2P messaging using Tox</h2>
                <p class="tag">
                    <span class="badge badge-danger" title="Application">Application</span>
                </p>
            </div>

            <div class="col-lg-3 offset-lg-1 col-md-3 offset-md-1 profile">
                <img class="img-responsive img-thumbnail rounded-circle profile-image" src="/kosscon2018/common/asset/speaker/p7.jpg" alt="...">
                <h3>조남수</h3>
                <div>
                    <span class="small">프론티어</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>인스턴트 메시징에서 보안의 중요성이 날로 대두되는 상황에서 보안성을 크게 강화한 P2P 메시징 프로토콜인 Tox protocol과 Rust 언어를 사용한 구현에 대해 공유한다.</dd>
                        </dl>
                        {#<dl class="dl-horizontal">
                        <dt>발표 자료</dt>
                        <dd>
                            <a href="https://github.com/kosslab-kr/kosscon2018/raw/master/assets/track1-01.pdf">다운로드</a>
                        </dd>
                    </dl>#}
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                14:30-15:00
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>- ETRI 연구원 <br>
                                - Tox-rs 프로젝트 멤버</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="8">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 text-center">
                <h2><span class="small">Track 2</span> <br> Implementing private blockchain</h2>
                <p class="tag">
                    <span class="badge badge-success" title="Block-chain">Block-chain</span>
                </p>
            </div>

            <div class="col-lg-3 offset-lg-1 col-md-3 offset-md-1 profile">
                <img class="img-responsive img-thumbnail rounded-circle profile-image" src="/kosscon2018/common/asset/speaker/p8.jpg" alt="...">
                <h3>이준범</h3>
                <div>
                    <span class="small">프론티어</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>프라이빗 블록체인은 허가된 노드들 사이에서 중개기관을 거칠 필요 없이, 서로가 자신의 데이터를 온전히 신뢰할 수 있게 된어 데이터 오차수정, 불일치 내역 조정, 커뮤니케이션을 위한 메시징 시간 절감 등의 여러가지 혁신적인 변화를 기대할 수 있다. 이 세션에서는 Private Blockchain개발에 사용되는 기술과 실제 구현 경험에 대해 공유한다.</dd>
                        </dl>
                        {#<dl class="dl-horizontal">
                        <dt>발표 자료</dt>
                        <dd>
                            <a href="https://github.com/kosslab-kr/kosscon2018/raw/master/assets/track1-01.pdf">다운로드</a>
                        </dd>
                    </dl>#}
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                15:00-15:30
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>카이스트 전삭학부 석사 과정</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="9">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 text-center">
                <h2><span class="small">Track 2</span> <br> Backend.AI 소개 및 튜토리얼</h2>
                <p class="tag">
                    <span class="badge badge-warning" title="AI">A.I</span>
                </p>
            </div>

            <div class="col-lg-3 offset-lg-1 col-md-3 offset-md-1 profile">
                <img class="img-responsive img-thumbnail rounded-circle profile-image" src="/kosscon2018/common/asset/speaker/p9.jpg" alt="...">
                <h3>조만석</h3>
                <div>
                    <span class="small">프론티어</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>Backend.AI는 인공지능 개발자들에게 쉽게 학습 모델을 개발할 수 있도록 도움을 줍니다. 본 과정에서는 Backend.Ai를 소개하고, 튜토리얼을 통해서 인공지능 모델 개발을 실습하는 과정입니다. </dd>
                        </dl>
                        {#<dl class="dl-horizontal">
                        <dt>발표 자료</dt>
                        <dd>
                            <a href="https://github.com/kosslab-kr/kosscon2018/raw/master/assets/track1-01.pdf">다운로드</a>
                        </dd>
                    </dl>#}
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                15:30-16:00
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>KossLab 개발자</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="10">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 text-center">
                <h2><span class="small">Track 2</span> <br> webOS OSE에서 Native 앱 & 서비스 개발</h2>
                <p class="tag">
                    <span class="badge badge-danger" title="Application">Application</span>
                </p>
            </div>

            <div class="col-lg-3 offset-lg-1 col-md-3 offset-md-1 profile">
                <img class="img-responsive img-thumbnail rounded-circle profile-image" src="/kosscon2018/common/asset/speaker/no-profile.png" alt="...">
                <h3>고석하</h3>
                <div>
                    <span class="small">LG전자</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>webOS OSE는 webOS의 오픈소스 버전으로 네이티브 앱과 서비스를 개발할 수 있다. 본 발표에서는 webOS OSE를 위한 네이티브 앱과 서비스를 개발하고 빌드하는 방법에 대해서 설명한다.</dd>
                        </dl>
                        {#<dl class="dl-horizontal">
                        <dt>발표 자료</dt>
                        <dd>
                            <a href="https://github.com/kosslab-kr/kosscon2018/raw/master/assets/track1-01.pdf">다운로드</a>
                        </dd>
                    </dl>#}
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                16:00-16:30
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>LG전자 선임 (LG전자에서 webOS Application을 위한 SDK를 개발하고 있습니다.)</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        {#
        <div class="row go-reservation">
            <div class="col-lg-6 col-lg-offset-4 col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-9 col-xs-offset-1">
                <p class="lead">좌석이 한정되어 있으므로 튜토리얼에 참여를 원하시는 분은 지금 사전 등록하시기 바랍니다.</p>
                <p class="link">
                    <a href="/reservation"><span class="register">사전 등록하기<i class="glyphicon glyphicon-chevron-right"></i></span></a>
                </p>
            </div>
        </div>
        #}
    </div>
</section>

{% include '../include/footer.html' %}

</body>
</html>