html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "나눔바른고딕", NanumBarunGothic, "Source Sans Pro", "Helvetica Neue", "돋움", dotum, Helvetica, Arial, sans-serif;
}
.header {
  background: #4c82de;
  background: -webkit-linear-gradient(86deg, #4c82de, #5257cf);
  background: -o-linear-gradient(86deg, #4c82de, #5257cf);
  background: -moz-linear-gradient(86deg, #4c82de, #5257cf);
  background: linear-gradient(86deg, #4c82de, #5257cf);
  font-family: "Roboto", "Noto Sans KR", Helvetica, Arial, sans-serif;
}
.header .logo {
  margin: 2em 1em 1em 3em;
  max-height: 40px;
  max-width: 200px;
  float: left;
}
.header .menu {
  margin: 1.8em 2em 0 0;
  color: #FFFFFF;
  float: right;
}
.header .menu li {
  float: left;
  list-style: none;
  padding: 1em;
}
.header .menu li a {
  text-decoration: none;
  color: #FFFFFF;
}
.header .menu li a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 414px) {
  .header .logo {
    display: none;
  }
  .header .menu {
    float: left;
  }
}
.bg-image {
  transition: background 1s linear;
}
.bg-image-1 {
  background: url(/kosscon/common/asset/home-hero-1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-image-2 {
  background: url(/kosscon/common/asset/home-hero-2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-image-3 {
  background: url(/kosscon/common/asset/home-hero-3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-image-4 {
  background: url(/kosscon/common/asset/home-hero-4.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero {
  color: #FFFFFF;
  display: table;
  position: relative;
  width: 100%;
  min-height: 600px;
}
@media screen and (max-width: 767px) {
  .hero {
    min-height: 400px;
    padding: 0 2em;
  }
}
.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vertical-center h1 {
  margin: 0 1.4em 1em 1.4em;
  padding: 0;
  font-size: 4.6em;
  font-weight: bold;
  font-family: "Noto Sans KR", "Nanum Gothic", "돋움", Arial, Verdana, sans-serif;
}
.text-vertical-center h2 {
  font-size: 1.7em;
}
.text-vertical-center h2.location {
  margin-top: 10px;
}
@media only screen and (min-width: 320px) {
  .text-vertical-center h1 {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 360px) {
  .text-vertical-center h1 {
    font-size: 1.9em;
  }
}
@media only screen and (min-width: 375px) {
  .text-vertical-center h1 {
    font-size: 2.2em;
  }
}
@media only screen and (min-width: 414px) {
  .text-vertical-center h1 {
    font-size: 3.2em;
  }
}
@media only screen and (min-width: 768px) {
  .text-vertical-center h1 {
    font-size: 4.2em;
  }
}
.page-header {
  min-height: 280px;
  padding: 1em;
  margin: 0;
  border-bottom: 1px solid #eee;
}
.page-header h1 {
  color: #FFFFFF;
  margin-top: 196px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
}
.about,
.register {
  margin: 120px 0 80px;
}
.about h2,
.register h2 {
  color: #4A90E2;
  margin: 1em 2em;
  font-size: 2.4em;
}
.about p.lead,
.register p.lead {
  color: #333333;
  margin: 1em 2em;
  font-size: 17px;
}
.about .strong,
.register .strong {
  font-weight: bold;
  padding-right: 2px;
}
@media screen and (max-width: 767px) {
  .about h2,
  .register h2 {
    margin: 0 0.5em 2em;
    font-size: 2.2em;
  }
  .about p.lead,
  .register p.lead {
    text-align: left;
    font-size: 16px;
    line-height: 1.8;
  }
}
.about .category,
.register .category {
  margin-top: 8em;
  text-align: center;
}
.about .category span,
.register .category span {
  margin: 4em auto;
  padding: 76px 18px 0;
  color: #ABABAB;
}
.about .category .mobile,
.register .category .mobile {
  background: url("/kosscon/common/asset/home-subject-mobile.png") top center no-repeat;
  background-size: 60px 60px;
}
.about .category .web,
.register .category .web {
  background: url("/kosscon/common/asset/home-subject-web.png") top center no-repeat;
  background-size: 60px 60px;
}
.about .category .iot,
.register .category .iot {
  background: url("/kosscon/common/asset/home-subject-iot.png") top center no-repeat;
  background-size: 60px 60px;
}
.about .category .app,
.register .category .app {
  background: url("/kosscon/common/asset/home-subject-app.png") top center no-repeat;
  background-size: 60px 60px;
}
.about .category .kernel,
.register .category .kernel {
  background: url("/kosscon/common/asset/home-subject-kernel.png") top center no-repeat;
  background-size: 60px 60px;
}
.about .category .platform,
.register .category .platform {
  background: url("/kosscon/common/asset/home-subject-platform.png") top center no-repeat;
  background-size: 60px 60px;
}
.about .link,
.register .link {
  margin-top: 4em;
}
.about .link a span,
.register .link a span {
  display: inline-block;
  margin: 4em auto;
  padding: 160px 8em 0;
  color: #4A90E2;
}
.about .link a .program,
.register .link a .program {
  background: url("/kosscon/common/asset/home-shortcut-program.png") top center no-repeat;
  background-size: 180px 140px;
}
.about .link a .register,
.register .link a .register {
  background: url("/kosscon/common/asset/home-shortcut-register.png") top center no-repeat;
  background-size: 180px 140px;
}
.gift hr.hr {
  margin-left: 3em;
  margin-right: 3em;
}
.gift .gift-condition {
  margin-bottom: 3em;
}
.gift .gift-condition h2 {
  color: #4A90E2;
  margin-top: 5em;
  margin-bottom: 2em;
  text-align: center;
}
.gift .gift-condition .lead {
  font-size: 1.2em;
  line-height: 1.8;
  text-align: center;
}
.gift .gift-condition .lead .strong {
  color: #4A90E2;
}
.gift .product {
  display: inline-block;
  margin-left: 1em;
}
.gift .product img {
  padding-bottom: 1em;
}
.gift .product .count {
  color: #979797;
  font-size: 0.9em;
  margin-top: 0.6em;
  display: inline-block;
}
.gift .divider {
  border-left: 1px solid #DFDFDF;
}
.gift .notice {
  padding-top: 7em;
  padding-bottom: 9em;
}
.gift .notice p {
  text-align: center;
  color: #979797;
}
@media screen and (max-width: 767px) {
  .gift .lead {
    text-align: left;
    font-size: 15px;
    line-height: 1.7;
  }
}
.gift h3 {
  color: #777777;
  font-size: 1.2em;
  padding-left: 1em;
  text-decoration: underline;
}
.pre-con {
  background: url("/kosscon/common/asset/home-lastet-bg.jpg") center center no-repeat;
  min-height: 324px;
  color: #FFFFFF;
}
.pre-con .container {
  padding-top: 150px;
}
.pre-con .title,
.pre-con .link {
  display: table;
  position: relative;
}
.pre-con h4 {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  font-size: 2em;
}
.pre-con .links {
  padding-top: 0.5em;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}
.pre-con .links a {
  display: inline;
  color: #FFFFFF;
  margin-right: 1em;
}
@media only screen and (max-width: 767px) {
  .pre-con .container {
    padding-left: 4em;
  }
}
@media only screen and (max-width: 400px) {
  .pre-con .container {
    padding-left: 1em;
  }
}
@media only screen and (max-width: 320px) {
  .pre-con h4 {
    font-size: 1.4em;
  }
}
.program {
  padding-bottom: 5em;
  /*
  @media only screen and (min-width: 1200px) {
    .tutorial tr th:first-child, .tutorial tr td:first-child {
      display: none;
    }

    .lunch, .finale {
      color: #FFFFFF;
    }

    .tutorial-section-1 {
      height: 94px;
    }
    .tutorial-section-2 {
      height: 141px;
    }
    .tutorial-section-3 {
      height: 141px;
    }
  }
  */
}
.program h2 {
  color: #4A90E2;
  font-size: 1.9em;
  margin-top: 3.8em;
  margin-bottom: 1.5em;
}
.program .small {
  color: #979797;
  padding-left: 3px;
}
.program .table-responsive {
  font-size: 1.15em;
  border-left: 0;
  border-right: 0;
  border-color: #979797;
}
.program .table-responsive table {
  border-bottom: 1px solid #979797;
}
.program .table-responsive th {
  font-size: 0.85em;
  color: #9B9B9B;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1px;
  border-top-width: 3px;
  border-color: #979797;
}
.program .table-responsive td {
  padding-left: 1px;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
.program .table-responsive .subject {
  width: 11em;
}
.program .table-responsive .label {
  font-size: 0.6em;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  .program .table-responsive {
    font-size: 1.0em;
  }
}
.register form {
  margin-top: 4em;
  padding-top: 2em;
  border-top: 3px solid #979797;
}
.register form .form-group .form-control {
  height: 50px;
  border-radius: 0;
  background: #F5F5F5;
  font-size: 18px;
}
.register form .form-group .control-label {
  color: #979797;
  text-align: left;
  padding-top: 17px;
  font-weight: normal;
}
.register form .form-group .additional-text {
  padding-top: 1.6em;
  text-align: right;
  text-decoration: underline;
}
.register form .form-group .additional-text a {
  color: #4A90E2;
  margin: 0 0.5em;
}
.register form .form-group button.secret {
  padding: 12px;
  border-radius: 1px;
}
.register form .form-group button.submit {
  margin-top: 1em;
  letter-spacing: 2px;
  padding: 10px 36px;
  border-radius: 1px;
  background-color: #4A90E2;
}
.register form h3 {
  margin: 3em 1em 1.5em 0;
  font-size: 1.8em;
}
.register form .section {
  margin: 2em 1em 1em 0;
  font-size: 1.7em;
}
.register form .section i {
  padding-right: 8px;
}
.register form .list-group-item label.radio {
  font-size: 18px;
  margin-left: 2em;
  padding-bottom: 7px;
}
.register form .list-group-item label.radio .closed {
  padding-top: 0.3em;
  margin-left: 1em;
}
.register form .small {
  font-size: 0.8em;
  color: #979797;
  padding-left: 5px;
}
.register form .disabled {
  color: #979797;
}
.register form .message {
  padding-top: 0.5em;
  margin-bottom: 0;
}
.register .apply-section-title {
  color: #fff;
  background-color: #4A90E2;
  border-color: #4A90E2;
  text-align: center;
}
.register .speaker {
  padding-left: 5px;
  font-size: 0.8em;
  color: #4A90E2;
}
.location h2 {
  color: #4A90E2;
  font-size: 1.9em;
  margin-top: 3.8em;
  margin-bottom: 1.5em;
}
.location .map {
  height: 500px;
}
@media (max-width: 768px) {
  .location .map {
    height: 75%;
  }
}
.location .map iframe {
  pointer-events: none;
}
.location .transport {
  margin-top: 4em;
  margin-bottom: 4em;
  color: #333333;
}
.location .transport .strong {
  padding-right: 0.8em;
}
.location .transport .trans p {
  position: relative;
  margin-left: 9.8em;
}
.location .transport .trans .strong {
  position: absolute;
  left: -9em;
  top: 0;
  color: #222222;
  font-weight: bold;
}
.location .transport .buses p {
  position: relative;
  margin-left: 7.8em;
}
.location .transport .buses .strong {
  position: absolute;
  left: -7em;
  top: 0;
  color: #222222;
  font-weight: bold;
}
.location .transport .buses .b1 {
  color: #3454A4;
}
.location .transport .buses .b2 {
  color: #4FA031;
}
.location .transport .buses .b3 {
  color: #5EAC40;
}
.location .transport .buses .b4 {
  color: #EC404F;
}
.location .transport .buses .b5 {
  color: #81BEE6;
}
.footer {
  padding-top: 1em;
  color: #9B9B9B;
  background: #f9f9f9;
}
.footer .sponsor {
  display: inline-block;
  margin-top: 3em;
  margin-bottom: 2em;
}
.footer .sponsor h3 {
  position: absolute;
  top: -0.7em;
  left: -3em;
  font-size: 14px;
}
.footer .sponsor ul {
  padding: 0;
  display: inline-block;
  position: relative;
  float: left;
  margin-left: 8em;
}
@media screen and (max-width: 320px) {
  .footer .sponsor ul {
    margin-left: 5em;
  }
}
.footer .sponsor li {
  padding-right: 2em;
  list-style: none;
  float: left;
}
.footer .sponsor li:last-child {
  padding-right: 0;
}
.footer .sponsor .msip img {
  width: 132px;
  height: 32px;
}
.footer .sponsor .nipa a img {
  width: 168px;
  height: 32px;
}
.footer .sponsor .ipa a img {
  width: 147px;
  height: 32px;
}
.footer .sponsor .kosslab a img {
  width: 177px;
  height: 32px;
}
#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 1.25em;
}
