.application-wrapper {
    margin-top: 52px;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

.application-wrapper h3 {
    text-decoration: underline;
}

.application-wrapper .content {
    padding: 2em;
}

.alert {
    background: #DF7514;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 0.8em 1em;
    margin-bottom: 1em;
    color: #fff;
}

.splash p a.pure-button {
    margin: 4px;
}

.content p {
    text-align: justify;
}

.content a {
    color: #2d3e50;
    font-weight: bold;
}

.content small {
    letter-spacing: 0.05em;
    opacity: 0.2;
    margin-left: 4px;
}

.content-head {
    padding: 0 2em;
}

@media (min-width: 78em) {
    .content-head {
        padding: 0 1em;
    }
}
