.alert {
    background: #1f8dd6;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 3px;
    color: #fff;
}

.splash p a.pure-button {
    margin: 4px;
}

.content p {
    text-align: justify;
}

.content a {
    color: #2d3e50;
    font-weight: bold;
}

.content small {
    letter-spacing: 0.05em;
    opacity: 0.2;
    margin-left: 4px;
}

.content-head {
    padding: 0 2em;
}

@media (min-width: 78em) {
    .content-head {
        padding: 0 1em;
    }
}
