<!DOCTYPE HTML>
<html lang="ko">
<head>
    {% include './include/head.html' %}
</head>
<body>
{% include './include/nav.html' %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background mbr-after-navbar" id="header1-73" style="background-image: url({{site.theme}}/common/asset/main_bg_top_hi.jpg);">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">
        <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(76, 105, 114);"></div>
        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-left">
                <div class="row"><div class=" col-sm-6">
                    <div class="mbr-hero animated fadeInUp">
                        <h1 class="mbr-hero__text" id="header1-41">알 수 없는 오류가 발생했습니다!</h1>
                        <p class="mbr-hero__subtext">{{ error }}</p>
                    </div>
                    <div class="mbr-buttons btn-inverse mbr-buttons--left">
                        <a class="mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" href="/">홈으로 이동</a></div>
                </div></div>
            </div></div>
        </div>
    </div>
</section>

{% include './include/footer.html' %}

</body>
</html>