<!DOCTYPE HTML>
<html lang="ko">
<head>
    {% include './include/head.html' %}
</head>
<body>
{% include './include/nav.html' %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted mbr-after-navbar" id="header1-74" style="background-image: url({{site.theme}}/common/asset/main_bg_mid_hi.jpg);">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left" style="padding-top: 12em; padding-bottom: 6em">
        <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(76, 105, 114);"></div>
        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched">
                <div class="mbr-box__magnet mbr-box__magnet--center-left">
                    <div class="row">
                        <div class=" col-sm-6">
                            <div class="mbr-hero animated fadeInUp">
                                <h1 class="mbr-hero__text" id="header1-41">프로젝트 리스트</h1>
                                <p class="mbr-hero__subtext">
                                    공개SW개발자Lab 을 통해 진행되고 있는 다양한 오픈소스 프로젝트를 만나보세요. 관심있거나 참여하고 싶은 프로젝트의 커미터가 되는 가장 좋은 기회! 프로젝트 맨토를 통해 처음부터 차근차근 배울 수 있습니다.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="header3-109">
    <div class="mbr-section__container container mbr-section__container--first">
        <div class="mbr-header row">
            <div class="col-sm-12 hidden-xs">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>맨토</th>
                                <th>프로젝트</th>
                                <th>저장소</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">강명구</th>
                                <td><a href="#project_1">Instagram 정보 가공 플러그인</a></td>
                                <td><a target="_blank" href="https://github.com/stevenschobert/instafeed.js">https://github.com/stevenschobert/instafeed.js</a></td>
                            </tr>
                            <tr>
                                <th scope="row">김동우</th>
                                <td><a href="#project_2">Titanium Boiler Plate Template</a></td>
                                <td><a target="_blank" href="https://github.com/appcelerator/titanium_mobile">https://github.com/appcelerator/titanium_mobile</a></td>
                            </tr>
                            <tr>
                                <th scope="row">김종광</th>
                                <td><a href="#project_3">IoT Labs</a></td>
                                <td><a target="_blank" href="https://github.com/jongkwang/IoTLabs">https://github.com/jongkwang/IoTLabs</a></td>
                            </tr>
                            <tr>
                                <th scope="row">방진호</th>
                                <td><a href="#project_4">Chromium/Blink</a></td>
                                <td><a target="_blank" href="https://chromium.googlesource.com/chromium/src.git">https://chromium.googlesource.com/chromium/src.git</a></td>
                            </tr>
                            <tr>
                                <th scope="row">송태웅</th>
                                <td><a href="#project_5">Perf (Linux)</a></td>
                                <td><a target="_blank" href="https://git.kernel.org/cgit/linux/kernel/git/tip/tip.git">https://git.kernel.org/cgit/linux/kernel/git/tip/tip.git</a></td>
                            </tr>
                            <tr>
                                <th scope="row">이창환</th>
                                <td><a href="#project_6">Toybox</a></td>
                                <td><a target="_blank" href="https://github.com/landley/toybox.git">https://github.com/landley/toybox.git</a></td>
                            </tr>
                            <tr>
                                <th scope="row">장기영</th>
                                <td><a href="#project_7">AX5UI</a></td>
                                <td><a target="_blank" href="https://github.com/ax5ui">https://github.com/ax5ui</a></td>
                            </tr>
                            <tr>
                                <th scope="row">주영택</th>
                                <td><a href="#project_8">블리티터</a></td>
                                <td><a target="_blank" href="https://github.com/soomtong/blititor">https://github.com/soomtong/blititor</a></td>
                            </tr>
                            <tr>
                                <th scope="row">정윤원</th>
                                <td><a href="#project_9">Say</a></td>
                                <td><a target="_blank" href="https://github.com/youknowone/Say">https://github.com/youknowone/Say</a></td>
                            </tr>
                            <tr>
                                <th scope="row">서상현</th>
                                <td><a href="#project_10">Rust</a></td>
                                <td><a target="_blank" href="https://github.com/rust-lang/rust">https://github.com/rust-lang/rust</a></td>
                            </tr>
                            <tr>
                                <th scope="row">윤제상</th>
                                <td><a href="#project_11">Apache Zeppelin & Project Johana</a></td>
                                <td><a target="_blank" href="https://github.com/addnull/johanna">https://github.com/addnull/johanna</a></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="content1-96">
    <div class="mbr-section__container container mbr-section__container--middle">

        <div class="row" id="project_1">
            {% include './include/projects/1.html' %}
        </div>

        <div class="row" id="project_2">
            {% include './include/projects/2.html' %}
        </div>

        <div class="row" id="project_3">
            {% include './include/projects/3.html' %}
        </div>

        <div class="row" id="project_4">
            {% include './include/projects/4.html' %}
        </div>

        <div class="row" id="project_5">
            {% include './include/projects/5.html' %}
        </div>

        <div class="row" id="project_6">
            {% include './include/projects/6.html' %}
        </div>

        <div class="row" id="project_7">
            {% include './include/projects/7.html' %}
        </div>

        <div class="row" id="project_8">
            {% include './include/projects/8.html' %}
        </div>

        <div class="row" id="project_9">
            {% include './include/projects/9.html' %}
        </div>

        <div class="row" id="project_10">
            {% include './include/projects/10.html' %}
        </div>

        <div class="row" id="project_11">
            {% include './include/projects/11.html' %}
        </div>

    </div>
</section>

<section class="mbr-section" id="buttons1-115">
    <div class="mbr-section__container container mbr-section__container--middle">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="mbr-buttons mbr-buttons--center">
                    <a class="mbr-buttons__btn btn btn-lg btn-warning" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfNhQK8NndgFmftqwt3JBuAqEDpaREIpgbk75Xkk3ayb8HwxA/viewform">참가신청</a>
                </div>
            </div>
        </div>
    </div>
</section>


{% include './include/footer.html' %}

{% include './include/script.html' %}
</body>
</html>