<!DOCTYPE html>
<html lang="ko">
<head>
    {% include './include/head.html' %}
</head>
<body>

<header id="top" class="header">

    {% include './include/menu.html' %}

    <section id="page_header" class="page-header">
        <h1>PROGRAM</h1>
    </section>
</header>

<section id="program" class="program">
    <div class="container">

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <h2>Reception / Keynote</h2>

                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th class="subject">TIME</th>
                            <th>PROGRAM</th>
                        </tr>
                        <tr>
                            <td>10:00 - 10:20</td>
                            <td>개회 및 환영사</td>
                        </tr>
                        <tr>
                            <td>10:20 - 12:00</td>
                            <td><a href="/program/keynote">Keynote</a>
                                <span class="small">Red Hat Inc. David S. Miller</span> &nbsp;
                                <span class="small">㈜큐브리드 오명환 상무</span>
                        </tr>
                        <tr>
                            <td>12:00 - 13:00</td>
                            <td>점심식사 및 다과 (코엑스 1 층 '루')</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <h2>Presentation</h2>
                <p class="text-right">
                    <span class="label label-default" title="Kernel">Kernel</span>
                    <span class="label label-primary" title="Network">Network</span>
                    <span class="label label-info" title="Platform">Platform</span>
                    <span class="label label-success" title="BigData">BigData</span>
                    <span class="label label-warning" title="AI">A.I</span>
                    <span class="label label-danger" title="Application">Application</span>
                </p>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th class="subject">TIME</th>
                            <th>TRACK 1</th>
                            <th>TRACK 2</th>
                        </tr>
                        <tr>
                            <td>13:00 - 13:40</td>
                            <td><a href="/program/presentation#1">레디스 기능의 변화 3.x 부터 최근까지</a>
                                <br>
                                <span class="label label-info" title="Platform">Platform</span>
                                <span class="small">강대명</span>
                            </td>
                            <td><a href="/program/presentation#7">Hello, Gstreamer</a>
                                <br>
                                <span class="label label-danger" title="Application">M</span>
                                <span class="small">김정석</span>
                            </td>
                        </tr>
                        <tr>
                            <td>13:40 - 14:20</td>
                            <td><a href="/program/presentation#2">ONOS와 SDN 기반 네트워크 가상화</a>
                                <br>
                                <span class="label label-primary" title="Network">N</span>
                                <span class="small">한상윤</span>
                            </td>
                            <td><a href="/program/presentation#8">국립국어원 오픈소스 어휘 정보 활용</a>
                                <br>
                                <span class="label label-warning" title="AI">A</span>
                                <span class="small">류창우</span>
                            </td>
                        </tr>
                        <tr>
                            <td>14:20 - 15:00</td>
                            <td><a href="/program/presentation#3">Automotive Open Source Platform Using Yocto Project</a>
                                <br>
                                <span class="label label-info" title="Platform">P</span>
                                <span class="small">배창혁</span>
                            </td>
                            <td><a href="/program/presentation#9">Mesa Overview</a>
                                <br>
                                <span class="label label-danger" title="Application">M</span>
                                <span class="small">문관경</span>
                            </td>
                        </tr>
                        <tr>
                            <td>15:00 - 15:40</td>
                            <td><a href="/program/presentation#4">Contributing to Pandas</a>
                                <br>
                                <span class="label label-info" title="Platform">P</span>
                                <span class="small">김영근</span>
                            </td>
                            <td><a href="/program/presentation#10">Toyshark 오픈소스프로젝트의 Java에서 Kotlin으로 넘어가기</a>
                                <br>
                                <span class="label label-danger" title="Application">M</span>
                                <span class="small">이창환</span>
                            </td>
                        </tr>
                        <tr>
                            <td>15:40 - 16:20</td>
                            <td><a href="/program/presentation#5">TensorFlow Eager mode on backend.AI</a>
                                <br>
                                <span class="label label-warning" title="AI">A</span>
                                <span class="small">신정규</span>
                            </td>
                            <td><a href="/program/presentation#11">MySQL vs PostgreSQL in-depth comparison</a>
                                <br>
                                <span class="small">이형채</span>
                            </td>
                        </tr>
                        <tr>
                            <td>16:20 - 17:00</td>
                            <td><a href="/program/presentation#6">Apache Zeppelin의 Pluggability</a>
                                <br>
                                <span class="label label-success" title="BigData">B</span>
                                <span class="small">이종열</span>
                            </td>
                            <td><a href="/program/presentation#12">Chromium Overview</a>
                                <br>
                                <span class="label label-info" title="Platform">P</span>
                                <span class="small">김동준</span>
                            </td>
                        </tr>
                        <tr>
                            <td>17:00 - 18:00</td>
                            <td colspan="2">경품 추첨 및 폐회</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <h2>컨트리뷰톤 &nbsp;<small><a href="https://contributhon.kr/project"><i class="glyphicon glyphicon-link"></i> 2017 Contributhon </a></small></h2>
                <p class="text-right"></p>
                <div class="table-responsive">
                    <table class="table tutorial">
                        <tr>
                            <th class="subject">TIME</th>
                            <th>TRACK 3</th>
                        </tr>
                        <tr>
                            <td>13:00 - 17:00</td>
                            <td>컨트리뷰톤 진행 – 사례발표 및 활동경험공유</td>
                        </tr>
                        <tr>
                            <td>17:00 - 18:00</td>
                            <td>컨트리뷰톤, 우수 개발자 시상식 진행 경품추첨</td>
                        </tr>
                    </table>
                </div>
            </div>


            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <h2>Tutorial</h2>
                <p class="text-right">
                    <span class="label label-default" title="Mobile">Mobile</span>
                    <span class="label label-primary" title="Web">Web</span>
                    <span class="label label-success" title="Application">Application</span>
                    <span class="label label-info" title="Platform">Platform</span>
                    <span class="label label-warning" title="AI">A.I</span>
                </p>
                <div class="table-responsive">
                    <table class="table tutorial">
                        <tr>
                            <th class="subject">TIME</th>
                            <th>TRACK 4</th>
                            <th>TRACK 5</th>
                        </tr>
                        <tr class="tutorial-section-1">
                            <td>13:00 - 15:00</td>
                            <td><a href="/program/tutorial#2">Cocos Creator로 당신의 첫 번째 게임을 만들어보세요</a>
                                <br>
                                <span class="label label-success" title="Application">A</span>
                                <span class="small">박현천</span>
                            </td>
                            <td><a href="/program/tutorial#3">Dialogflow를 사용하여 간단한 Chat bot 만들기</a>
                                <br>
                                <span class="label label-warning" title="AI">A</span>
                                <span class="small">채지은</span>
                            </td>
                        </tr>
                        <tr class="tutorial-section-2">
                            <td>15:00 - 17:00</td>
                            <td><a href="/program/tutorial#1">React Native로 네이티브 어플리케이션 제작하기</a>
                                <br>
                                <span class="label label-default" title="Mobile">M</span>
                                <span class="small">강명구</span>
                            </td>
                            <td><a href="/program/tutorial#4">Backend.AI로 시작하는 인공지능 실습</a>
                                <br>
                                <span class="label label-warning" title="AI">A</span>
                                <span class="small">김준기 조만석</span>
                            </td>
                        </tr>
                        <tr class="finale">
                            <td>17:00 - 18:00</td>
                            <td colspan="2">경품 추첨 및 폐회</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

</section>

{% include './include/footer.html' %}

</body>
</html>