<!doctype html>
<html lang="en">
<head>
    {% include '../_include/head.html' %}
</head>
<body>
<div id="layout" class="pure-g">

    {% include '../_include/menu.html' %}

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">Can't resolve this request</h1>

                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">
                        <img class="post-avatar" alt="" height="48" width="48" src="{{site.theme}}/common/asset/tilo-avatar.png">

                        <h2 class="post-title">404!</h2>

                    </header>

                    <div class="post-description">
                        <p>
                            there is no way to find this address: {{ url }}
                        </p>
                    </div>
                </section>
            </div>

            {% include '../_include/footer.html' %}
        </div>
    </div>
</div>
</body>
</html>
