<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../_include/head.html' %}
</head>
<body class="has-background-white">
<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    {% include '../_include/menu.html' %}
</nav>
<div class="transparent-gradient-bg">
    <div class="header-bg tilt-clock"></div>
</div>
<section class="section">
    <div class="container is-wrap">
        {% for item in noticeList %}
        <article class="message" id="{{item.id}}">
            <div class="message-header">
                <p class="">{{ item.title | trim }}</p>
                <p class="subtitle is-7 has-text-white-ter"><span class="icon"><i class="fa fa-clock-o"></i></span>{{
                    item.updated_at | default(item.created_at) }}</p>
            </div>
            <div class="message-body is-body">
                {{item.body | striptags(true) | escape | nl2br }}
            </div>
            {% if user and user.grant %}
            <div class="notice-list-control">
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <a href="{{site.root}}{{route.notice.root}}{{route.notice.update}}/{{item.id}}"
                           class="button is-warning notice-update">수정</a>
                    </div>
                    <div class="control">
                        <a href="{{site.root}}{{route.notice.root}}" class="button is-danger notice-delete">삭제</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </article>
        {% endfor %}
    </div>
</section>
<section class="hero is-light">
    <div class="hero-body has-background-white-ter">
        <div class="container is-wrap">
            {% if pagination %}
            {% import '../_include/pagination.html' as Page %}
            {{ Page.nation(pagination, '/notice') }}
            {% endif %}
        </div>
    </div>
</section>
{% if user and user.grant %}
<div class="container is-wrap notice-write-control">
    <div class="field is-grouped is-grouped-right">
        <div class="control">
            <a href="{{site.root}}{{route.notice.root}}{{route.notice.write}}" class="button is-primary">새 공지사항 쓰기</a>
        </div>
    </div>
</div>
{% endif %}
<footer class="footer">
    {% include '../_include/footer.html' %}
</footer>
{% include '../_include/script.html' %}
<script src="{{site.theme}}/common/notice.js"></script>
</body>
</html>
