<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../include/head.html' %}
</head>
<body class="has-background-white">
<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    {% include '../include/menu.html' %}
</nav>
<div class="transparent-gradient-bg">
    <div class="header-bg tilt-clock"></div>
</div>
<section class="section notice-write">
    <div class="columns is-centered">
        <div class="column container is-wrap">
            <form action="{{site.root}}{{route.notice.root}}{{route.notice.write}}" method="post" id="notice-form">
                <div class="field">
                    <label class="label">제목</label>
                    <div class="control">
                        <input class="input" name="title" type="text" placeholder="제목을 적습니다.">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="body">본문</label>
                    <div class="control">
                        <textarea class="textarea" name="body" id="body"></textarea>
                        <input name="_csrf" value="{{_csrf}}" type="hidden">
                    </div>
                </div>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button type="submit" class="button is-link">저장</button>
                    </div>
                    <div class="control">
                        <button type="reset" class="button is-text">취소</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<footer class="footer">
    {% include '../include/footer.html' %}
</footer>
<script src="/vendor/jquery/jquery.min.js"></script>
<script>
    $(function () {
        const $noticeForm = $('#notice-form');

        if ($noticeForm) {
            $noticeForm.on('submit', function (e) {

                if (!$noticeForm.find('input[name=title]').val()) {
                    $noticeForm.find('input[name=title]').trigger('focus');
                    e.preventDefault();
                    return;
                }
                if (!$noticeForm.find('textarea[name=body]').val()) {
                    $noticeForm.find('textarea[name=body]').trigger('focus');
                    e.preventDefault();
                    return;
                }

                console.log('submit');
            });
        }
    });
</script>
</body>
</html>
