@import "colors";
@import "card";
@import "animation";

//Navbar
.navbar {
  position: relative;
  min-height: 3.8rem;
  transition: all .3s;
  z-index: 99;
  .container {
    min-height: 4rem;
  }
  &.no-shadow {
    box-shadow: none !important;
  }
  //Responsive menu icon
  .navbar-burger {
    width: 4rem;
    height: 4rem;
  }
  //Brand
  .navbar-brand {
    min-height: 4rem;
    img {
      max-height: 36px !important;
      height: 36px;
    }
    //Removing navbar item default hover behaviour
    &:hover {
      .navbar-item {
        background: transparent !important;
      }
    }
  }
  .navbar-end {
    align-items: center;
  }
  //Navbar items
  .navbar-item {
    color: @muted-grey;
    &.is-secondary {
      &:hover {
        color: @secondary !important;
      }
    }
    &.has-dropdown {
      padding: 10px 0;
      .navbar-link {
        color: @muted-grey;
        &:after {
          top: 55%;
          height: 0.5em;
          width: 0.5em;
          border-width: 2px;
          border-color: @muted-grey;
        }
      }
      .navbar-dropdown {
        top: 3.4rem;
        min-width: 220px;
        margin-top: 4px;
        border-top-color: @secondary;
        .navbar-item {
          padding: 10px 20px;
        }
      }
      &:hover {
        .navbar-link {
          color: @secondary;
          &:after {
            border-color: @secondary;
          }
        }
      }
    }
    button {
      &:focus, &:active {
        outline: none;
      }
    }

    .signup {
      display: block;
      line-height: 0;
      font-size: .9rem !important;
    }
    .new-circle {
      width: 8px;
      height: 8px;
      left: 28px;
      top: -2px;
      position: absolute;
      border-radius: 50px;
      background-color: #00D1B2;
    }
  }

  .has-drop-pop {
    position: relative;

    i {
      font-size: 20px;
      padding: 0 0.5em;
    }

    .drop-wrapper {
      position: absolute;
      top: 45px;
      right: 5px;
      border-radius: 3px 3px 5px 5px;
      background: #fff;
      min-width: 250px;
      min-height: 100px;
      max-height: 300px;
      display: none;
      transition: opacity 0.3s;
      animation-duration: 0.2s;
      box-shadow: 0 3px 10px 4px rgba(0,0,0,0.04);

      .drop-inner {
        position: relative;
        background: #fff;
        text-align: left;
        border: 1px solid #ededed;
        border-radius: 3px 3px 5px 5px;
        width: 100%;
        height: 100%
      }

      .drop-inner ul {
        padding: 10px 0
      }

      .drop-inner.has-arrow:after,.drop-inner.has-arrow:before {
        bottom: 100%;
        right: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none
      }

      .drop-inner.has-arrow:after {
        border-color: rgba(255,255,255,0);
        border-bottom-color: #fff;
        border-width: 8px;
        margin-left: -8px
      }

      .drop-inner.has-arrow:before {
        border-color: rgba(237,237,237,0);
        border-bottom-color: #ededed;
        border-width: 9px;
        margin-left: -9px
      }

    }

    .drop-wrapper.is-active {
      opacity: 1
    }

    .notifications-header, .emails-header {
      width: 100%;
      padding: 10px 20px;
      background: #fff;
      border-bottom: 1px solid #ededed;
    }

    .notifications-body, .emails-body {
      background: #f6f4ff;
      padding: 20px 10px 5px 8px;
      margin-left: -1px;
    }

    .notifications-list, .emails-list {
      padding: 0;
      position: relative;

      .notification-content, .email-content {
        position: absolute;
        margin-left: 50px;
        margin-top: -45px;
        display: flex;
        align-items: center;

        img {
          width: 45px;
          height: 45px;
          max-height: 50px;
          border-radius: 50%;
        }

        .notification-text, .email-text {
          .text {
            font-size: 90%;
            margin-left: 10px;
            color: #444F60;
          }
          .timestamp {
            font-size: 70%;
            margin-left: 10px;
            color: #A9ABAC;
            font-weight: 500;
          }
        }
      }

      li {
        margin-bottom: 30px;
        position: relative;
        cursor: pointer;
        i {
          width: 40px;
          height: 40px;
          display: block;
          text-align: center;
          line-height: 38px;
          font-size: 24px;
          color: #A9ABAC !important;
        }
      }

      li:first-child:before {
        content: '';
        width: 1.5px;
        left: 20px;
        top: -24px;
        height: 23px;
        background-color: #A9ABAC;
        position: absolute;
        opacity: 0.3;
      }
      li:after {
        content: '';
        width: 1.5px;
        left: 20px;
        height: 30px;
        background-color: #A9ABAC;
        position: absolute;
        opacity: 0.3;
      }
    }
  }


  //Fixed navbar modifier
  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 4rem !important;
    background: @white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    a {
      color: @blue-grey;
      &:hover {
        color: @primary;
      }
    }
  }
}

//Sidebar animated icon trigger
.menu-icon-wrapper {
  position: relative;
  left: 0;
  top: 0;
  //margin: -12px 0px 0px -12px;
  width: 34px;
  height: 34px;
  pointer-events: none;
  transition: 0.1s;
  svg {
    position: absolute;
    top: -18px;
    left: -18px;
    transform: scale(0.07);
    transform-origin: 0 0;
    path {
      stroke: @secondary;
      stroke-width: 40px;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: transparent;
      transition: stroke-dasharray 0.5s;
      &.path1 {
        stroke-dashoffset: 5803.15px;
        stroke-dasharray: 2901.57px, 2981.57px, 240px;
      }
      &.path2 {
        stroke-dashoffset: 800px;
        stroke-dasharray: 400px, 480px, 240px;
      }
      &.path3 {
        stroke-dashoffset: 6993.11px;
        stroke-dasharray: 3496.56px, 3576.56px, 240px;
      }
    }
  }
  &.open {
    svg {
      path {
        &.path1 {
          stroke-dasharray: 2901.57px, 5258.15px, 240px;
        }
        &.path2 {
          stroke-dasharray: 400px, 600px, 0px;
        }
        &.path3 {
          stroke-dasharray: 3496.56px, 6448.11px, 240px;
        }
      }
    }
  }
  .menu-icon-trigger {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    pointer-events: auto;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }
}

//Sidebar
.sidebar {
  background: @dark-grey;
  width: 280px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-281px);
  transition: all .3s;
  z-index: 10000;
  &.is-active {
    transform: translateX(0);
  }
  .sidebar-header {
    height: 4.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lighten(@dark-grey, 5%);
    padding: 0 20px;
    img {
      height: 32px;
    }
    a {
      width: 24px;
      height: 24px;
    }
    svg {
      stroke: @white;
      transform: rotate(0);
      transition: all .3s;
      cursor: pointer;
      &:hover {
        stroke: @secondary;
        transform: rotate(180deg);
      }
    }
  }
  .inner {
    position: relative;
    .sidebar-menu {
      margin: 0;
      padding: 0;
      max-width: 400px;
      list-style: none;
      list-style-type: none;
      font-family: 'Open Sans', sans-serif !important;
      li {
        a {
          padding: 20px 25px;
          display: block;
          text-decoration: none;
          color: @white;
          &:hover {
            padding: 20px 25px;
            display: block;
            text-decoration: none;
            color: @white;
          }
        }
        a span {
          margin-right: 20px;
          color: @white;
        }
        &.have-children {
          ul {
            padding: 0px;
          }
          li {
            a {
              background-color: darken(@dark-grey, 5%);
              padding-left: 62px;
              border-bottom: 1px solid darken(@dark-grey, 2%);
              font-size: .8rem;
              &:hover {
                color: @primary;
                padding-left: 62px;
              }
            }
          }
          span::after {
            position: absolute;
            top: 27px;
            right: 30px;
            content: "\f054";
            color: @white;
            transition: all .5s;
            font-weight: 200 !important;
            font-size: .8rem;
          }
        }
      }
    }
    li.have-children, li {
      position: relative;
    }
    li.have-children.active > a, li.have-children.active > a span, li.have-children.active > a span:after {
      color: @secondary;
    }
    li.active.have-children span::after {
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    .sidebar-menu .have-children > ul {
      display: none;
    }
  }
}

.dashboard-wrapper {
  padding: 60px 20px 0 20px;

  h3.popover-title {
    margin-top: 0 !important
  }

  .flex-card.is-squared {
    max-height: 270px
  }

  .flex-card .material-header {
    padding: 10px 20px;
    margin: 0 20px;
    margin-top: -10px;
    border-radius: 4px
  }

  .flex-card .material-header h3 {
    font-weight: 500;
    color: #fff;
    padding-bottom: 10px
  }

  .flex-card .material-header.is-primary {
    background: #00D1B2;
    box-shadow: 0 14px 26px -12px rgba(0,209,178,0.42),0 4px 23px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,209,178,0.2) !important
  }

  .flex-card .material-header.is-secondary {
    background: #7F00FF;
    box-shadow: 0 14px 26px -12px rgba(127,0,255,0.42),0 4px 23px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(127,0,255,0.2) !important
  }

  .flex-card .icon-header i {
    padding: 22px;
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    left: 10px;
    top: -20px
  }

  .flex-card .icon-header i.primary {
    background-color: #00D1B2;
    box-shadow: 0 14px 26px -12px rgba(0,209,178,0.42),0 4px 23px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,209,178,0.2) !important
  }

  .flex-card .icon-header i.secondary {
    background-color: #7F00FF;
    box-shadow: 0 14px 26px -12px rgba(127,0,255,0.42),0 4px 23px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(127,0,255,0.2) !important
  }

  .flex-card .icon-header i.accent {
    background-color: #536dfe;
    box-shadow: 0 14px 26px -12px rgba(83,109,254,0.42),0 4px 23px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(83,109,254,0.2) !important
  }

  .flex-card .header-control {
    position: absolute;
    right: 0;
    top: 15px
  }

  .flex-card .header-control i.sl-icon-arrow-down {
    padding: 20px;
    color: #A9ABAC
  }

  .flex-card .header-control ul {
    margin-left: 0;
    margin-top: 0
  }

  .flex-card .header-control ul li:hover {
    background: #7F00FF !important;
    box-shadow: 0 14px 26px -12px rgba(127,0,255,0.42),0 4px 23px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(127,0,255,0.2) !important;
    color: #fff !important
  }

  .flex-card .header-control .dropContain {
    left: -20px !important
  }

  .flex-card .card-heading {
    padding-top: 5px;
    padding-bottom: 15px;
    color: #444F60;
    font-weight: 500;
    margin: 0 0 20px 0!important;
    border-bottom: 1px solid @border-grey;
    i.fa {
      margin-left: 0.5em;
      margin-right: 1.4em;
    }
  }

  .flex-card .card-heading.has-icon {
    display: flex;
    align-items: center;
    justify-content: space-between
  }

  .flex-card .card-heading.has-icon .sl {
    font-size: 1.1rem
  }

  .flex-card .card-heading.is-absolute {
    position: absolute;
    top: 10px;
    left: 10px
  }

  .flex-card .card-body-20 {
    padding: 20px
  }

  .flex-card .content {
    padding: 20px !important;

    .card-title.is-tile {
      font-size: 1.45rem;
      color: #444F60;
      font-weight: 500;
      margin-top: 15px;
      float: right;
      position: relative;
      top: -20px
    }

    .card-title.is-tile .card-stat {
      font-size: 1rem;
      font-weight: 500;
      position: relative;
      margin-top: 5px;
    }

    .card-title.is-tile .card-stat.primary {
      color: #00D1B2
    }

    .card-title.is-tile .card-stat.secondary {
      color: #7F00FF
    }

    .card-title.is-tile .card-stat.accent {
      color: #536dfe
    }

    .card-title.is-tile .card-stat .stat-type {
      font-size: 0.8rem !important
    }
  }

  .flex-card .content.message-content h5 {
    margin-bottom: 0 !important
  }

  .flex-card .content.message-content h5.primary {
    color: #00D1B2
  }

  .flex-card .content.message-content h5.secondary {
    color: #7F00FF
  }

  .flex-card .more a {
    font-weight: 500;
    position: absolute;
    bottom: 10px;
    left: 20px;
    transition: color 0.4s
  }

  .flex-card .more a.primary {
    color: #A9ABAC
  }

  .flex-card .more a.primary:hover {
    color: #00D1B2
  }

  .flex-card .more a.secondary {
    color: #A9ABAC
  }

  .flex-card .more a.secondary:hover {
    color: #7F00FF
  }

  .flex-card .feed-icon {
    max-height: 60px;
    margin: 15px 0 10px 0;
    padding-left: 15px
  }

  .flex-card .timestamp {
    font-size: 10px;
    color: #A9ABAC;
    position: absolute;
    bottom: 10px;
    right: 20px
  }

  .flex-card .avatar-list a {
    display: inline-block
  }

  .flex-card .avatar-list a img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 10px
  }

  .notice-list {
    padding: 10px 20px;
  }

  .recent-post {
    align-items: center;
    .media-left {
      align-self: flex-start;
    }
    .media-content {
      align-self: flex-start;
      margin-top: 3px;
    }

    figure img {
      border-radius: 50%;
    }

    &:last-child {
      padding-bottom: 10px;
    }

    .post-body {
      display: none;
      .post-content {
        padding: 20px 0;
        text-align: justify;
        line-height: 1.75;
      }
    }

    .post-meta {
      font-size: 0.9em;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .author-meta {
        .author-name {
          color: #999;
          span {
            color: @purple;
          }
        }
        .post-timestamp {
          font-size: 85%;
          color: #999;
          padding-top: 5px;
        }
      }
      .comments-meta {
        width: 40px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        margin-right: 15px;
        i {
          color: #A9ABAC;
          font-size: 24px;
          position: relative;
          top: 3px;
        }
        .counter {
          font-size: 1.2em;
          font-weight: 500;
          color: #A9ABAC;
          padding-left: 6px;
        }
      }
    }
  }

  .compose-card {
    padding: 15px 15px;
    .image {
      margin-top: 5px;
      margin-right: 1rem;
      display: inherit;
      align-items: inherit;
    }
    figure img {
      border-radius: 50%;
    }
    .status-wrapper {
      width: 100%;
    }
    textarea.textarea.has-button {
      min-height: 80px !important;
      height: 100px !important;
      resize: none;
      border-radius: 4px 4px 0 0;
      border-bottom: none !important;
      transition: all 0.6s;
      color: #878787;
      box-shadow: none;
      &:focus, &:visited {
        height: 260px !important;
        padding-bottom: 40px !important;
        border-color: #ccc;
      }
    }
    .textarea-button {
      display: flex;
      justify-content: flex-end;
      position: relative;
      border: 1px solid #ccc;
      border-top: none !important;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      background: #fafbfc;
      button {
        margin: 10px 7px 7px 7px;
      }
      .is-secondary {
        outline: none;
        border-color: @purple;
        background-color: @purple;
        color: @smoke-white;
        transition: all 0.5s;
      }
    }
  }
}

.icons {
  font-size: 24px;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga'
}

