.image-holder {
  line-height: 0;
}
.image-holder img {
  margin: 0;
  padding: 0;
}

.custom-carousel {
  padding: 0.75rem;
  position: relative;
}
.custom-carousel .carousel-container {
  display: block;
  margin: 0 auto;
  max-width: 768px;
}
.custom-carousel .carousel-item {
  display: block;
  padding: 0.75rem;
}
.custom-carousel .carousel-navigation {
  display: none;
}
.custom-carousel .carousel-navigation .carousel-nav-left {
  height: 2.2em;
  width: 2em;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  position: absolute;
  left: 12px;
  cursor: pointer;
}
.custom-carousel .carousel-navigation .carousel-nav-right {
  height: 2.2em;
  width: 2em;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  position: absolute;
  right: 36px;
  cursor: pointer;
}
.custom-carousel .is-overlay {
  z-index: 19;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  bottom: auto;
  left: auto;
  right: auto;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .custom-carousel .carousel-container {
    display: flex;
    max-width: none;
  }
  .custom-carousel .carousel-item {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
  }
  .custom-carousel .is-left-float {
    padding: 10px;
    width: 180px;
    position: absolute;
    left: -180px;
    bottom: 0;
  }
  .custom-carousel .is-right-float {
    padding: 10px;
    width: 180px;
    position: absolute;
    right: -180px;
    bottom: 0;
  }
  .custom-carousel .carousel-navigation {
    display: flex;
    width: 100%;
  }
}

.is-about .is-credit .is-sentence {
  font-size: 1.1em;
  color: #5a5a5a;
  line-height: 1.8;
}
.is-about .from {
  padding-top: 0.9em;
  font-size: 1.1em;
  color: #0d0d0d;
  word-break: keep-all;
}
.is-about .has-text-justified {
  padding: 0.5em 0;
  line-height: 1.8;
}

.is-director .timeline .timeline-header {
  margin-left: 3.8em;
  margin-right: 3em;
}
.is-director .timeline .timeline-header span {
  font-size: 1.5em;
  letter-spacing: 2px;
}
.is-director .content dl {
  margin-bottom: 0.2em;
}
.is-director .headline {
  font-size: 1.1em;
  color: #a3a3a3;
}
.is-director .headline i {
  padding-left: 2px;
  padding-right: 3px;
}
.is-director .name {
  font-size: 0.6em;
  color: #888888;
}
.is-director .is-director-pic {
  width: 200px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.is-director .is-credit .title {
  font-size: 1.1rem;
  padding-bottom: 5px;
}
.is-director .is-credit .subtitle {
  font-size: 0.9rem;
  color: #888888;
}
.is-director .from {
  font-size: 0.8rem;
  color: #888888;
  word-break: keep-all;
}
@media screen and (max-width: 765px) {
  .is-director .media {
    display: block;
  }
  .is-director .media .media-left {
    width: 100%;
  }
  .is-director .media .media-left .is-director-pic {
    width: 100%;
  }
  .is-director .media .media-left h3 {
    margin-bottom: 1em;
  }
}

.is-director-bg {
  background-image: url(/saf2018/common/asset/director-talk-1-bg.jpg);
  text-align: center;
}
.is-director-bg .directors .subtitle {
  padding-top: 1em;
  padding-bottom: 1.2em;
  border-bottom: 1px solid #000000;
}
.is-director-bg .directors .director {
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5em;
}
.is-director-bg .directors .name {
  font-weight: bold;
}
.is-director-bg .directors .image {
  width: 186px;
  height: 186px;
  margin: 1.2em auto 1.5em;
}
.is-director-bg .directors .image img {
  border-radius: 50% !important;
}
.is-director-bg p {
  color: #000000;
}

.notice-write .ql-editor, .notice-write textarea {
  font-size: 18px;
  background: #FFFFFF;
  height: 550px;
  line-height: 1.75;
}

.notice-write-control {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-right: 0.75em;
}

.notice-list-control {
  padding: 1em;
}

.saf-awards {
  background-image: url("/saf2018/common/asset/saf-awards.jpg");
  background-size: cover;
}

.saf-ideas {
  background-image: url("/saf2018/common/asset/saf-ideas.jpg");
  background-size: cover;
}

.is-gallery .subtitle {
  padding-left: 0.75em;
  color: #acacac;
  font-size: 0.85em;
}
.is-gallery .image-desc {
  padding-top: 4px;
}
.is-gallery .message-body {
  border-width: 0 1px 1px 1px;
  border-radius: 0;
  position: relative;
}
.is-gallery .gallery-list-control {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 2em;
  margin-right: 2.2em;
}
.is-gallery .gallery-write-control {
  margin-bottom: 1em;
  padding-right: 0.75em;
}

.is-category-form {
  display: none;
}

.media .media-content a.plain-link {
  text-decoration: none;
}

.is-wrap {
  max-width: 768px;
}

.navbar-burger {
  color: #f5f5f5;
}

.transparent-gradient-bg div {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5MTUiIHZpZXdCb3g9IjAgMCAxNDQwIDkxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHRpdGxlPkdyb3VwIDE2PC90aXRsZT48ZGVzYz5DcmVhdGVkIHVzaW5nIEZpZ21hPC9kZXNjPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYyNyAtNTUzKSI+PHVzZSB4bGluazpocmVmPSIjYSIgdHJhbnNmb3JtPSJyb3RhdGUoLjUxOSAtODM5MDUuMzk1IC05MDk3Mi41MDIpIiBmaWxsPSIjRUY4NjdBIiBmaWxsLW9wYWNpdHk9Ii4yNSIvPjx1c2UgeGxpbms6aHJlZj0iI2EiIHRyYW5zZm9ybT0icm90YXRlKC0yLjMwMiAxNTEyOC4zMDEgMjAzNzYuMTAzKSIgZmlsbD0iI0VGRDU3QSIgZmlsbC1vcGFjaXR5PSIuNDUiLz48L2c+PGRlZnM+PHBhdGggaWQ9ImEiIGQ9Ik0wIDBsMTcyOC41OSAyNzYuNDE5IDIyLjA2IDQxOC4zN0w4LjYzNSAxNjMuNzczIDAgMHoiLz48L2RlZnM+PC9zdmc+) no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100vh;
  margin-top: 10px;
}
.transparent-gradient-bg .header-bg {
  padding: 160px 0;
  overflow: hidden;
  margin-bottom: -100px;
}

@media screen and (min-width: 1200px) {
  .tile.is-wide {
    margin-left: -12rem;
    margin-right: -12rem;
  }
}
span.opening-date {
  background: rgba(26, 26, 26, 0.5);
  font-size: 0.875em;
  font-weight: 400;
  padding: 0.25em 0.5em 0.25em;
  margin-left: 0.5em;
}

#main_card .title-desc1 {
  color: #0533a6;
}
#main_card .title-desc2 {
  color: #266dcd;
}

#clinic_card {
  background: #114299;
  text-align: center;
}
#clinic_card .title, #clinic_card .subtitle {
  color: #ffffff;
}
#clinic_card .mentors .subtitle {
  padding-top: 1em;
  padding-bottom: 1.2em;
  border-bottom: 1px solid #ffffff;
}
#clinic_card .mentors .mentor {
  padding-top: 0.5em;
}
#clinic_card .mentors .name {
  font-weight: bold;
}
#clinic_card .mentors .image {
  width: 186px;
  height: 186px;
  margin: 1.2em auto 1.5em;
}
#clinic_card .mentors .image img {
  border-radius: 50% !important;
}
#clinic_card p {
  color: #ffffff;
}

.title-trans {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  text-stroke: 1px rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

.rainbow-gray {
  -webkit-animation: animateRainbow 8s ease infinite;
  animation: animateRainbow 12s ease infinite;
  background-image: linear-gradient(124deg, rgba(134, 135, 181, 0.97), #ede8f2, rgba(207, 168, 177, 0.65), rgba(75, 130, 137, 0.8));
  background-size: 300% 300%;
}

.rainbow-trans {
  -webkit-animation: animateRainbow 8s ease infinite;
  animation: animateRainbow 8s ease infinite;
  background-image: linear-gradient(135deg, rgba(255, 71, 15, 0.3), rgba(255, 56, 96, 0.3), rgba(184, 107, 255, 0.31), rgba(50, 115, 220, 0.3));
  background-size: 300% 300%;
}

.rainbow {
  -webkit-animation: animateRainbow 8s ease infinite;
  animation: animateRainbow 8s ease infinite;
  background-image: linear-gradient(124deg, #ff470f, #ff3860, #b86bff, #3273dc);
  background-size: 100% 100%;
}

@keyframes animateRainbow {
  0% {
    background-position: 1% 80%;
  }
  50% {
    background-position: 99% 20%;
  }
  100% {
    background-position: 1% 80%;
  }
}
@keyframes animateStars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200px);
  }
}
.navbar {
  min-height: 4.5rem;
}
.navbar .top-logo {
  padding: 0 2em;
}
.navbar .navbar-start {
  margin-left: 1em;
}
.navbar a.navbar-item, .navbar a.navbar-link {
  font-size: 1.1rem;
}
.navbar .navbar-item img {
  max-height: 3rem;
}
.navbar .navbar-brand {
  min-height: 4.5rem;
}
.navbar .navbar-burger {
  height: 4.5rem;
  width: 4.5rem;
}
.navbar a:hover {
  color: #dedede;
}
.navbar .navbar-dropdown {
  font-size: 1.1rem;
}
.navbar .is-boxed {
  border-radius: 0;
}

.section {
  margin-top: 4.5em;
  padding: 1.5em;
}

.footer {
  padding-bottom: 3em;
}

.notification, .box {
  border-radius: 0;
}

.download {
  position: relative;
}
.download .has-move-up {
  position: absolute;
  bottom: 3em;
  left: 58px;
}

.link-form {
  position: relative;
}
.link-form .has-move-right {
  position: absolute;
  bottom: 2em;
  right: 3em;
}
.link-form .has-move-up {
  position: absolute;
  bottom: 1.2em;
  left: 34px;
}

@media screen and (max-width: 765px) {
  .link-form .has-move-up {
    left: 18px;
    bottom: 1em;
  }
  .link-form .has-move-up a.button.is-medium {
    font-size: 0.8em;
  }
}
.carousel {
  padding-bottom: 1.5em;
}
.carousel .carousel-navigation.is-overlay {
  z-index: 29;
}
.carousel .carousel-item {
  cursor: pointer;
}

.modal .modal-content {
  width: 1365px !important;
}

/*# sourceMappingURL=main.css.map */
