.is-wrap {
  max-width: 768px;
}

.navbar-burger {
  color: #f5f5f5;
}

.transparent-gradient-bg div {
  background: linear-gradient(rgba(95, 95, 95, 0.2), rgba(93, 107, 142, 0.2), rgba(60, 87, 119, 0.2));
  position: absolute;
  width: 100%;
  margin-top: 10px;
}
.transparent-gradient-bg .header-bg {
  min-height: 685px;
  padding: 160px 0;
  overflow: hidden;
  margin-bottom: -100px;
}
.transparent-gradient-bg .tilt-clock {
  -webkit-transform: skewY(11deg);
  transform: skewY(11deg);
  transform-origin: 0;
}

.transparent-gradient-bg :first-child {
  transform-origin: bottom;
  transform: skewY(-8deg);
}

.transparent-gradient-bg :last-child {
  transform-origin: right;
  transform: skewY(5deg);
  max-width: 100%;
}

#main_card .title-desc1 {
  color: #0533a6;
}
#main_card .title-desc2 {
  color: #266dcd;
}

#clinic_card {
  background: #114299;
  text-align: center;
}
#clinic_card .title, #clinic_card .subtitle {
  color: #ffffff;
}
#clinic_card .mentors .subtitle {
  padding-top: 1em;
  padding-bottom: 1.2em;
  border-bottom: 1px solid #ffffff;
}
#clinic_card .mentors .mentor {
  padding-top: 0.5em;
}
#clinic_card .mentors .name {
  font-weight: bold;
}
#clinic_card .mentors .image {
  width: 186px;
  height: 186px;
  margin: 1.2em auto 1.5em;
}
#clinic_card .mentors .image img {
  border-radius: 50% !important;
}
#clinic_card p {
  color: #ffffff;
}

#director_talk {
  background-image: url(/saf2018/common/asset/director-talk-1-bg.jpg);
  text-align: center;
}
#director_talk .directors .subtitle {
  padding-top: 1em;
  padding-bottom: 1.2em;
  border-bottom: 1px solid #000000;
}
#director_talk .directors .director {
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5em;
}
#director_talk .directors .name {
  font-weight: bold;
}
#director_talk .directors .image {
  width: 186px;
  height: 186px;
  margin: 1.2em auto 1.5em;
}
#director_talk .directors .image img {
  border-radius: 50% !important;
}
#director_talk p {
  color: #000000;
}

.title-trans {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  text-stroke: 1px rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

.rainbow-gray {
  -webkit-animation: animateRainbow 8s ease infinite;
  animation: animateRainbow 12s ease infinite;
  background-image: linear-gradient(124deg, rgba(134, 135, 181, 0.97), #ede8f2, rgba(207, 168, 177, 0.65), rgba(75, 130, 137, 0.8));
  background-size: 300% 300%;
}

.rainbow-trans {
  -webkit-animation: animateRainbow 8s ease infinite;
  animation: animateRainbow 8s ease infinite;
  background-image: linear-gradient(135deg, rgba(255, 71, 15, 0.3), rgba(255, 56, 96, 0.3), rgba(184, 107, 255, 0.31), rgba(50, 115, 220, 0.3));
  background-size: 300% 300%;
}

.rainbow {
  -webkit-animation: animateRainbow 8s ease infinite;
  animation: animateRainbow 8s ease infinite;
  background-image: linear-gradient(124deg, #ff470f, #ff3860, #b86bff, #3273dc);
  background-size: 100% 100%;
}

@keyframes animateRainbow {
  0% {
    background-position: 1% 80%;
  }
  50% {
    background-position: 99% 20%;
  }
  100% {
    background-position: 1% 80%;
  }
}
@keyframes animateStars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200px);
  }
}
.navbar {
  min-height: 4.5rem;
}
.navbar .top-logo {
  padding: 0 2em;
}
.navbar .navbar-start {
  margin-left: 1em;
}
.navbar a.navbar-item {
  font-size: 1.1rem;
}
.navbar .navbar-item img {
  max-height: 3rem;
}
.navbar .navbar-brand {
  min-height: 4.5rem;
}
.navbar .navbar-burger {
  height: 4.5rem;
  width: 4.5rem;
}
.navbar a:hover {
  color: #dedede;
}
.navbar .navbar-dropdown {
  font-size: 1.1rem;
}
.navbar .is-boxed {
  border-radius: 0;
}

.section {
  margin-top: 4.5em;
  padding: 1.5em;
}

.footer {
  padding-bottom: 3em;
}

.notification, .box {
  border-radius: 0;
}

.download {
  position: relative;
}
.download .has-move-up {
  position: absolute;
  bottom: 124px;
  right: 106px;
}

/*# sourceMappingURL=style.css.map */
