.is-wrap
  max-width: 768px
.navbar-burger
  color: #f5f5f5

// patch
.navbar
  min-height: 4.5rem
  .top-logo
    padding: 0 2em

  .navbar-start
    margin-left: 1em
  a.navbar-item
    font-size: 1.1rem
  .navbar-item img
    max-height: 3rem
  .navbar-brand
    min-height: 4.5rem
  .navbar-burger
    height: 4.5rem
    width: 4.5rem
  a:hover
    color: #dedede
  .navbar-dropdown
    font-size: 1.1rem
  .is-boxed
    border-radius: 0
.section
  margin-top: 4.5em
  padding: 1.5em
.footer
  padding-bottom: 3em
.notification, .box
  border-radius: 0
.download
  position: relative
  .has-move-up
    position: absolute
    bottom: 124px
    right: 106px