<!DOCTYPE HTML>
<html lang="ko">
<head>
    {% include '../_include/head.html' %}
</head>
<body>
{% include '../_include/nav.html' %}
<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_75">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="filters isotope_filters">
                    <a href="#" class="selected" data-filter="*">전체</a>
                    <a href="#" data-filter=".gallery_1">개막식</a>
                    <a href="#" data-filter=".gallery_2">프로젝트 활동 모습</a>
                    <a href="#" data-filter=".gallery_3">성과 공유 및 시상</a>
                </div>
            </div>
            <div id="gallery" class="col-sm-8 col-sm-push-2">
                <div class="isotope_container isotope row columns_margin_bottom_20" data-filters=".isotope_filters">

                    {% for item in cateList %}
                    <div class="isotope-item col-lg-12 col-md-12 col-sm-12 gallery_{{ item.id }}">
                        <div class="vertical-item gallery-item content-absolute text-center ls">
                            <div class="row gallery-wrap" id="gallery_{{ item.id }}" data-id="{{ item.id }}">
                                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                                    <h4><span class="glyphicon glyphicon-film" aria-hidden="true"></span> {{ item.title }}</h4>

                                    <div class="media-body">
                                        <p class="">{{ item.sub_title }}</p>

                                        <div class="image-list"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% include '../_include/footer.html' %}
{% include '../_include/script.html' %}
</body>
</html>
