<!DOCTYPE html>
<html lang="ko">
<head>
    {% include '../include/head.html' %}
</head>
<body>

<header id="top" class="header">

    {% include '../include/menu.html' %}

    <section id="page_header" class="page-header">
        <h1>REGISTER</h1>
    </section>
</header>

<section id="register" class="register">
    <div class="container">
        {% set closed = false %}
        {% if closed %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>사전 등록이 마감되었습니다.</h2>
                <p class="lead">
                    KOSSCON은 공개SW에 관심있는 개발자, 커뮤니티 및 관련 기업인, 학생 등 국민 누구나 사전 등록 후 참가하실 수 있습니다.
                    <br>
                </p>
                <p>
                    <span class="strong">일시</span> 2018년 8월 16일 목요일 13:30 ~ 17:20
                </p>
                <p>
                    <span class="strong">장소</span> 코엑스 컨퍼런스룸(남) 308호, 317호, 318호
                </p>
                <p class="additional-message">
                    현재 사전 등록이 마감되었습니다. <br>
                    올해에도 알찬 행사가 될 수 있도록 준비하겠습니다. 감사합니다.
                </p>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>사전 등록</h2>
                <p class="lead">
                    KOSSCON은 공개SW에 관심있는 개발자, 커뮤니티 및 관련 기업인, 학생 등 국민 누구나 사전 등록 후 참가하실 수 있습니다.
                    <br>
                    참관 인원은 300명으로 제한되어 있으므로 참가를 원하실 경우 지금 등록하세요.
                </p>
                <p>
                    <span class="strong">일시</span> 2018년 8월 16일 목요일 13:30 ~ 17:20
                </p>
                <p>
                    <span class="strong">장소</span> 코엑스 컨퍼런스룸(남) 308호, 317호, 318호
                </p>
                {% if closedTutorial %}
                <p class="additional-message">
                    현재 튜토리얼 세션은 마감되었습니다. <br>
                    (*튜토리얼 세션의 경우 기 등록자의 불참의사에 따라 일부 세션이 재오픈 될 수 있습니다.) <br>
                    <br>
                    컨퍼런스 참가등록은 가능합니다!!  지금 등록 해 주세요!!
                </p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-10 offset-xs-1">
                <div class="row">
                    <form id="register_form" class="form-horizontal" method="post" action="{{site.root}}{{ route.reservation.root }}" onsubmit="return sendReservation()">
                        <input type="hidden" name="_csrf" value="{{_csrf}}">
                        <input type="hidden" name="phone_secret" value="{{site.root}}{{ route.reservation.root + route.reservation.phoneSecret }}">

                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">이름</label>
                            <div class="col-sm-10">
                                <input type="text" name="register_name" class="form-control" id="name" placeholder="홍길동" maxlength="10">
                                <p class="small message name_message" style="display: none;">성명을 입력해주세요.</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label">이메일</label>
                            <div class="col-sm-10">
                                <input type="text" name="register_email" class="form-control" id="email" placeholder="email-account@mail.net" maxlength="100">
                                <p class="small message email_message" style="display: none;">이메일을 입력해주세요.</p>
                            </div>
                        </div>
                        <div class="form-group row phone">
                            <label for="phone" class="col-sm-2 col-form-label">휴대폰</label>
                            <div class="col-sm-10 form-inline">
                                <input type="tel" name="register_phone" class="form-control" style="min-width: 50%" id="phone" placeholder="01012345678" size="20" maxlength="14">
                                <button type="button" class="btn btn-info btn-lg secret">전화번호 인증 받기</button>
                                <input type="number" name="register_phone_secret" class="form-control" style="min-width: 35%; display: none" id="phone_secret" placeholder="0000" maxlength="4" min="0" max="9999">
                                <p class="small message phone_secret_message" id="phone_secret_message" style="display: none;">전화번호 인증 과정이 필요합니다.</p>
                                <p class="small message phone_message" id="phone_message" style="display: none;">전화번호가 필요합니다.</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="info" class="col-sm-2 col-form-label">소속/직위</label>
                            <div class="col-sm-10">
                                <input type="text" name="register_info" class="form-control" id="info" placeholder="스타트업 미생 개발팀장" maxlength="50">
                                <p class="small message info_message" style="display: none;">간략한 개인정보를 추가해주세요.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="offset-sm-2 col-sm-10">
                                <p class="small">
                                    사전 등록 정보는 성명·이메일·전화번호를 키 값으로 저장합니다.
                                    소속/직위 정보를 갱신하고 싶은 경우에는 다시 등록해 주시면 자동으로 최근 정보가 반영됩니다.
                                </p>
                            </div>

                            <div class="offset-sm-2 col-sm-10 additional-text">
                                <label for="privacy_order" class="pull-left"><input type="checkbox" name="privacy_order" id="privacy_order" value=""> 개인정보취급방침에 동의합니다.</label>
                                <button class="" type="button" data-toggle="collapse" data-target="#privacy_order_info" aria-expanded="false" aria-controls="privacy_order_info">
                                    개인정보 취급방침 보기
                                </button>
                                <p class="small message privacy_message" style="display: none;">개인정보취급방침에 동의해주세요.</p>
                                <div class="collapse" id="privacy_order_info">
                                    <div class="well" style="margin-top: 1em;text-align: left;text-decoration: underline;">
                                        공개소프트웨어개발자센터(이하 센터)는 이용자의 프라이버시를 매우 중요하게 생각하며 각별히 주의를 기울여 처리하고 있습니다.<br>
                                        이용자의 프라이버시를 존중하고 보호하기 위하여 센터는 다음의 기본 원칙을 마련하여 준수하고 있습니다.<br>
                                        <br>
                                        1)센터는 이용자의 개인 정보를 수집, 처리, 사용 또는 공개하기 위해서 이를 적절한 방법에 따라 이용자에게 고지하고 동의를 구합니다.<br>
                                        2)센터는 이용자 개인 정보의 수집, 처리에 필요한 최소범위로 이용 목적을 특정합니다.<br>
                                        3)센터는 특정된 이용 목적을 달성에 필요한 최소한의 정보만을 수집합니다.<br>
                                        4)센터는 이용자의 동의가 있는 경우 또는 관련 법령에서 정한 경우를 제외하고는 이용자로부터 수집한 정보를 수집 목적외에 사용하지 않으며, 목적 달성에 필요한 최소한의 기간만 해당 정보를 보관합니다.<br>
                                        5)센터는 이용자의 개인 정보가 정확하고, 완전하며, 최신의 상태를 유지할 수 있도록 노력합니다.<br>
                                        6)센터는 수집한 이용자의 개인정보에 대한 관리 책임을 갖습니다. 센터는 항상 이러한 원칙, 본 개인정보처리방침 및 적용되는 법률에 대한 이용자의 의견을 경청합니다.<br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if message.error %}
                        {% for error in message.error %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Warning!</strong> {{ error.msg }}
                        </div>
                        {% endfor %}
                        {% endif %}

                        {#// include '../reservation/tutorial.html' #}

                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg submit" id="form_update_submit">사전 등록 신청</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>

<section id="location" class="location">
    <hr class="hr">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>찾아오는 길</h2>
            </div>
        </div>
    </div>

    <div class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6329.564549403013!2d127.05509797630837!3d37.51305299999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd6bf8dde518b69a4!2z7L2U7JeR7IqkIOy7qOuypOyFmOyEvO2EsCDqt7jrnpzrk5zrs7zro7g!5e0!3m2!1sko!2sus!4v1476627323456">
        </iframe>
    </div>

    <div class="container">
        <div class="row transport">
            <div class="col-sm-6 trans">
                <p><span class="strong">승용차 이용 고객</span> GATE3(서문)을 통하여 옥상 및 지하주차장으로 진입.</p>
                <p><span class="strong">지하철 이용 고객</span> 삼성역 5, 6번 출구와 연결된 통로로 진입, 밀레니엄 광장을 통하여 코엑스몰로 진입</p>
                <p><span class="strong">버스 이용 고객</span> 그랜드 인터컨티넨탈 호텔(삼성역 5번 출구) 앞 | 23201 정류장</p>
            </div>

            <div class="col-sm-6 buses">
                <p><span class="strong b1">간선 버스</span> 146, 341, 360, 333, 740, N13(심야), N61(심야)</p>
                <p><span class="strong b2">지선 버스</span> 6411</p>
                <p><span class="strong b3">마을 버스</span> 강남07, 강남05</p>
                <p><span class="strong b4">광역 버스</span> 1100, 1700, 2000, 2000-1, 7007, 8001, 9414</p>
                <p><span class="strong b5">공항 리무진</span> 6000</p>
            </div>
        </div>
    </div>

</section>

{% include '../include/footer.html' %}

</body>
</html>