<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../include/header.html' %}
</head>
<body>

<div class="container">
    <div class="header clearfix">

        {% include '../include/menu.html' %}

        <h3 class="text-muted">Blititor</h3>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="bg-guest-form-holder">

                <h4>Guest Book</h4>
                <form id="message_form" method="post" action="{{ route.guestbook_root + route.guestbook.message }}">
                    <fieldset class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
                        <small class="text-muted">We'll never share your email with anyone else.</small>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="nickname">Nickname</label>
                        <input type="text" name="nickname" class="form-control" id="nickname" placeholder="Anonymous">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" name="message" id="message" rows="4"></textarea>
                    </fieldset>

                    {% if message.error %}
                    {% for error in message.error %}
                    <div class="alert alert-warning" role="alert">
                        <strong>Warning!</strong> {{ error.msg }}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="hidden"> Hidden
                        </label>
                    </div>

                    <input type="hidden" name="_csrf" value="{{ _csrf }}"/>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        {% for item in list %}
        <div class="col-lg-12">
            <h4>{{ item.nickname | default('Anonymous') }}</h4>
            <h5>{{ item.created_at }}</h5>
            <p>
                {{ item.message | striptags(true) | replace('\n', '<br>') | safe }}
            </p>

            {% if user and user.grant %}
            <div class="row">
                <div class="col-lg-12">
                    <form id="reply_form" method="post" action="{{ route.guestbook_root + route.guestbook.reply }}">
                        <fieldset class="form-group">
                            <label for="reply">Reply</label>
                            <textarea class="form-control" name="reply" id="reply" rows="4">{{ item.reply }}</textarea>
                        </fieldset>

                        <div class="pull-lg-right">
                            <input type="hidden" name="id" value="{{ item.id }}"/>
                            <input type="hidden" name="_csrf" value="{{ _csrf }}"/>
                            {% if item.reply or item.replied_at %}
                            <button type="submit" class="btn btn-info">Update</button>
                            {% else %}
                            <button type="submit" class="btn btn-info">Reply</button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
            {% else %}
            {% if item.reply %}
            <div class="card">
                <div class="card-block">
                    {{ item.reply | default('Display reply if there were replied') }}
                    <p>{{ item.replied_at }}</p>
                </div>
            </div>
            {% endif %}
            {% endif %}

            {% if not loop.last %}
            <hr class="hr">
            {% endif %}
        </div>
        {% endfor %}
    </div>

{#####################################################
추후에 Ajax 로딩 버전의 샘플 코드도 추가할 예정입니다.
######################################################}
    <div class="row">
        <div class="col-lg-12">
            <nav>
                <ul class="pager">
                    {% if hasNext %}
                    <li><a href="{{ route.guestbook_root + route.guestbook.form }}{{page + 1}}">이전</a></li>
                    {% endif %}
                    {% if hasPrev %}
                    {% if page > 1 %}
                    <li><a href="{{ route.guestbook_root + route.guestbook.form }}{{page - 1}}">다음</a></li>
                    {% else %}
                    <li><a href="{{ route.guestbook_root + route.guestbook.form }}">다음</a></li>
                    {% endif %}
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    {% include '../include/footer.html' %}

</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://github.hubspot.com/tether/dist/js/tether.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
<script src="/{{site.theme}}/common/script.js"></script>
<!-- version 2 we use this pattern -->
<script src="/lib/editor.js"></script>
<script>
    $(document).ready(function () {
        var $form = $('#message_form');

        guestbook.initForm($form);

/*
        $form.on('submit', function (e) {
            e.preventDefault();
            if (guestbook.checkForm()) {
                guestbook.submitForm(guestbook.saveDone, guestbook.saveFail);
            } else {
                guestbook.showMessage('<strong>불량!</strong> 입력 내용을 확인해주세요.')
            }
            return false;
        });
*/

/* version 1
        $.getScript("/lib/editor.js")
                .done(function (script, textStatus) {
                    console.log(textStatus);
                })
                .fail(function (jqxhr, settings, exception) {
                    console.log(jqxhr, settings, exception);
                });
*/

/* version 1
        $.getScript('/lib/editor.js', function( data, textStatus, jqxhr ) {
            console.log(data); // Data returned
            console.log(textStatus); // Success
            console.log(jqxhr.status); // 200
            console.log("Load was performed.");
        });
*/
    });
</script></body>
</html>