<!DOCTYPE html>
<html lang="en">
<head>
    {% include './_include/head.html' %}
</head>
<body>
<div class="admin-container">
    {% include './_include/menu.html' %}
    <div class="dashboard-wrapper">
        <div class="columns dashboard-columns">
            <!-- Tile -->
            <div class="column is-3">
                <div class="flex-card card-overflow light-bordered light-raised">
                    <div class="icon-header">
                        <i class="icons primary fa fa-ban" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                        <div class="card-title is-tile has-text-right">
                            Sales
                            <div class="card-stat primary has-text-right">284 <span class="stat-type">this month</span></div>
                        </div>
                    </div>
                    <div class="more">
                        <a class="primary" href="#">See all</a>
                    </div>
                </div>
            </div>
            <!-- Tile -->
            <div class="column is-3">
                <div class="flex-card card-overflow light-bordered light-raised">
                    <div class="icon-header">
                        <i class="icons primary fa fa-ban" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                        <div class="card-title is-tile has-text-right">
                            Account
                            <div class="card-stat primary has-text-right"><span class="stat-type">$</span> 122 839,49</div>
                        </div>
                    </div>
                    <div class="more">
                        <a class="primary" href="#">Open</a>
                    </div>
                </div>
            </div>
            <!-- Tile -->
            <div class="column is-3">
                <div class="flex-card card-overflow light-bordered light-raised">
                    <div class="icon-header">
                        <i class="icons secondary fa fa-ban" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                        <div class="card-title is-tile has-text-right">
                            Deals
                            <div class="card-stat secondary has-text-right">14 <span class="stat-type">pending</span></div>
                        </div>
                    </div>
                    <div class="more">
                        <a class="secondary" href="#">See all</a>
                    </div>
                </div>
            </div>
            <!-- Tile -->
            <div class="column is-3">
                <div class="flex-card card-overflow light-bordered light-raised">
                    <div class="icon-header">
                        <i class="icons primary fa fa-ban" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                        <div class="card-title is-tile has-text-right">
                            Leads
                            <div class="card-stat secondary has-text-right">53 <span class="stat-type">new leads</span></div>
                        </div>
                    </div>
                    <div class="more">
                        <a class="secondary" href="#">See all</a>
                    </div>
                </div>
            </div>
        </div>

        <section class="section section-feature-grey is-medium">
            <div class="container">
                <div class="title-wrapper has-text-centered">
                    <h2 class="title is-2">Great Power Comes </h2>
                    <h3 class="subtitle is-5 is-muted">With great Responsability</h3>
                    <div class="divider is-centered"></div>
                </div>

                <div class="content-wrapper">
                    <div class="columns">
                        <div class="column is-one-third"></div>
                        <div class="column"></div>
                        <div class="column"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include './_include/footer.html' %}
</div>
<script src="/vendor/jquery/jquery.slim.min.js"></script>
<script src="{{site.theme}}/common/admin.js"></script>
</body>
</html>
