<!DOCTYPE html>
<html lang="en">
<head>
    {% include './include/head.html' %}
</head>
<body>
<div class="admin-container">
    {% include './include/menu.html' %}
    <div class="dashboard-wrapper">
        <div class="container">
            <div class="flex-card compose-card light-bordered light-raised is-flex is-start is-vcenter">
                <figure class="avatar image is-48x48 is-hidden-mobile">
                    <img src="{{ site.theme }}/common/asset/avatar/{{user.avatar}}" alt="">
                </figure>
                <div class="status-wrapper">
                    <form method="post" action="{{site.root}}{{route.manage.root}}{{ route.notice.root }}" id="notice-form">
                        <div class="control field">
                            <input class="input" name="title" type="text" placeholder="Title">
                        </div>
                        <div class="control">
                            <textarea class="textarea has-button" name="body" placeholder="Post a notice..."></textarea>
                            <div class="textarea-button">
                                <button type="submit" class="button is-secondary btn-align raised">Publish</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <section class="section">
            <div class="container">
                <div class="flex-card light-bordered light-raised notice-list" id="notice-list">
                    <h3 class="card-heading"><i class="fa fa-spinner fa-pulse"></i>Latest posts</h3>
                </div>
            </div>
        </section>
    </div>
    {% include './include/footer.html' %}
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="{{site.theme}}/common/admin.js"></script>
<script src="{{site.theme}}/common/manage/notice.js"></script>
</body>
</html>
