{% extends 'starter/layout.html' %}

{% block content %}
<link href="/lib/font-awesome/build/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/summernote-bs2.css" rel="stylesheet">
<link href="/css/summernote.css" rel="stylesheet">
<div class="row">
    <div class="span12">
        <form id="postForm" action="/upload" method="POST" enctype="multipart/form-data">
            <fieldset>
                <legend>Make Post</legend>
                <label for="title">Title</label>
                <input class="input-block-level" type="text" id="title" name="title" placeholder="Title">
                <p class="controls">
                    <label class="checkbox inline"><input type="checkbox" name="home" value="1"> Use Home</label>
                    <label class="checkbox inline"><input type="checkbox" class="use-menu"> Use Top Menu</label>
                    <label class="checkbox inline"><input type="checkbox" class="use-bg"> Use Background Image</label>
                </p>
                <div class="input-prepend hide use-menu">
                    <span class="add-on">Menu</span>
                    <input class="span3" id="prependedInput" type="text" name="menu_title" placeholder="Menu Title">
                </div>
                <div class="input-prepend hide use-menu">
                    <span class="add-on">Key</span>
                    <input class="span1" type="text" name="bind_key" placeholder="Bind">
                </div>
                <div class="input-prepend hide use-bg">
                    <input type="file" name="bg_image">
                </div>
                <p class="container">
                    <textarea class="input-block-level" id="summernote" name="content" rows="18"></textarea>
                </p>
                <label for="excerpt">Excerpt</label>
                <input class="input-block-level" type="text" id="excerpt" name="excerpt" placeholder="Excerpt">
            </fieldset>
            <div class="alert alert-danger hide">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> post process is not done
            </div>
            <button type="submit" class="btn btn-primary disabled">Save changes</button>
            <button type="button" id="cancel" class="btn">Cancel</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/lib/jquery-form/jquery.form.js"></script>
<script src="/js/summernote.min.js"></script>
<script src="/js/jquery.ui.widget.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/post.js"></script>
{% endblock %}
