{% extends 'starter/layout.html' %}

{% block content %}
{% for item in featured %}
<div class="hero-unit" {% if item.bg_image %}style="background-image: url('/upload/{{ item.bg_image }}')"{% endif %}>
    <h1><a href="/view/{{ item._id }}">{{ item.title }}</a></h1>
    {% if item.excerpt %}
    <p>{{ item.excerpt }}</p>
    {% else %}
    <p>{{ item.content|striptags|substring(200) }}</p>
    {% endif %}
</div>
{% endfor %}
<div class="row">
    {% for item in list %}
    <div class="span4" {% if item.bg_image %}style="background-image: url('/upload/{{ item.bg_image }}')"{% endif %}>
        <h2><a href="/view/{{ item._id }}">{{ item.title }}</a></h2>

        {% if item.excerpt %}
        <p>{{ item.excerpt }}</p>
        {% else %}
        <p>{{ item.content|striptags|substring(200) }}</p>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
{% endblock %}