{% extends 'starter/layout.html' %}

{% block content %}
<div class="hero-unit">
    {% for item in featured %}
    <h1>{{ item.title }}</h1>

    <p>{{ item.desc }}</p>
    {% endfor %}
</div>
<div class="row">
    {% for item in list %}
    <div class="span4">
        <h2>{{ item.title }}</h2>

        <p>{{ item.desc }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
{% endblock %}