<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ author.name }}">
    <link href="/lib/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="/lib/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/lib/bootstrap/docs/assets/js/html5shiv.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/lib/bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/lib/bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/lib/bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/lib/bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/lib/bootstrap/docs/assets/ico/favicon.png">
</head>
<body>
{% include 'starter/loading.html' %}
{% include 'starter/menu.html' %}
<div class="container">
    {% block content %}{% endblock %}
    <hr>
    <footer>
        <p>blititor 2013</p>
    </footer>
</div>
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/bootstrap/docs/assets/js/bootstrap.min.js"></script>
<script src="/lib/knockout.js/knockout.js"></script>
<script src="/lib/jwerty/jwerty.js"></script>
<script src="/lib/spin.js/dist/spin.min.js"></script>
<script src="/lib/spin.js/jquery.spin.js"></script>
<script src="/js/common.js"></script>
{% block script %}{% endblock %}
</body>
</html>
