{% extends 'starter/layout.html' %}

{% block content %}
<div class="row">
    {% for item in list %}
    <div class="span12">
        <h2><a href="/view/{{ item._id }}">{{ item.title }}</a></h2>

        {% if item.excerpt %}
        <p>{{ item.excerpt }}</p>
        {% else %}
        <p>{{ item.content|striptags|substring(200) }}</p>
        {% endif %}
    </div>
    {% endfor %}
    <div class="span12">
        <div class="pagination pagination-centered">
            <ul>
                {% if page_param.startPage > 1 %}
                <li><a href="?p=1">1</a></li>
                {% endif %}
                {% iterate item with page_param.startPage to page_param.endPage %}
                {% if item == page %}
                <li class="active"><a href="?p={{ item }}">{{ item }}</a></li>
                {% else %}
                <li><a href="?p={{ item }}">{{ item }}</a></li>
                {% endif %}
                {% enditerate %}
                {% if page_param.endPage < page_param.totalPages %}
                <li><a href="?p={{ page_param.totalPages }}">{{ page_param.totalPages }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        var menu = 'list';
        $('#top_menu li[data-id="' + menu + '"]').addClass('active');
    });
</script>
{% endblock %}
