{% extends 'starter/layout.html' %}

{% block content %}
<div class="row" data-bind="foreach: list">
    <div class="span12">
        <h2 data-bind="text: title"></h2>

        <p data-bind="text: desc"></p>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    var viewModel = {
        menu: ko.observable(),
        list: ko.observable()
    };
    $(document).ready(function () {
        ko.applyBindings(viewModel);

        $.getJSON('/list', function (data) {
            viewModel.menu(data.menu)
                    .list(data.list);
            bindKey(data.menu);
        });
    });
</script>
{% endblock %}
