{% extends 'starter/layout.html' %}

{% block content %}
<div class="row">
    <div class="span12">
        <form class="form-signin" method="post" action="/auth">
            <h2 class="form-signin-heading">Please Log in</h2>
            <input type="text" name="login" class="input-block-level" placeholder="ID" value="{{ remember }}">
            <input type="password" name="password" class="input-block-level" placeholder="Password">
            <label class="checkbox">
                <input type="checkbox" name="remember_id" value="1" {% if remember %}checked{% endif %}> Remember me
            </label>
            <button class="btn btn-large btn-primary" type="submit">Log in</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
{% endblock %}
