<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{ site.homeLink }}" accesskey="`">{{ site.homeMenu }}</a>
            <div class="nav-collapse collapse" id="top_menu">
                <ul class="nav">
                    <li class="" data-id="list"><a href="/list" accesskey="1">List</a></li>
                    {% for item in menu %}
                    <li class="" data-id="{{ item._id }}"><a href="/view/{{ item._id }}" accesskey="{{ item.bind_key }}">{{ item.menu_title }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="nav pull-right">
                    {% if login %}
                    <li class="" data-id="post"><a href="/post">Post</a></li>
                    <li><a href="/logout">Logout</a></li>
                    {% else %}
                    <li class="" data-id="login"><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>