<!DOCTYPE HTML>
<html lang="ko">
<head>
    {% include './include/head.html' %}
</head>
<body>
<div class="app-container">
    {% include './include/nav.html' %}
    <main class="app-content">
        <section class="section is-hero">
            <div class="container">
                <div class="columns is-vcentered is-centered">
                    <div class="column">
                        <hr class="spacer">

                        <h2 class="title">없는 페이지입니다!</h2>
                        <h3>404</h3>
                        <h3>요청하신 페이지: {{ url }}</h3>

                        <hr class="spacer">
                        <p>
                            <a href="/" class="theme_button color1">홈으로 이동</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include './include/footer.html' %}
</div>
<script></script>
</body>
</html>
