<!DOCTYPE HTML>
<html lang="ko">
<head>
    {% include './_include/head.html' %}
</head>
<body>
<div class="app-container">
{% include './_include/nav.html' %}
    <main class="app-content">
        <section class="section is-hero">
            <div class="container">
                <div class="columns is-vcentered is-centered">
                    <div class="column">
                        <hr class="spacer">

                        <h2 class="title">서버에 오류가 발생했습니다.</h2>
                        <h3>500</h3>
                        <h3>{{ error }}</h3>

                        <hr class="spacer">
                        <p>
                            <a href="/" class="theme_button color1">홈으로 이동</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% include './_include/footer.html' %}
</div>
<script></script>
</body>
</html>