<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../../include/head.html' %}
</head>
<body>
<div id="layout" class="pure-g">

    {% include '../../include/menu.html' %}

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <div class="form">

                <h1 class="content-subhead">Sign Up</h1>

                <form class="pure-form pure-form-stacked" method="post" action="{{ site.root }}{{ route.account_root + route.account.register }}">
                    <fieldset class="post-meta">

                        <div class="pure-g">
                            <div class="pure-u-1 pure-u-md-1-2">
                                <label for="nickname">Screen Name</label>
                                <input id="nickname" name="nickname" class="pure-u-23-24" type="text" placeholder="Enter screen name">
                            </div>

                            <div class="pure-u-1 pure-u-md-1-2">
                                <label for="id">User ID</label>
                                <input id="id" name="email" class="pure-u-23-24" type="email" placeholder="Username(Email Address)">
                            </div>

                            <div class="pure-u-1 pure-u-md-1-2">
                                <label for="password">Password</label>
                                <input id="password" name="password" type="password" placeholder="Password" class="pure-u-23-24">
                            </div>
                            <div class="pure-u-1 pure-u-md-1-2">
                                <label for="password_check">Password Confirm</label>
                                <input id="password_check" name="password_check" type="password" placeholder="Once More" class="pure-u-23-24">
                            </div>
                        </div>

                    </fieldset>

                    {% if message.error %}
                    {% for error in message.error %}
                    <div class="alert alert-login">
                        <strong>Warning!</strong> {{ error.msg }}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <input type="hidden" name="_csrf" value="{{ _csrf }}" hidden>
                    <button type="submit" class="pure-button pure-button-primary">Sign Up</button>
                </form>

            </div>

            <div class="form-description">
                <p class="post-meta" style="text-align: right">
                    if u have a account? let's <a class="post-category post-category-design" href="{{ route.account_root + route.account.signIn }}">Sign In</a>
                </p>
            </div>

            <!-- A wrapper for all the blog posts -->
            {% include '../../include/footer.html' %}
        </div>
    </div>
</div>
</body>
</html>
