.post .post-title a {
    color: #303030;
}
.post .post-title a:hover {
    color: #202020;
}
.post .post-date {
    margin: auto .5em;
}
.post-category-1 {
    background: #5aba59;
}
.post-category-2 {
    background: #4d85d1;
}
.post-category-3 {
    background: #8156a7;
}
.post-category-4 {
    background: #df2d4f;
}

.alert {
    padding: 1em;
    margin: .5em 0;
}
.alert-login {
    color: #ffffff;
    border: 1px solid #DF7514;
    background: #DF7514;
}

.trix-editor {
    line-height: 1.6;

    padding: 1em;
    min-height: 300px;
    max-height: 500px;
    overflow-y: auto;

    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-description {
    margin-top: 2em;
}