.application-wrapper {
    margin-top: 52px;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

.application-wrapper h3 {
    text-decoration: underline;
}

.application-wrapper .content {
    padding: 2em;
}

.describe {
    padding: 1em 2em 0.5em;
    background: #aaa;
    color: #111;
}

.search {
    margin-bottom: 1em;
}

.alert {
    background: #DF7514;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 0.8em 1em;
    margin-bottom: 0.5em;
    color: #fff;
}

h2.logo-title {
    padding-left: 0;
    margin-left: 0;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-secondary {
    color: white;
    border-radius: 2px;
    padding: .4em .5em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}
.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}
.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.splash p a.pure-button {
    margin: 4px;
}

.content p {
    text-align: justify;
}

.content a {
    color: #2d3e50;
    font-weight: bold;
}

.content small {
    letter-spacing: 0.05em;
    opacity: 0.2;
    margin-left: 4px;
}

.content-head {
    padding: 0 2em;
}

.table-wide {
    width: 100%;
}

.table-wide .pure-button {

}

.table-wide .account-tag {
    width: 12em;
    min-width: 8em;
    max-width: 20em;
}

.table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}

.account-access-log ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sign-up input[type] {
    width: 100%;
    margin-bottom: 1em;
}

input.pure-file-input[type=file] {
    border: 0;
    vertical-align: middle;
}

.grant-checker label {
    margin-right: 0.9em;
    font-weight: normal;
}

.v-top {
    vertical-align: top;
}

.picker-holder .datepicker-panel>ul>li {
    height: 26px;
}

.picker-holder .datepicker-container {
    font-size: 14px;
}

.datepicker-panel>ul>li.picked, .datepicker-panel>ul>li.picked:hover {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: underline;
}

@media (min-width: 78em) {
    .content-head {
        padding: 0 1em;
    }
}

.chatting {
    border-top: 1px solid #eee;
}

.chatting .public {
    background: #111;
    padding: 1em;
    position: fixed;
    bottom: 0;
}
.chatting .public button {
    float: right;
}

.chatting .private {
    display: none;
}
.private-pop form {
    background-color: #fff;
    padding: 0.5em 1em;
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}
.private-pop .pure-control-group label {
    width: 4em;
}
.private-pop .pure-control-group textarea {
    margin-right: 0.5em;
    min-width: 300px;
}

.private-pop .pure-controls {
    margin: 1em 0 0 5.25em;
}
.message-list {
    overflow: hidden;
}
.messages {
    list-style-type: none;
    padding: 0;
}

.messages li {
    padding: 5px 10px;
}
.messages li:nth-child(odd) {
    background: #f8f8f8;
}

.user-list {
    float: right;
    width: 10em;
    border-left: 0;
}
.user-list .user-id {
    cursor: pointer;
}

.thumbnail {
    margin: 8px 5px 5px 5px;
    display: inline-block;
    max-width: 100%;
    padding: 4px;
    line-height: 1.45;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.gallery .toggle-category {
    cursor: pointer;
}

.gallery .selected-category {
    background-color: #337ab7;
}

.gallery .add-image {
    text-align: right;
    margin: 2em 0;
}

.gallery-wrap .img-holder img.uploaded {
    cursor: pointer;
}
.gallery-wrap .img-holder img.uploaded:hover {
    background: rgb(202, 60, 60);
}

.progress {
    margin: 1em 0;
    height: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-bar-success {
    background-color: #5cb85c;
}

.reservation-status .title .small {
    padding-left: 1em;
    color: #acacac;
    font-size: 0.8em;
}

#list_holder {
    padding: 4px;
}

#list_holder td {
    background: #f9f9f9;
}