<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{site.title}}</title>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/{{site.theme}}/common/style.css"/>
    <link rel="stylesheet" href="/{{site.theme}}/{{site.themeType.setup}}/{{site.themeType.setup}}.css"/>
</head>
<body>
{% include site.theme + '/' + site.themeType.setup + "/include/header.html" %}
<div class="bd-pageheader">
    <div class="container">

        <h1>Default Theme Configuration</h1>
        <p class="lead">
            기본 테마를 선택해주세요
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form id="theme_list" method="post" action="{{site.url}}">
                <div class="card-deck-wrapper">
                    {% for theme in themeList %}
                    {% if loop.index % 3 %}
                    <div class="card-deck">
                    {% endif %}
                        <div class="card">
                            <img class="card-img-top" data-src="..." alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">
                                    <label>
                                        {{ theme.description.title | default('No title here') }}
                                        ({{ theme.folderName }})
                                        <input type="radio" name="theme" value="{{ theme.folderName }}">
                                    </label>
                                </h4>
                                <p class="card-text">{{ theme.description.quote | default('No description here') }}</p>
                                <p class="card-text"><small class="text-muted">soomtong (soomtong@gmail.com)</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" data-src="..." alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">
                                    <label>
                                        {{ theme.description.title | default('No title here') }}
                                        ({{ theme.folderName }})
                                        <input type="radio" name="theme" value="{{ theme.folderName }}">
                                    </label>
                                </h4>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" data-src="..." alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">
                                    <label>
                                        {{ theme.description.title | default('No title here') }}
                                        ({{ theme.folderName }})
                                        <input type="radio" name="theme" value="{{ theme.folderName }}">
                                    </label>
                                </h4>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    {% if loop.index % 3 %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="insert_sample"> 샘플 데이터를 함께 설정
                    </label>
                </div>

                <div id="message" class="alert alert-danger alert-dismissible fade in" role="alert" hidden>
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p class="text"><strong>불량!</strong> 내용 점검에 실패했습니다.</p>
                </div>

                <input type="hidden" name="_csrf" value="{{_csrf}}"/>
                <button type="submit" class="btn btn-primary" >Submit</button>
            </form>

        </div>
    </div>
</div>
{% include site.theme + '/' + site.themeType.setup + "/include/footer.html" %}
<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://github.hubspot.com/tether/dist/js/tether.js"></script>
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
<script src="/{{site.theme}}/{{site.themeType.setup}}/{{site.themeType.setup}}.js"></script>
<script>
    $(function() {
        var $form = $('#database_info');

        blititor.dbSetup.initForm($form);

        $form.on('submit', function (e) {
            e.preventDefault();
            if (blititor.dbSetup.checkForm()) {
                blititor.dbSetup.submitForm(blititor.dbSetup.saveDone, blititor.dbSetup.saveFail);
            } else {
                blititor.dbSetup.showMessage('<strong>불량!</strong> 입력 내용을 확인해주세요.')
            }
            return false;
        });
    });
</script>
</body>
</html>