<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About This Site</title>
    {% include '../include/style.html' %}
</head>
<body>
<div class="pure-g">
    <div class="pure-u-1">
        <h2>{{title}}</h2>
        <dl>
            <dt>Path</dt>
            <dd>{{path}}</dd>
        </dl>
        <dl>
            <dt>Page</dt>
            <dd>{{page}}</dd>
        </dl>

        <h3>Menu</h3>
        <ul>
            {% for item in menu %}
            <li><a href="{{item.url}}">{{item.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>