<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Plain Demo - Pure</title>
    {% include '../include/style.html' %}
</head>
<body>

{% include '../include/header.html' %}

<div class="application-wrapper">
    <div class="content">
        <div class="pure-g">
            <div class="pure-u-1">
                <h2>SIMPLE CHATTING SERVICE</h2>
                <h3>심플 채팅 서비스</h3>
                <ul>
                    <li>오른쪽 버튼을 클릭하여 접속해 있는 대상에게 메시지를 보낼 수 있습니다.</li>
                    <li>나에게 귓속말을 보낼 수 없습니다.</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="private_chat_pop" style="display:none;">
        <form id="private" class="pure-form" onsubmit="return false">
            <ul>
                <li>받는 사람 : <span id="nickname_display"></span></li>
                <li>
                    내용 : <br>
                    <input type="hidden" name="nickname" id="nickname_val">
                    <textarea rows="5" name="msg" id="msg_val" class="pure-input" required></textarea>
                </li>
            </ul>
            <button class="pure-button">Send</button>
        </form>
    </div>

    <div class="chatting">
        <div class="pure-g">
            <div class="pure-u-1">
                <div class="user-list">
                    <ul id="users" class="pure-menu-list">
                        <li class="pure-menu-heading">접속자 리스트</li>
                    </ul>
                </div>

                <div class="message-list">
                    <ul id="messages" class="pure-menu-list messages"></ul>
                </div>
            </div>

            <div class="pure-u-1 public">
                <form id="public" class="pure-form" onsubmit="return false">
                    <button type="submit" class="pure-button pure-button-primary">Send</button>

                    <div style="overflow: hidden; padding-right: .5em;">
                        <input id="m" name="message" class="pure-u-1" placeholder="leave a message" autocomplete="off"/>
                    </div>                    ​
                </form>

                {% include '../include/footer.html' %}

            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="{{site.theme}}/common/jquery.bpopup.min.js"></script>
<script src="{{site.theme}}/common/chat.js"></script>
</body>
</html>