<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{app.title}} - {{site.title}}</title>
    {% include '../include/style.html' %}
</head>
<body>

{% include '../include/header.html' %}

<div class="pure-g team">
    <div class="photo-box u-1 u-med-1-3 u-lrg-1-4">
        <a href="//github.com/soomtong">
            <img class="pure-img" src="//placeimg.com/460/250/1" alt="Aiden">
        </a>

        <aside class="photo-box-caption">
            <span><a href="//twitter.com/soomtong">Aiden</a></span>
        </aside>
    </div>

    <div class="text-box u-1 u-med-2-3 u-lrg-3-4">
        <div class="l-box">
            <h1 class="text-box-head">웹 개발자가 웹 개발자를 위해 만들고 있습니다.</h1>
            <p class="text-box-subhead">Javascript 와 HTML, CSS 만 이해하면 바로 시작할 수 있습니다.</p>
        </div>
    </div>

    <div class="photo-box u-1 u-med-1-2 u-lrg-1-3">
        <a href="//github.com/soomtong">
            <img class="pure-img" src="//placeimg.com/460/250/2" alt="Aiden">
        </a>

        <aside class="photo-box-caption">
            <span><a href="//twitter.com/soomtong">Aiden</a></span>
        </aside>
    </div>

    <div class="photo-box u-1 u-med-1-2 u-lrg-1-3">
        <a href="//github.com/soomtong">
            <img class="pure-img" src="//placeimg.com/460/250/3" alt="Aiden">
        </a>

        <aside class="photo-box-caption">
            <span><a href="//twitter.com/soomtong">Aiden</a></span>
        </aside>
    </div>

    <div class="photo-box u-1 u-med-1-2 u-lrg-1-3">
        <a href="//github.com/soomtong">
            <img class="pure-img" src="//placeimg.com/460/250/4" alt="Aiden">
        </a>

        <aside class="photo-box-caption">
            <span><a href="//twitter.com/soomtong">Aiden</a></span>
        </aside>
    </div>

    <div class="photo-box u-1 u-med-1-2 u-lrg-1-3">
        <a href="//github.com/soomtong">
            <img class="pure-img" src="//placeimg.com/460/250/5" alt="Aiden">
        </a>

        <aside class="photo-box-caption">
            <span><a href="//twitter.com/soomtong">Aiden</a></span>
        </aside>
    </div>

    <div class="photo-box photo-box-thin u-1 u-lrg-2-3">
        <a href="//github.com/soomtong">
            <img class="pure-img" src="//placeimg.com/800/300/1" alt="Aiden">
        </a>

        <aside class="photo-box-caption">
            <span><a href="//twitter.com/soomtong">Aiden</a></span>
        </aside>
    </div>

    <div class="photo-box photo-box-thin u-1 u-med-2-3">
        <a href="//github.com/soomtong">
            <img class="pure-img" src="//placeimg.com/800/300/2" alt="Aiden">
        </a>

        <aside class="photo-box-caption">
            <span><a href="//twitter.com/soomtong">Aiden</a></span>
        </aside>
    </div>

    <div class="photo-box u-1 u-med-1-3">
        <a href="//github.com/soomtong">
            <img class="pure-img" src="//placeimg.com/460/250/6" alt="Aiden">
        </a>

        <aside class="photo-box-caption">
            <span><a href="//twitter.com/soomtong">Aiden</a></span>
        </aside>
    </div>

    <div class="u-1">
        <div class="l-box">
            <h2>Creating a Photo Gallery Layout</h2>

            <p>
                This page shows how to make a photo gallery using <a href="/grids/">Pure Grids</a>. Using Pure, we can create interesting layouts such as this photo gallery. This layout is fully responsive. We've added a bit of custom media queries on top of the responsive grid provided by Pure.
            </p>

            <p>
                We've also taken advantage of <a href="/forms/">Pure Forms</a> and <a href="/menus/">Pure Menus</a>. This example uses a form with the <code>pure-form</code> class name to create an inline form. We use <a href="/buttons/">Pure Buttons</a> for the button styling.
            </p>
        </div>
    </div>
</div>

{% include '../include/footer.html' %}

</body>
</html>