<!DOCTYPE html>
<html lang="ko">
<head>
    {% include '../include/head.html' %}
</head>
<body>

<header id="top" class="header">

    {% include '../include/menu.html' %}

    <section id="page_header" class="page-header">
        <h1>Keynote</h1>
    </section>
</header>

<section id="program" class="program">
    <div class="container">

        <div class="row tutorial" id="1">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2>HOW I ACTUALLY DID. OPEN SOURCE.</h2>
            </div>

            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 profile">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon/common/asset/speaker/kimnamhyeong.png" alt="김남형">
                    </div>
                </div>
                <h3>김남형</h3>
            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                <div class="row description">
                    <div class="col-sm-12">
                        <p style="font-size: 1.2em;">
                            저는 2010년부터 리눅스 커널 개발자로 활동해 왔으며
                            현재는 LG 전자 open source contribution 팀에서 근무하고 있습니다.
                            주로 System tracing (perf + ftrace) 분야에서 활동을 해왔고
                            최근에는 uftrace 라는 툴을 개발하여 오픈소스로 진행하고 있습니다.
                        </p>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                10:30 - 11:30 (60분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 이력</dt>
                            <dd>
                                현 LG 전자 Open Source Contribution 팀 근무
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row go-reservation">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                <p class="lead">좌석이 한정되어 있으므로 기조연설 참관을 원하시는 분은 지금 사전 등록하시기 바랍니다.</p>
                <p class="link">
                    <a href="/reservation"><span class="register">사전 등록하기<i class="glyphicon glyphicon-chevron-right"></i></span></a>
                </p>
            </div>
        </div>

    </div>

</section>

{% include '../include/footer.html' %}

</body>
</html>