<!DOCTYPE html>
<html lang="ko">
<head>
    {% include '../include/head.html' %}
</head>
<body>

<header id="top" class="header">

    {% include '../include/menu.html' %}

    <section id="page_header" class="page-header">
        <h1>PROGRAM</h1>
    </section>
</header>

<section id="program" class="program">
    <div class="container">

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <h2>Presentation</h2>

                <div class="table-responsive">

                </div>
            </div>
        </div>

        <div class="row">

        </div>

    </div>

</section>

{% include '../include/footer.html' %}

</body>
</html>