<!DOCTYPE html>
<html lang="ko">
<head>
    {% include '../include/head.html' %}
</head>
<body>

<header id="top" class="header">

    {% include '../include/menu.html' %}

    <section id="page_header" class="page-header">
        <h1>Presentation</h1>
    </section>
</header>

<section id="program" class="program">
    <div class="container">

        <div class="row tutorial" id="1">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 1</span> <br> 음향 주파수 분석을 통한 스마트 디바이스 통화연결음 제어</h2>
                <p class="tag">
                    <span class="label label-default" title="Mobile">Mobile</span>
                    <span class="label label-success" title="Application">Application</span>
                    <span class="label label-info" title="Platform">Platform</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon/common/asset/speaker/no-profile.png" alt="백운천">
                <h3>백운천</h3>
                <div>
                    <span class="small">KOSSLAB 2기 전담</span><br>
                    <span class="small">모바일</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                스마트폰에서 통신사의 도움없이 통화연결음을 제어할 수 있는 방법과 그 과정에서 겪은 어려움을 공유
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                12:30 - 13:10 (40분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 2기
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="2">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 2</span> <br> 모바일 네트워크와 데이터 통신</h2>
                <p class="tag">
                    <span class="label label-default" title="Mobile">Mobile</span>
                    <span class="label label-info" title="Platform">Platform</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon/common/asset/speaker/no-profile.png" alt="이창환">
                <h3>이창환</h3>
                <div>
                    <span class="small">KOSSLAB 3기 전담</span><br>
                    <span class="small">모바일 네트워크</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                LTE 와 같은 모바일 네트워크에서 데이터 통신의 현실 및 한계와 그에 대한 극복방법을 모색합니다.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                12:30 - 13:10 (40분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 3기
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="3">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 1</span> <br> Pull Request 에 품질보증서를 달아보자 - Travis CI</h2>
                <p class="tag">
                    <span class="label label-success" title="Application">Application</span>
                    <span class="label label-warning" title="IoT">IoT</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon/common/asset/speaker/no-profile.png" alt="김종광">
                <h3>김종광</h3>
                <div>
                    <span class="small">KOSSLAB 3기 전담</span><br>
                    <span class="small">테스트</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                Github, Pull Request 에 테스트 완료 보증서를 부착하여 안심하고 Merge 할 수 있게 하는 방법에 대해 알아봅니다.
                                <ul class="desc-list">
                                    <li>Travis CI</li>
                                    <li>JUnit</li>
                                    <li>코드 분석 도구</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                13:10 - 13:50 (40분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 3기
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="4">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 2</span> <br> CUBRID 개발을 통한 오픈소스 개발자 입문기</h2>
                <p class="tag">
                    <span class="label label-info" title="Platform">Platform</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon/common/asset/speaker/minjun.png" alt="민준">
                <h3>민준</h3>
                <div>
                    <span class="small">KOSSLAB 3기 파트</span><br>
                    <span class="small">DBMS engine, DBMS driver</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                오픈소스 개발을 전혀 해본적 없는 사람이 오픈프론티어가 되고 또 CUBRID를 이용해 오픈소스에 기여해가며 배우고 있는 내용 등을 공유합니다.
                                <ul class="desc-list">
                                    <li>CUBRID에 기여하는 방법</li>
                                    <li>알아아야 기본적인 것, 등등</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                13:10 - 13:50 (40분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 3기
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="5">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 1</span> <br> 노드.JS 기반의 오픈소스 웹 프로젝트</h2>
                <p class="tag">
                    <span class="label label-primary" title="Web">Web</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon/common/asset/speaker/no-profile.png" alt="주영택">
                <h3>주영택</h3>
                <div>
                    <span class="small">KOSSLAB 2기 전담</span><br>
                    <span class="small">Node.js</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                블리티터는 쓸만한 노드 웹 사이트 구축 솔루션을 찾지 못해 시작한 개인 프로젝트입니다
                                <ul class="desc-list">
                                    <li>왜 올드스쿨인가</li>
                                    <li>프로젝트 구조</li>
                                    <li>블리티터의 지향점</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                14:00 - 14:35 (35분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 2기
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="6">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 2</span> <br> Spring Boot 기반의 배포용 오픈소스 Wiki 개발기</h2>
                <p class="tag">
                    <span class="label label-primary" title="Web">Web</span>
                    <span class="label label-success" title="Application">Application</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon/common/asset/speaker/hanyonghee.png" alt="한용희">
                <h3>한용희</h3>
                <div>
                    <span class="small">KOSSLAB 3기 파트</span><br>
                    <span class="small">Web Application</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                스터디로 시작해서 오픈소스(키워드 기반 소셜 Q&A LibQa)를 개발해온 과정에 대해서 이야기 합니다.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                14:00 - 14:35 (35분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                삽질을 업이라 여기고 오늘도 삽질하는 개발자
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="7">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 1</span> <br> Progressive Web App with React</h2>
                <p class="tag">
                    <span class="label label-default" title="Mobile">Mobile</span>
                    <span class="label label-primary" title="Web">Web</span>
                    <span class="label label-success" title="Application">Application</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon/common/asset/speaker/no-profile.png" alt="문현경">
                <h3>문현경</h3>
                <div>
                    <span class="small">KOSSLAB 2기 전담</span><br>
                    <span class="small">Progressive Web App</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                Progressive Web App 이 생소한 많은 분들을 위해서 요사이 개발자들이 많이 선호하는
                                React.js 와 Webpack 이 사용되는 개발환경에서
                                여러가지 기법과 도구를 이용한 Progressive Web App 개발 방법에 대해서 소개하고자 합니다.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                14:35 - 15:10 (35분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 2기
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="8">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 2</span> <br> 대용량 분산처리 시스템 기반의 메신저 구축 사례</h2>
                <p class="tag">
                    <span class="label label-default" title="Mobile">Mobile</span>
                    <span class="label label-success" title="Application">Application</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon/common/asset/speaker/kimyohan.png" alt="김요한">
                <h3>김요한</h3>
                <div>
                    <span class="small">KOSSLAB 3기 파트</span><br>
                    <span class="small">react-native, node.js</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                react-native 으로 메신져 만들어보면서 고민했던 것들을 공유하고 싶습니다.
                                그리고, 수많은 사용자가 사용하는 메신저의 대용량 트래픽을 처리할 수 있는 방법 또한 소개합니다.
                                <br>
                                (관련 오픈소스 프로젝트 : react-native, parse-server, node-xpush)
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                14:35 - 15:10 (35분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 3기
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="9">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 1</span> <br> WebComponents 기반의 웹 플랫폼 개발</h2>
                <p class="tag">
                    <span class="label label-default" title="Mobile">Mobile</span>
                    <span class="label label-primary" title="Web">Web</span>
                    <span class="label label-success" title="Application">Application</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon/common/asset/speaker/no-profile.png" alt="신정규">
                <h3>신정규</h3>
                <div>
                    <span class="small">KOSSLAB 3기 파트</span><br>
                    <span class="small">Progressive Web</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                프로그레시브 웹의 기반 기술인 WebComponents 기술과, 구글의 WebComponent 라이브러리인 Polymer를 소개합니다.
                                실제 적용 사례로 WebComponents 기반으로 리팩토링 중인 텍스트큐브에 적용하는 과정을 함께 설명합니다.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                15:10 - 15:45 (35분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                Lablup Inc. 대표 <br>
                                오픈프론티어 3기
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="10">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 2</span> <br> Athena Meerkat (미들웨어 통합관리 솔루션)</h2>
                <p class="tag">
                    <span class="label label-info" title="Platform">Platform</span>

                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon/common/asset/speaker/no-profile.png" alt="박상천">
                <h3>박상천</h3>
                <div>
                    <span class="small">KOSSLAB 2기 파트</span><br>
                    <span class="small">가상화, 미들웨어</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                Athena Meerkat은 Apache Tomcat의 통합 관리 솔루션으로서 설치에서부터
                                구성, 세션 클러스터링, 로그 분석 및 모니터링까지 모든 과정을
                                웹 UI를 통해 쉽게 관리할 수 있습니다.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                15:10 - 15:45 (35분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈소스컨설팅에서 컨설턴트 및
                                개발자로 근무중
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="11">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 1</span> <br> JAVASCRIPT TO NATIVE, 이것이 진짜 풀스택</h2>
                <p class="tag">
                    <span class="label label-default" title="Mobile">Mobile</span>
                    <span class="label label-primary" title="Web">Web</span>
                    <span class="label label-success" title="Application">Application</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon/common/asset/speaker/kimdongwoo.png" alt="김동우">
                <h3>김동우</h3>
                <div>
                    <span class="small">KOSSLAB 3기 파트</span><br>
                    <span class="small">모바일 어플리케이션</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                "JavaScript가 최고 핫하다며?",
                                "JS? 웹에서 레이어 접었다 폈다할때나 쓰는거?",
                                "JQuery는 이제 아무도 안써?",
                                "React? Babel? ES2016? Wepack? 그게 다 뭔데?" <br>
                                JavaScript로 Native 개발하는 이야기, JavaScript로 Front-Backend 진짜 풀스택으로 개발하는 이야기를 나눠 봅니다.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                16:00 - 16:35 (35분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                13년차 진짜 풀스택 개발자, 작은 스타트업 CTO, 한국콘텐츠진흥원 평가위원,
                                오픈소스 프론티어 3기, Tidev.kr 부운영자, React Korea 부운영자,
                                개발과 모임을 사랑하는 성공하고 싶은 덕후
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="12">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 2</span> <br> 어플리케이션 성능 모니터링과 Scouter</h2>
                <p class="tag">
                    <span class="label label-info" title="Platform">Platform</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon/common/asset/speaker/leegunhee.png" alt="이건희">
                <h3>이건희</h3>
                <div>
                    <span class="small">KOSSLAB 3기 파트</span><br>
                    <span class="small">성능,Java</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                Scouter의 고급 활용 기법을 통하여  나만의 성능 모니터링 환경을 구축할 수 있는 방법을 알려드립니다.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                16:00 - 16:35 (35분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈소스를 좋아하며 개발자의 핫한 무기를 많이 만들고싶은 잉여 개발자입니다.
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="13">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 1</span> <br> Web Payment API</h2>
                <p class="tag">
                    <span class="label label-primary" title="Web">Web</span>
                    <span class="label label-info" title="Platform">Platform</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon/common/asset/speaker/bangjinho.png" alt="방진호">
                <h3>방진호</h3>
                <div>
                    <span class="small">KOSSLAB 3기 파트</span><br>
                    <span class="small">웹 표준 및 브라우저 API</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                Web Payment API의 표준에 대하여 설명하고,
                                해당 API의 브라우저 별 구현 현황과 실제 사용을 위한 레퍼런스를 소개합니다.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                16:35 - 17:10 (35분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                평범한 개발자
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="14">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 2</span> <br> Understanding of Linux Kernel Memory Model</h2>
                <p class="tag">
                    <span class="label label-danger" title="Kernel">Kernel</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon/common/asset/speaker/parksungjae.png" alt="박성재">
                <h3>박성재</h3>
                <div>
                    <span class="small">KOSSLAB 3기 파트</span><br>
                    <span class="small">리눅스 커널</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                대부분의 메모리 모델은 사람의 직관과 반대되는 방식으로 프로그램의 메모리 접근 순서 등을 바꿔 수행하는 것을 허용합니다.
                                때문에 메모리 모델에 대한 올바른 이해 없이 작성된 프로그램은 멀티 프로세서 환경 등에서 이상 동작을 하기 쉽습니다.
                                이 발표에서는 리눅스 커널의 경우를 포함한 메모리 모델들을 알아봅니다.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                16:35 - 17:10 (35분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈소스와 리눅스를 좋아하는 뉴비 프로그래머입니다.
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="15">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 1</span> <br> Elixir 를 이용한 분산시스템</h2>
                <p class="tag">
                    <span class="label label-info" title="Platform">Platform</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon/common/asset/speaker/no-profile.png" alt="박창욱">
                <h3>박창욱</h3>
                <div>
                    <span class="small">Haru</span><br>
                    <span class="small">분산 시스템</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                아직은 낯선 언어지만 Erlang의 특성을 이어받아 성장중인 Elixir. <br>
                                평범한 개발자도 조금 편하게 분산 시스템을 구축 할 수 있는 Elixir를 소개합니다.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                17:10 - 17:45 (35분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                코딩을 잘하고 싶은 평범한 주니어 개발자입니다.
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="16">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 2</span> <br> Contribute to Chromium</h2>
                <p class="tag">
                    <span class="label label-success" title="Application">Application</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon/common/asset/speaker/no-profile.png" alt="임성국">
                <h3>임성국</h3>
                <div>
                    <span class="small">KOSSLAB 2기 파트</span><br>
                    <span class="small">Chromium</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                Chromium contribution에 필요한 준비물 및 방법, 과정
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                17:10 - 17:45 (35분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 2기
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>


        <div class="row go-reservation">
            <div class="col-lg-6 col-lg-offset-4 col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-9 col-xs-offset-1">
                <p class="lead">좌석이 한정되어 있으므로 튜토리얼에 참여를 원하시는 분은 지금 사전 등록하시기 바랍니다.</p>
                <p class="link">
                    <a href="/reservation"><span class="register">사전 등록하기<i class="glyphicon glyphicon-chevron-right"></i></span></a>
                </p>
            </div>
        </div>

    </div>
</section>

{% include '../include/footer.html' %}

</body>
</html>