<!DOCTYPE html>
<html lang="ko">
<head>
    {% include './include/head.html' %}
</head>
<body>

<header id="top" class="header">

    {% include './include/menu.html' %}

    <section id="page_header" class="page-header">
        <h1>PROGRAM</h1>
    </section>
</header>

<section id="program" class="program">
    <div class="container">

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <h2>Reception / Keynote</h2>

                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th class="subject">TIME</th>
                            <th>PROGRAM</th>
                        </tr>
                        <tr>
                            <td>10:00 - 10:15</td>
                            <td>행사안내 영상</td>
                        </tr>
                        <tr>
                            <td>10:15 - 10:30</td>
                            <td>환영인사 <span class="small">사회자</span></td>
                        </tr>
                        <tr>
                            <td>10:30 - 11:30</td>
                            <td><a href="/program/keynote">Keynote</a> <span class="small">김남형</span> <span class="small">조만석</span></td>
                        </tr>
                        <tr>
                            <td>11:30 - 12:30</td>
                            <td>점심식사 및 다과 (트랙별 준비 및 참가자 이동)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <h2>Tutorial</h2>
                <p class="text-right">
                    <span class="label label-default" title="Mobile">Mobile</span>
                    <span class="label label-primary" title="Web">Web</span>
                    <span class="label label-success" title="Application">Application</span>
                    <span class="label label-info" title="Platform">Platform</span>
                    <span class="label label-warning" title="AI">A.I</span>
                    <span class="label label-danger" title="Kernel">Kernel</span>
                </p>
                <div class="table-responsive">
                    <table class="table tutorial">
                        <tr>
                            <th class="subject">TIME</th>
                            <th>TRACK 3</th>
                            <th>TRACK 4</th>
                            <th>TRACK 5</th>
                            <th>TRACK 6</th>
                        </tr>
                        <tr class="tutorial-section-1">
                            <td>12:30 - 13:50</td>
                            <td><a href="/program/tutorial#1">Rust 프로그래밍 언어 사용하는 방법</a>
                                <br>
                                <span class="label label-success" title="Application">A</span>
                                <span class="small">서상현</span>
                            </td>
                            <td><a href="/program/tutorial#2">오픈소스를 활용한 채팅서비스 개발사례</a>
                                <br>
                                <span class="label label-default" title="Mobile">M</span>
                                <span class="label label-primary" title="Web">W</span>
                                <span class="label label-success" title="Application">A</span>
                                <span class="small">정진영</span>
                            </td>
                            <td><a href="/program/tutorial#3">루씬 쏠라 검색 방법론 튜토리얼 및 실습</a>
                                <br>
                                <span class="label label-success" title="Application">A</span>
                                <span class="label label-info" title="Platform">P</span>
                                <span class="small">강명구</span>
                            </td>
                            <td><a href="/program/tutorial#4">Loopback 으로 API 서버 만들어보기</a>
                                <br>
                                <span class="label label-primary" title="Web">W</span>
                                <span class="label label-success" title="Application">A</span>
                                <span class="small">김정근</span>
                            </td>
                        </tr>
                        <tr class="lunch">
                            <td>13:50 - 14:00</td>
                            <td colspan="4">휴식 및 네트워킹</td>
                        </tr>
                        <tr class="tutorial-section-2">
                            <td>14:00 - 15:50</td>
                            <td><a href="/program/tutorial#5">디자이너 없이 SpringBoot 프로젝트 제대로 만들기</a>
                                <br>
                                <span class="label label-primary" title="Web">W</span>
                                <span class="label label-success" title="Application">A</span>
                                <span class="small">장기영</span>
                            </td>
                            <td><a href="/program/tutorial#6">Cocos2d-X Quick Start</a>
                                <br>
                                <span class="label label-default" title="Mobile">M</span>
                                <span class="label label-success" title="Application">A</span>
                                <span class="small">박현천</span>
                            </td>
                            <td><a href="/program/tutorial#7">Docker 를 이용한 php 개발 환경 구축하기</a>
                                <br>
                                <span class="label label-primary" title="Web">W</span>
                                <span class="label label-info" title="Platform">P</span>
                                <span class="small">황재희</span>
                            </td>
                            <td><a href="/program/tutorial#8">Linux Kernel - perf 오픈소스 참여방법과 개발과정의 이해</a>
                                <br>
                                <span class="label label-danger" title="Kernel">K</span>
                                <span class="small">송태웅</span>
                            </td>
                        </tr>
                        <tr class="lunch">
                            <td>15:50 - 16:00</td>
                            <td colspan="4">휴식 및 네트워킹</td>
                        </tr>
                        <tr class="tutorial-section-3">
                            <td>16:00 - 17:50</td>
                            <td><a href="/program/tutorial#9">React + Redux 앱 만들기</a>
                                <br>
                                <span class="label label-primary" title="Web">W</span>
                                <span class="label label-success" title="Application">A</span>
                                <span class="small">채수원</span>
                            </td>
                            <td><a href="/program/tutorial#10">Unity 와 클라우드 연동으로 하루만에 끝내는 모바일 게임 만들기</a>
                                <br>
                                <span class="label label-default" title="Mobile">M</span>
                                <span class="label label-success" title="Application">A</span>
                                <span class="small">홍윤석,이정엽</span>
                            </td>
                            <td><a href="/program/tutorial#11">제로부터 시작하는 텐서플로우</a>
                                <br>
                                <span class="label label-warning" title="AI">I</span>
                                <span class="small">조만석</span>
                            </td>
                            <td><a href="/program/tutorial#12">고 언어를 사용한 임베디드 리눅스 프로그래밍</a>
                                <br>
                                <span class="label label-success" title="Application">A</span>
                                <span class="small">이호민</span>
                            </td>
                        </tr>
                        <tr class="finale">
                            <td>17:50 - 18:00</td>
                            <td colspan="4">경품 추첨 및 폐회</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <h2>Presentation</h2>
                <p class="text-right">
                    <span class="label label-default" title="Mobile">Mobile</span>
                    <span class="label label-primary" title="Web">Web</span>
                    <span class="label label-success" title="Application">Application</span>
                    <span class="label label-info" title="Platform">Platform</span>
                    <span class="label label-warning" title="IoT">IoT</span>
                    <span class="label label-danger" title="Kernel">Kernel</span>
                </p>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th class="subject">TIME</th>
                            <th>TRACK 1</th>
                            <th>TRACK 2</th>
                        </tr>
                        <tr>
                            <td rowspan="2">12:30 - 13:50</td>
                            <td><a href="/program/presentation#1">음향 주파수 분석을 통한 스마트 디바이스 통화연결음 제어</a>
                                <br>
                                <span class="label label-default" title="Mobile">M</span>
                                <span class="label label-success" title="Application">A</span>
                                <span class="label label-info" title="Platform">P</span>
                                <span class="small">백운천</span>
                            </td>
                            <td><a href="/program/presentation#2">모바일 네트워크와 데이터 통신</a>
                                <br>
                                <span class="label label-default" title="Mobile">M</span>
                                <span class="label label-info" title="Platform">P</span>
                                <span class="small">이창환</span>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="/program/presentation#3">Pull Request 에 품질보증서를 달아보자 - Travis CI</a>
                                <br>
                                <span class="label label-success" title="Application">A</span>
                                <span class="label label-warning" title="IoT">T</span>
                                <span class="small">김종광</span>
                            </td>
                            <td><a href="/program/presentation#4">CUBRID 개발을 통한 오픈소스 개발자 입문기</a>
                                <br>
                                <span class="label label-info" title="Platform">P</span>
                                <span class="small">민준</span>
                            </td>
                        </tr>
                        <tr>
                            <td>13:50 - 14:00</td>
                            <td colspan="2">휴식 및 네트워킹</td>
                        </tr>
                        <tr>
                            <td rowspan="3">14:00 - 15:50</td>
                            <td><a href="/program/presentation#5">노드.JS 기반의 오픈소스 웹 프로젝트</a>
                                <br>
                                <span class="label label-primary" title="Web">W</span>
                                <span class="small">주영택</span>
                            </td>
                            <td><a href="/program/presentation#6">Spring Boot 기반의 배포용 오픈소스 Wiki 개발기</a>
                                <br>
                                <span class="label label-primary" title="Web">W</span>
                                <span class="label label-success" title="Application">A</span>
                                <span class="small">한용희</span>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="/program/presentation#7">Progressive Web App with React</a>
                                <br>
                                <span class="label label-default" title="Mobile">M</span>
                                <span class="label label-primary" title="Web">W</span>
                                <span class="label label-success" title="Application">A</span>
                                <span class="small">문현경</span>
                            </td>
                            <td><a href="/program/presentation#8">대용량 분산처리 시스템 기반의 메신저 구축 사례</a>
                                <br>
                                <span class="label label-default" title="Mobile">M</span>
                                <span class="label label-success" title="Application">A</span>
                                <span class="small">김요한</span>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="/program/presentation#9">WebComponents 기반의 웹 플랫폼 개발: 텍스트큐브 2</a>
                                <br>
                                <span class="label label-default" title="Mobile">M</span>
                                <span class="label label-primary" title="Web">W</span>
                                <span class="label label-success" title="Application">A</span>
                                <span class="small">신정규</span>
                            </td>
                            <td><a href="/program/presentation#10">Athena Meerkat (미들웨어 통합관리 솔루션)</a>
                                <br>
                                <span class="label label-info" title="Platform">P</span>
                                <span class="small">박상천</span>
                            </td>
                        </tr>
                        <tr>
                            <td>15:50 - 16:00</td>
                            <td colspan="2">휴식 및 네트워킹</td>
                        </tr>
                        <tr>
                            <td rowspan="3">16:00 - 17:50</td>
                            <td><a href="/program/presentation#11">JAVASCRIPT TO NATIVE, 이것이 진짜 풀스택</a>
                                <br>
                                <span class="label label-default" title="Mobile">M</span>
                                <span class="label label-primary" title="Web">W</span>
                                <span class="label label-success" title="Application">A</span>
                                <span class="small">김동우</span>
                            </td>
                            <td><a href="/program/presentation#12">어플리케이션 성능 모니터링과 Scouter</a>
                                <br>
                                <span class="label label-info" title="Platform">P</span>
                                <span class="small">이건희</span>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="/program/presentation#13">Chromium/Blink overview</a>
                                <br>
                                <span class="label label-success" title="Application">A</span>
                                <span class="label label-info" title="Platform">P</span>
                                <span class="small">방진호</span>
                            </td>
                            <td><a href="/program/presentation#14">Understanding of Linux Kernel Memory Model</a>
                                <br>
                                <span class="label label-danger" title="Kernel">K</span>
                                <span class="small">박성재</span>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="/program/presentation#15">Elixir 를 이용한 분산시스템</a>
                                <br>
                                <span class="label label-info" title="Platform">P</span>
                                <span class="small">박창욱</span>
                            </td>
                            <td><a href="/program/presentation#16">Contribute to Chromium</a>
                                <br>
                                <span class="label label-success" title="Application">A</span>
                                <span class="small">임성국</span>
                            </td>
                        </tr>
                        <tr>
                            <td>17:50 - 18:00</td>
                            <td colspan="2">경품 추첨 및 폐회</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div>

</section>

{% include './include/footer.html' %}

</body>
</html>