<!DOCTYPE html>
<html lang="ko">
<head>
    {% include './include/head.html' %}
</head>
<body>

<header id="top" class="header">

    {% include './include/menu.html' %}

    <section id="page_header" class="page-header">
        <h1>PROGRAM</h1>
    </section>
</header>

<section id="program" class="program">
    <div class="container">

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <h2>Reception / Keynote</h2>

                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th class="subject">TIME</th>
                            <th>PROGRAM</th>
                        </tr>
                        <tr>
                            <td>09:00 - 09:30</td>
                            <td>참가등록</td>
                        </tr>
                        <tr>
                            <td>09:30 - 09:35</td>
                            <td>공개SW 개발자Lab 소개영상</td>
                        </tr>
                        <tr>
                            <td>09:35 - 09:40</td>
                            <td>개회 선언 및 격려사 <span class="small">미래부 / NIPA</span></td>
                        </tr>
                        <tr>
                            <td>09:40 - 09:45</td>
                            <td>행사 목적 및 일정 소개 <span class="small">IPA</span></td>
                        </tr>
                        <tr>
                            <td>09:45 - 10:45</td>
                            <td><a href="#">Keynote</a></td>
                        </tr>
                        <tr>
                            <td>10:45 - 11:00</td>
                            <td>트랙별 준비 및 참가자 이동</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-1 col-md-10 col-md-offset-1">
                <h2>PT</h2>

                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th class="subject">TIME</th>
                            <th>TRACK 1</th>
                            <th>TRACK 2</th>
                        </tr>
                        <tr>
                            <td>11:00 - 11:40</td>
                            <td><a href="">발표 1</a></td>
                            <td><a href="">발표 2</a></td>
                        </tr>
                        <tr>
                            <td>11:50 - 12:30</td>
                            <td><a href="">발표 3</a></td>
                            <td><a href="">발표 4</a></td>
                        </tr>
                        <tr>
                            <td>12:30 - 13:40</td>
                            <td colspan="2">점심식사 및 다과</td>
                        </tr>
                        <tr>
                            <td>13:40 - 14:20</td>
                            <td><a href="">발표 5</a></td>
                            <td><a href="">발표 6</a></td>
                        </tr>
                        <tr>
                            <td>14:30 - 15:10</td>
                            <td><a href="">발표 7</a></td>
                            <td><a href="">발표 8</a></td>
                        </tr>
                        <tr>
                            <td>15:20 - 16:00</td>
                            <td><a href="">발표 9</a></td>
                            <td><a href="">발표 10</a></td>
                        </tr>
                        <tr>
                            <td>16:10 - 16:50</td>
                            <td><a href="">발표 11</a></td>
                            <td><a href="">발표 12</a></td>
                        </tr>
                        <tr>
                            <td>17:00 - 17:40</td>
                            <td><a href="">발표 13</a></td>
                            <td><a href="">발표 14</a></td>
                        </tr>
                        <tr>
                            <td>17:40 - 18:00</td>
                            <td colspan="2">경품 추첨 및 폐회 <span class="small">NIPA</span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-6 col-lg-offset-0 col-md-10 col-md-offset-1">
                <h2>Tutorial</h2>

                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th class="subject">TIME</th>
                            <th>TRACK 3</th>
                            <th>TRACK 4</th>
                            <th>TRACK 5</th>
                            <th>TRACK 6</th>
                        </tr>
                        <tr class="tutorial-section-1">
                            <td>11:00 - 12:30</td>
                            <td><a href="">튜토리얼 1</a></td>
                            <td><a href="">튜토리얼 2</a></td>
                            <td><a href="">튜토리얼 3</a></td>
                            <td><a href="">튜토리얼 4</a></td>
                        </tr>
                        <tr class="lunch">
                            <td>12:30 - 13:40</td>
                            <td colspan="4">점심식사 및 다과</td>
                        </tr>
                        <tr class="tutorial-section-2">
                            <td>13:30 - 15:30</td>
                            <td><a href="">튜토리얼 5</a></td>
                            <td><a href="">튜토리얼 6</a></td>
                            <td><a href="">튜토리얼 7</a></td>
                            <td><a href="">튜토리얼 8</a></td>
                        </tr>
                        <tr class="tutorial-section-3">
                            <td>15:40 - 17:40</td>
                            <td><a href="">튜토리얼 9</a></td>
                            <td><a href="">튜토리얼 10</a></td>
                            <td><a href="">튜토리얼 11</a></td>
                            <td><a href="">튜토리얼 12</a></td>
                        </tr>
                        <tr class="finale">
                            <td>17:40 - 18:00</td>
                            <td colspan="4">경품 추첨 및 폐회 <span class="small">NIPA</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

{% include './include/footer.html' %}

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{site.theme}}/common/script.js"></script>

</body>
</html>