<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Plain Demo - Pure</title>
    {% include '../include/style.html' %}
    <link rel="stylesheet" href="{{site.theme}}/common/datepicker.min.css"/>
</head>
<body>

{% include './include/header.html' %}

<div class="application-wrapper">
    <div class="describe">
        <div class="pure-g">
            <div class="pure-u-1">
                <h3>시스템 관리자는 사이트에 등록된 모든 계정을 관리합니다.</h3>
                <ul>
                    <li>신규 계정 등록/삭제</li>
                    <li>계정 권한 조정</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content">
        <form class="pure-form" method="post" enctype="multipart/form-data" action="{{ site.root }}{{ route.admin_root + route.admin.accountEdit + '/' + account.uuid}}">
        <div class="pure-g">
            <div class="pure-u-1">
                <table class="pure-table pure-table-horizontal table-wide">
                    <tr>
                        <td class="account-tag">아이디</td>
                        <td><input class="pure-input pure-u-1" type="email" name="email" value="{{account.user_id}}"></td>
                    </tr>
                    <tr>
                        <td class="account-tag">상태</td>
                        <td><select name="status" id="status">
                            <option value="" selected>정상</option>
                            <option value="L">잠금</option>
                            <option value="D">삭제됨</option>
                        </select> (L: Locked, D: Deleted)
                        </td>
                    </tr>
                    <tr>
                        <td class="account-tag">패스워드</td>
                        <td><input class="pure-input pure-u-1" type="password" name="password" placeholder="Insert New Password If you Want to Change"></td>
                    </tr>
                    <tr>
                        <td class="account-tag">닉네임</td>
                        <td><input class="pure-input pure-u-1" type="text" name="nickname" value="{{account.nickname}}"></td>
                    </tr>
                    <tr>
                        <td class="account-tag">이미지</td>
                        <td><input class="pure-file-input pure-u-1" type="file" name="profile_image"></td>
                    </tr>
                    <tr>
                        <td class="account-tag v-top">프로필</td>
                        <td><textarea class="pure-input pure-u-1" rows="3" name="desc">{{account.desc}}</textarea></td>
                    </tr>
                    <tr>
                        <td class="account-tag">레벨</td>
                        <td>
                            <select name="level" id="level">
                                {% for i in range(1, 10) -%}
                                {% if i == account.level %}
                                <option value="{{ i }}" selected>{{ i }} 레벨</option>
                                {% else %}
                                <option value="{{ i }}">{{ i }} 레벨</option>
                                {% endif %}
                                {%- endfor %}
                            </select>
                            ( 1 is the first account's level )
                        </td>
                    </tr>
                    <tr>
                        <td class="account-tag">권한</td>
                        <td class="grant-checker">
                            <label for="option-admin">
                                <input id="option-admin" type="checkbox" name="grant_checker_admin" value="A" {{ "checked" if account.grant_admin }}> 관리자
                            </label>
                            <label for="option-manager">
                                <input id="option-manager" type="checkbox" name="grant_checker_manager" value="M" {{ "checked" if account.grant_manager }}> 운영자
                            </label>
                            <label for="option-content">
                                <input id="option-content" type="checkbox" name="grant_checker_content" value="C" {{ "checked" if account.grant_content }}> 콘텐트 담당자
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="account-tag">포인트</td>
                        <td><input class="pure-input pure-u-lg-1-5" type="number" name="point" value="{{account.point}}"></td>
                    </tr>
                    <tr>
                        <td class="account-tag v-top">가입일</td>
                        <td><input class="created-at pure-input pure-u-lg-7-24 pure-u-md-9-24 pure-u-sm-13-24" type="text" name="created_at" value="{{account.created_at}}" hidden>
                            <div id="picker_created_at" class="picker-holder"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="account-tag v-top">최근 정보갱신일</td>
                        <td><input class="updated-at pure-input pure-u-lg-7-24 pure-u-md-9-24 pure-u-sm-13-24" type="text" name="updated_at" value="{{account.updated_at}}" hidden>
                            <div id="picker_updated_at" class="picker-holder"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="pure-g" style="padding-top: 1.6em;">
            <div class="pure-u-1-2">
                <a class="pure-button button-error" href="{{ route.admin_root + route.admin.account }}/{{uuid}}">뒤로</a>
            </div>
            <div class="pure-u-1-2">
                <input type="hidden" name="_csrf" value="{{ _csrf }}" hidden>
                <button type="submit" class="pure-button button-warning pull-right">수정완료</button>
            </div>
        </div>
        </form>
    </div>

    {% include '../include/footer.html' %}

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{site.theme}}/common/datepicker.min.js"></script>
<script src="{{site.theme}}/common/plain.js"></script>
<script>
    $(document).ready(function () {
        Plain.initDatePicker($);
        Plain.bindDatePicker();
    });
</script>
</body>
</html>