<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Plain Demo - Pure</title>
    {% include '../include/style.html' %}
</head>
<body>

{% include '../admin/include/header.html' %}

<div class="application-wrapper">
    <div class="describe">
        <div class="pure-g">
            <div class="pure-u-1">
                <h3>시스템 관리자는 사이트에 등록된 모든 계정을 관리합니다.</h3>
                <ul>
                    <li>신규 계정 등록/삭제</li>
                    <li>계정 권한 조정</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="pure-g search">
            <div class="pure-u-1">
                <form class="pure-form" method="post">
                    <label>
                        <input type="text" class="pure-input" placeholder="Username or Nickname">
                    </label>
                    <input type="hidden" name="_csrf" value="{{ _csrf }}" hidden>
                    <button type="submit" class="pure-button">Search</button>
                </form>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <table class="pure-table table-hover table-wide">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>아이디</th>
                        <th>닉네임</th>
                        <th>레벨</th>
                        <th>권한</th>
                        <th>포인트</th>
                        <th>로그인횟수</th>
                        <th>최근로그인</th>
                        <th>계정생성일</th>
                        <th>정보수정일</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="pure-table-odd">
                        <td>1</td>
                        <td><a href="admin/account/1">Honda</a></td>
                        <td>Accord</td>
                        <td>2009</td>
                        <td>2009</td>
                        <td>2009</td>
                        <td>2009</td>
                        <td>2009</td>
                        <td>2009</td>
                        <td>2009</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Toyota</td>
                        <td>Camry</td>
                        <td>2012</td>
                        <td>2012</td>
                        <td>2012</td>
                        <td>2012</td>
                        <td>2012</td>
                        <td>2012</td>
                        <td>2012</td>
                    </tr>

                    <tr class="pure-table-odd">
                        <td>3</td>
                        <td>Hyundai</td>
                        <td>Elantra</td>
                        <td>2010</td>
                        <td>2010</td>
                        <td>2010</td>
                        <td>2010</td>
                        <td>2010</td>
                        <td>2010</td>
                        <td>2010</td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>Ford</td>
                        <td>Focus</td>
                        <td>Focus</td>
                        <td>Focus</td>
                        <td>Focus</td>
                        <td>Focus</td>
                        <td>Focus</td>
                        <td>Focus</td>
                        <td>2008</td>
                    </tr>

                    <tr class="pure-table-odd">
                        <td>5</td>
                        <td>Nissan</td>
                        <td>Sentra</td>
                        <td>Sentra</td>
                        <td>Sentra</td>
                        <td>Sentra</td>
                        <td>Sentra</td>
                        <td>Sentra</td>
                        <td>Sentra</td>
                        <td>2011</td>
                    </tr>

                    <tr>
                        <td>6</td>
                        <td>BMW</td>
                        <td>M3</td>
                        <td>M3</td>
                        <td>M3</td>
                        <td>M3</td>
                        <td>M3</td>
                        <td>M3</td>
                        <td>M3</td>
                        <td>2009</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <nav role="navigation">
                    <ul class="cd-pagination no-space move-buttons custom-icons">
                        <li class="button"><a href="#0">Prev</a>
                        <li><a href="#0">1</a>
                        <li><a href="#0">2</a>
                        <li><a class="current" href="#0">3</a>
                        <li><a href="#0">4</a>
                        <li><span>...</span>
                        <li><a href="#0">20</a>
                        <li class="button"><a href="#0">Next</a>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    {% include '../include/footer.html' %}

</div>
</body>
</html>