<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Plain Demo - Pure</title>
    {% include '../include/style.html' %}
</head>
<body>

{% include '../include/header.html' %}

<div class="application-wrapper">
    <div class="content">
        <div class="pure-g">
            <div class="pure-u-1">
                <h2>ACCESS ADMIN ONLY</h2>
                <h3>시스템 관리자는 사이트에 등록된 모든 계정을 관리합니다.</h3>
                <ul>
                    <li>신규 계정 등록/삭제</li>
                    <li>계정 권한 조정</li>
                </ul>

                <form class="pure-form pure-form-stacked" method="post" action="{{ route.admin_root + route.admin.login }}">
                    <fieldset>
                        <legend>Admin Login</legend>

                        <div class="pure-g">
                            <div class="pure-u-1 pure-u-md-1-2">
                                <label for="id">Admin ID</label>
                                <input id="id" name="id" class="pure-u-23-24" type="email" placeholder="Username(Email Address)">
                            </div>

                            <div class="pure-u-1 pure-u-md-1-2">
                                <label for="password">Password</label>
                                <input id="password" name="password" type="password" placeholder="Password" class="pure-u-23-24">
                            </div>

                        </div>

                        <label for="terms" class="pure-checkbox">
                            <input id="terms" type="checkbox"> Save Session for Next Login
                        </label>

                        {% if message.error %}
                        {% for error in message.error %}
                        <div class="alert alert-login">
                            <strong>Warning!</strong> {{ error.msg }}
                        </div>
                        {% endfor %}
                        {% endif %}

                        <input type="hidden" name="_csrf" value="{{ _csrf }}" hidden>
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" alt="File Icons" width="300" src="{{site.theme}}/common/asset/blititor_logo.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">B L I T I T O R</h2>

            <p>
                플래인 테마를 사용하고 있는 <strong>블리티터</strong> 입니다. <br>
                블리티터의 팀블로그 모듈을 중심으로 꾸며진 예제로 회원관리, 블로그 포스트 관리, 방명록 관리 등의 기능을 제공하고 있습니다.
            </p>
        </div>
    </div>

    {% include '../include/footer.html' %}

</div>
</body>
</html>