<!DOCTYPE html>
<html lang="en">
<head>
    {% include './include/header.html' %}
</head>
<body>

<div class="container">
    <div class="header clearfix">

        {% include './include/menu.html' %}

        <h3 class="text-muted">Blititor</h3>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="bg-guest-form-holder">

                <h4>Guest Book</h4>
                <form>
                    <fieldset class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        <small class="text-muted">We'll never share your email with anyone else.</small>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="exampleTextarea">Example textarea</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                    </fieldset>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Hidden
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-12">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h5>Blog heroes</h5>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <ul>
                <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
                <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
                <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <nav>
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>

    {% include './include/footer.html' %}

</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>