<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../include/head.html' %}
</head>
<body class="has-background-light">
<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    {% include '../include/menu.html' %}
</nav>
<div class="transparent-gradient-bg">
    <div class="header-bg tilt-clock"></div>
</div>
<section class="section">
    <div class="container is-wrap">
        <!-- 주제전 한강 서울-->
        <div class="tile is-ancestor">
            <div class="tile is-parent is-wide">
                <article class="tile is-child notification is-primary">
                    <p class="title">한강山川 서울江山</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent is-wide">
                <div class="tile is-child">
                    <article class="tile is-child notification content has-background-white">
                        <img src="{{site.theme}}/common/asset/main-theme-poster.jpg" alt="주제전">
                        <br>
                        <img src="{{site.theme}}/common/asset/main-brief.jpg" alt="주제전">
                        <br>
                        <img src="{{site.theme}}/common/asset/main-image.jpg" alt="주제전">
                        <div class="download">
                            <div class="has-move-up">
                                <a class="button is-danger is-medium" href="https://static.saf.kr/main-poster.pdf">
                                    <span class="icon"><i class="fa fa-download"></i></span>
                                    <span>포스터 다운로드(고해상도)</span></a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <!-- 10주년 기념전 -->
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                    <p class="title">주제전 : 서울건축문화제 10주년 기념전</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <table class="table is-bordered is-striped is-fullwidth">
                        <tbody>
                        <tr>
                            <th><strong>장소</strong></th>
                            <th> 문화비축기지 탱크6 / 1층 입구</th>
                        </tr>
                        <tr>
                            <td><strong>전시구성</strong></td>
                            <td> 패널 활용</td>
                        </tr>
                        <tr>
                            <td><strong>콘텐츠</strong></td>
                            <td> 역대 포스터, 수상작</td>
                        </tr>
                        <tr>
                            <td><strong>패널</strong> <strong>사이즈</strong></td>
                            <td> 900x900x3000 목공기둥 4개, 3000x3000 목공패널 1개</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/main-history.jpg" alt="10주년 기념">
                    </figure>
                </div>
            </div>
        </div>

        <!-- 서울시 건축상 -->
        <div class="tile is-ancestor" id="award2018">
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                    <p class="title">제 36회 서울시 건축상 수상작</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <table class="table is-bordered is-striped is-fullwidth">
                        <tbody>
                        <tr>
                            <td><strong>장소</strong></td>
                            <td> 문화비축기지 탱크6 / 1층</td>
                        </tr>
                        <tr>
                            <td><strong>전시구성</strong></td>
                            <td> 영상, 패널, 모형 활용</td>
                        </tr>
                        <tr>
                            <td><strong>작품</strong> <strong>수</strong></td>
                            <td> 수상작 14작품 + 프로필 14</td>
                        </tr>
                        <tr>
                            <td><strong>패널</strong> <strong>사이즈</strong></td>
                            <td> 작품 패널 : 900x2500 / 설계자 프로필 패널 : 450x450</td>
                        </tr>
                        <tr>
                            <td><strong>전시</strong> <strong>테이블</strong> <strong>사이즈</strong></td>
                            <td> 500*500 기본 테이블 1식~3식 조합 구성</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/award-image1.jpg" alt="수상작 안내">
                    </figure>
                </div>
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/award-image2.jpg" alt="수상작 안내">
                    </figure>
                </div>
            </div>
        </div>

        <!-- 대학생 건축상 -->
        <div class="tile is-ancestor" id="idea2018">
            <div class="tile is-parent">
                <article class="tile is-child notification is-warning">
                    <p class="title">대학생 아이디어 공모전</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <table class="table is-bordered is-striped is-fullwidth">
                        <tbody>
                        <tr>
                            <th><strong>장소</strong></th>
                            <th> 문화비축기지 탱크6 / 2층</th>
                        </tr>
                        <tr>
                            <td><strong>전시구성</strong></td>
                            <td> 영상, 패널, 모형 활용</td>
                        </tr>
                        <tr>
                            <td><strong>작품</strong> <strong>수</strong></td>
                            <td> 5개 팀 작품 + 프로필 5</td>
                        </tr>
                        <tr>
                            <td><strong>패널</strong> <strong>사이즈</strong></td>
                            <td> 작품 패널 : 2700x1800 / 튜터, 팀원 프로필 패널 : 450x450</td>
                        </tr>
                        <tr>
                            <td><strong>전시</strong> <strong>테이블</strong> <strong>사이즈</strong></td>
                            <td> 2700x500 기본 테이블</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/idea-award1.jpg" alt="아이디어 전시">
                    </figure>
                </div>
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/idea-award2.jpg" alt="아이디어 전시">
                    </figure>
                </div>
            </div>
        </div>

        <!-- 한강 건축상상전 -->
        <div class="tile is-ancestor" id="imagine2018">
            <div class="tile is-parent">
                <article class="tile is-child notification is-warning">
                    <p class="title">한강건축상상전</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/imagine1.jpg" alt="건축상상전">
                    </figure>
                </div>
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/imagine2.jpg" alt="건축상상전">
                    </figure>
                </div>
            </div>
            <div class="tile is-parent is-vertical">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/imagine1.jpg" alt="건축상상전">
                    </figure>
                </div>
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/imagine2.jpg" alt="건축상상전">
                    </figure>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/imagine-plan1.png" alt="건축상상전">
                    </figure>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor ">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/imagine-plan2.png" alt="건축상상전">
                    </figure>
                </div>
            </div>
        </div>

        <!-- 스토리텔링전 -->
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-warning">
                    <p class="title">건축 스토리텔링 공모전</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/imagine-story1.jpg" alt="건축상상전">
                    </figure>
                </div>
            </div>
        </div>

        <!-- 우리동네 좋은집 찾기 -->
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                    <p class="title">우리동네 좋은집 찾기</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/neighborhood.jpg" alt="우리동네 좋은집 찾기">
                    </figure>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <article class="tile is-child notification content has-background-white-bis">
                        작은집들의 가치를 되돌아볼 수 있는 공모전 출품작을 통해 사람들이 살아온 발자취와 희로애락이 녹아 있는 작은집을 재발견할 기회의 장이 되었으면 합니다.
                    </article>
                </div>
            </div>
        </div>

        <!-- 중고등학생 건축사진 공모전 -->
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                    <p class="title">중고등학생 건축사진 공모전</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/highschool.jpg" alt="중고등학생 건축사진 공모전">
                    </figure>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <article class="tile is-child notification content has-background-white-bis">
                        ‘서울. 건축 산책’ 이라는 주제로 중고등학생에게는 사진을 통해 건축과 건축문화를 이해하고
                        건축에 대한 저변확대와 더불어 청소년들의 창의력 개발에 도움을 주었으면 합니다.
                    </article>
                </div>
            </div>
        </div>

        <!-- 서울江山, 함께 살어리랏다 -->
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                    <p class="title">서울江山, 함께 살어리랏다</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <article class="tile is-child notification content has-background-white-bis">
                        &nbsp;
                        <br>

                        &nbsp;
                        <br>

                        (업로드 중입니다.)
                        &nbsp;
                        <br>

                        &nbsp;
                        <br>
                    </article>
                </div>
            </div>
        </div>

        <!-- 주제 파빌리온 : 서울江山 -->
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                    <p class="title">주제 파빌리온 : 서울江山</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <article class="tile is-child notification content has-background-white-bis">
                        <p>우리의 컨셉은 참여에 의한 변화와 구축입니다. 지난 UAUS &lt;서울숲, 놀이를 심다&gt; 전시에서 지관과 접합부를 활용한 구축놀이 컨셉을 이번 전시 주제에 맞게
                            재해석했습니다. </p>
                        <p>시간이 지남에 따라 물과 바람이 흐르며 서서히 산수가 변하듯, 우리의 파빌리온도 사람들의 흐름속에서 그들의 선택에 의해 구축요소들이 재구성되고 공간의 변화를
                            일으킵니다.</p>
                        <p> 파빌리온은 사람들의 동선이 흐를 수 있는 3개의 크고 작은 길과 산맥으로 이루어져 있습니다. </p>
                        <p>사람들은 입구를 통과하며 산의 내부를 먼저 체험합니다. </p>
                        <p>파빌리온을 구성하는 지관이 중첩되면서 생기는 원근감은 나뭇가지가 되어 공간감을 다양하게 해줍니다. 내부 체험을 하고 마주하는 대공간은 정상에 올랐을 때의 개방감을
                            느끼게 해줍니다. </p>
                        <p>그 후 사람들은 파빌리온 주위의 의자에서 잠시 쉬어가며, 전체적인 파빌리온의 모습이 대지와 어우러지는 모습을 조망할 수 있습니다. </p>
                        <p>서울의 산수를 새롭게 건축적으로 구축한 우리의 파빌리온에서 그 정취를 느끼고 가길 기대합니다</p>
                        <h4>서울과학기술대학교 건축학부 건축학전공</h4>
                        <p>박상우 조민정 정상훈 김효욱 이주훈 김주성 김종인 이경진 손태욱 박필준 박다은 최윤석 남상인 김윤지 심주희 김민지 정다경</p>
                    </article>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/pavilion.jpg" alt="주제 파빌리온 : 서울江山">
                    </figure>
                </div>
            </div>
        </div>


    </div>
</section>
<footer class="footer">
    {% include '../include/footer.html' %}
</footer>
{% include '../include/script.html' %}
</body>
</html>
