<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../include/head.html' %}
</head>
<body class="has-background-light">
<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    {% include '../include/menu.html' %}
</nav>
<div class="transparent-gradient-bg">
    <div class="header-bg tilt-clock"></div>
</div>
<section class="section">
    <div class="container is-wrap">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                    <p class="title">개막식</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification content has-background-white-bis">
                    <ul>
                        <li>일시 - 2018. 10.05.(금) 15:30 ~ 18:00</li>
                        <li>장소 - 문화비축기지 T2 (1층 공연장)</li>
                        <li>참석대상</li>
                        <ul>
                            <li>서울시 관계자, 건축 유관기관 및 단체 등 건축 실무자, 수상자</li>
                            <li>건축문화제 역대 총감독과 수상자 및 축하객</li>
                        </ul>
                    </ul>
                    <h4>프로그램</h4>
                    <ul>
                        <li>영상으로 보는 [건축문화제 10년의 성과]</li>
                        <li>개회선언 및 국민의례</li>
                        <li>경과보고 및 심사평</li>
                        <li>제 36회 서울시 건축상 시상 (일반/ 대학생)</li>
                        <li>2018 올해의 건축가 시상</li>
                        <li>축하공연 – 아카펠라 그룹 [아카시아]</li>
                        <li>네트워킹 파티</li>

                    </ul>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/opening1.jpg" alt="오픈행사">
                    </figure>
                </div>
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/opening2.jpg" alt="오픈행사">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    {% include '../include/footer.html' %}
</footer>
{% include '../include/script.html' %}
</body>
</html>