<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../_include/head.html' %}
</head>
<body class="has-background-light">
<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    {% include '../_include/menu.html' %}
</nav>
<div class="transparent-gradient-bg">
    <div class="header-bg tilt-clock"></div>
</div>
<section class="section">
    <div class="container is-wrap">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                    <p class="title">개막식</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification content has-background-white-bis">
                    <ul>
                        <li>일시 - 2018. 10.05.(금) 15:30</li>
                        <li>장소 - 문화비축기지 T2</li>
                    </ul>

                    <div class="video-wrapper">
                        <div class="youtube">
                            <iframe src="https://www.youtube.com/embed/1oBLDutbIVQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/181005_opening1.jpg" alt="오픈행사">
                    </figure>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                    <p class="title">제9회 대학생 아이디어 공모 시상식</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification content has-background-white-bis">
                    <h6>시상: 진희선 행정2부시장</h6>

                    <div class="video-wrapper">
                        <div class="youtube">
                            <iframe src="https://www.youtube.com/embed/nwkMsuxp6AQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>

                    <h3>서울특별시 건축상 최우수상 (대학생부문)</h3>
                    <ul>
                        <li><p>Studio 4 서울산(山): 서른네 번째 인공의 산 </p>
                            <ul>
                                <li>튜터: 나은중(네임리스건축)</li>
                                <li>크리틱: 정영한(정영한아키텍츠)</li>
                                <li>수상자: 김은혜, 김호진, 심민주, 오하늘, 이동근, 최한웅</li>
                            </ul>
                        </li>
                    </ul>
                    <h3>서울특별시 건축상 (대학생부문)</h3>
                    <ul>
                        <li><p>Studio 1 도심 속의 섬: 전철 지상역사의 재발견 </p>
                            <ul>
                                <li>튜터: 김민석(노션아키텍쳐)</li>
                                <li>크리틱: 곽희수(이뎀도시건축)]</li>
                                <li>수상자:  김다훈, 김지수, 유수정, 윤소영, 장승환, 정보근</li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li><p>Studio 2 옛 물길 새기다 </p>
                            <ul>
                                <li>튜터: 양근보(근보양앤파트너스) </li>
                                <li>크리틱: 조남호(솔토지빈건축) </li>
                                <li>수상자: 길반석, 류영민, 박주형, 이수민, 이은지, 최예찬</li>
                            </ul>
                        </li>
                        <li><p>Studio 3 한강의 간극을 잇는 우리의 방법 산산조각 </p>
                            <ul>
                                <li>튜터: 이승택(STPMJ)</li>
                                <li>크리틱: 이정훈(조호건축) </li>
                                <li>수상자: 경민선, 배영랑, 서석현, 신승훈, 장해수, 한지숙</li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li><p>Studio 5 The Garden of Tomorrow 모두를 위한 &#39;내일의 정원&#39; - 뚝섬 자벌레 콤플렉스와 인프라스트럭처를 중심으로</p>
                            <ul>
                                <li>튜터: 최장원(건축농장) </li>
                                <li>크리틱 김찬중(더시스템랩) </li>
                                <li>수상자: 강연재, 김나현, 김보경, 김지환, 박종호, 박혁범</li>
                            </ul>
                        </li>
                    </ul>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/181005_opening2.jpg" alt="오픈행사">
                    </figure>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child notification is-primary">
                <p class="title">제36회 서울시 건축상 시상식</p>
            </article>
        </div>
    </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification content has-background-white-bis">
                    <h6>시상: 진희선 행정2부시장</h6>

                    <div class="video-wrapper">
                        <div class="youtube">
                            <iframe src="https://www.youtube.com/embed/MugMW7iQcCM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="box">
                        <p>서울건축문화제 2018, [제36회 서울시 건축상]에는 총 116작품 (신축 81, 리모델링 26, 녹색건축 9)의 수준 높은 작품이 출품됐다. 지난 7월 20일 1차 서류 심사를 통해 먼저 수상 예정작 14작품을 선정하고, 8월 1일 그중 9작품에 대해 2차 현장심사를 하였다. 건축의 공공적 가치를 구현해 시민의 삶의 질을 향상시킨 우수한 건축물과 공간 환경을 장려라는 목표에 부합하면서 완성도가 가장 높은 <strong>대상 1작품, 최우수작 4작품, 우수작 9작품</strong>을 선정하였다.</p>
                        <ul>
                            <li>심사위원 :   함인선 (심사위원장 / (주)BHW건축 대표) 김영준 (서울시 총괄건축가 / 김영준도시건축 대표) 우대성 ((주)오퍼스건축사 사무소 대표) 이충기 (서울시립대학교 교수) 정수진 (SIE건축 대표)</li>
                        </ul>
                    </div>

                    <h3>대상</h3>
                    <ul>
                        <li>PLACE 1 / 김찬중(더시스템랩)</li>
                    </ul>
                    <h3>최우수상</h3>
                    <ul>
                        <li>코오롱 One&amp;Only타워 / 윤세한(해안), 모포시스</li>
                        <li>은혜공동체 협동조합주택 / 김현준[국립강원대학교] &amp; 김태영[한국예술종합학교] (온고당)</li>
                        <li>수락행복발전소 / 신창훈, 장윤규(운생동)</li>
                        <li>예진이네 집수리 / 김재관(무회)</li>
                    </ul>
                    <h3>우수상</h3>
                    <ul>
                        <li>내를 건너서 숲으로 도서관 /조진만(조진만건축사사무소)</li>
                        <li>THE ILLUSION (R TOWER) / 곽상준, 이소정(오비비에이)</li>
                        <li>URBAN MEMBRANE / 홍만식(리슈)</li>
                        <li>시연재 / 정문철(꼴라보)</li>
                        <li>아산나눔재단 사옥 / 전숙희(와이즈)</li>
                        <li>사당동 소행성 / 조성익 [홍익대학교] (TRU)</li>
                        <li>홍릉 콘텐츠 문화광장 / 최정우(유니트유에이)</li>
                        <li>평화문화진지 / 유종수, 김빈(코어)</li>
                        <li>청연빌딩 / 김학건(청연)</li>
                    </ul>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/181005_opening3.jpg" alt="오픈행사">
                    </figure>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                    <p class="title">시민공감특별상</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification content has-background-white-bis">
                    <h6>시상: 진희선 행정2부시장</h6>

                    <div class="box">
                        <p>시민공감특별상은 시민의 손으로 직접 뽑은 시민이 공감하는 건축물에 시상하는 상으로 수상작 14작품 중에서 시민이 엠보팅 홈페이지를 이용한 투표를 통해 선정되었으며, 시민 2,951명이 참여하였다.</p>
                    </div>
                    <ul>
                        <li>코오롱 One&amp;Only타워 / 윤세한(해안), 모포시스</li>
                        <li>은혜공동체 협동조합주택 / 김현준(온고당)</li>
                        <li>THE ILLUSION (R TOWER) / 곽상준 (오비비에이)</li>
                    </ul>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                    <p class="title">올해의 건축가상 시상식</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification content has-background-white-bis">
                    <h6>시상: 진희선 행정2부시장</h6>
                    <ul>
                        <li>올해의 건축가상: 민현식 건축가(㈜건축사사무소 기오헌)</li>
                    </ul>
                    <img src="{{site.theme}}/common/asset/director-of-the-year.jpg" alt="올해의건축가">
                </article>
            </div>
        </div>

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/181005_opening5.jpg" alt="오픈행사">
                    </figure>
                </div>
            </div>
        </div>

    </div>
</section>
<footer class="footer">
    {% include '../_include/footer.html' %}
</footer>
{% include '../_include/script.html' %}
</body>
</html>