<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../include/head.html' %}
</head>
<body class="has-background-light">
<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    {% include '../include/menu.html' %}
</nav>
<div class="transparent-gradient-bg">
    <div class="header-bg tilt-clock"></div>
</div>
<section class="section">
    <div class="container is-wrap">
        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <article class="tile is-child notification content has-background-white-bis">
                    <h4>나들이하기 좋은 10월의 하늘과 날씨를 더욱 멋지게 즐기는 방법!</h4>
                    <p>2018 서울건축문화제에서는 시민과 함께 하는 건축문화투어 프로그램을 준비했습니다. </p>
                    <p>이제는 쇼핑의 거리로 익숙한 명동, 화려한 이 도시를 옛날에는 &#39;남촌&#39;이라고 불렀다는 거 아시나요?</p>
                    <p>&#39;조선시대에 청계천 북쪽 일대를 북촌, 그 남쪽 일대를 남촌으로 불렀다. 북촌이 권세 있는 양반들이 주로 모여 살았던 데 비해, 남산 기슭을 중심으로 한 남촌은 양반의
                        자손이긴 하나 몰락한 사람들이거나 과거에 급제하지 못해 ‘남산골 샌님’, ‘남산골 딸깍발이’라 놀림을 받았던 불우한 선비들이 모여 사는 곳으로 알려져 있었다. 후에
                        일제강점기에는 이 남촌 지역을 중심으로 일본인들이 많이 거주하게 되어, 조선인 중심의 거주지역으로서의 북촌과 일본인 중심의 거주지역으로서의 남촌으로 불려지기도 하였다. 또한
                        조선인들이 이 남촌 지역을 왜놈들마을이라고 부르기도 하였다.’</p>
                    <p>-출처 : [네이버 지식백과] 남촌 [南村] (서울지명사전, 2009. 2. 13., 서울특별시사편찬위원회)</p>
                    <p>일본 미쓰코시백화점의 한국지점이었던 <strong>신세계백화점,</strong> 고종 29년에 착공해 이후 민주화운동의 중심지가 되었던 <strong>명동성당</strong>,
                        일제강점기 동양척식주식회사 본사의 자리로 독립운동가 나석주 선생이 폭탄을 던졌던 장소인 <strong>하나은행</strong> <strong>본관</strong> 등
                        역사문화 여행 작가이신 김수종 작가님과 함께 명동 곳곳에 남아있는 &#39;남촌&#39;의 발자취를 직접 찾아보는 시간, 소비문화의 메카에서 역사적 매력을 발견하는 즐거움을
                        신청하세요!</p>
                    <p class="is-size-6 has-text-grey">- 10월 7일 (일) 상암동 문화비축기지에서는 14시 [전시 도슨트 투어] / 16시 ‘2018올해의 건축상에
                        빛나는 [민현식 건축가]와 [SPACE 공간 김정은] 편집장과 함께 따뜻한 건축에 대해 이야기 들어볼 수 있는 [건축가 대담] 이 진행됩니다.</p>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child has-background-white">
                    <img src="{{site.theme}}/common/asset/tour-course2.png" alt="건축문화투어">
                    <div class="link-form">
                        <div class="has-move-up">
                            <a class="button is-info is-medium" href="https://goo.gl/forms/ebh3OEeHQMCjP4H42">
                                <span class="icon"><i class="fa fa-link"></i></span>
                                <span>신청서</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/course-detail2.png" alt="투어코스">
                    </figure>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title">10월 12일 건축문화투어 신청은 10월 4일 14:00에 시작됩니다.</p>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child has-background-white">
                    <img src="{{site.theme}}/common/asset/tour-course2.png" alt="건축문화투어">
                </div>
            </div>
        </div>
        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/course-detail6.png" alt="투어코스">
                    </figure>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child has-background-white">
                    <img src="{{site.theme}}/common/asset/tour-course3.png" alt="건축문화투어">
                </div>
            </div>
        </div>
        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/course-detail3.png" alt="투어코스">
                    </figure>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child has-background-white">
                    <img src="{{site.theme}}/common/asset/tour-course4.png" alt="건축문화투어">
                </div>
            </div>
        </div>
        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/course-detail4.png" alt="투어코스">
                    </figure>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child has-background-white">
                    <img src="{{site.theme}}/common/asset/tour-course5.png" alt="건축문화투어">
                </div>
            </div>
        </div>
        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/course-detail5.png" alt="투어코스">
                    </figure>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title">본 프로그램은 마감되었습니다.</p>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child has-background-white">
                    <img src="{{site.theme}}/common/asset/tour-course1.png" alt="건축문화투어">
                    {#
                    <div class="link-form">
                        <div class="has-move-up">
                            <a class="button is-info is-medium" href="https://goo.gl/forms/A0exgpWaP5tJVALm1">
                                <span class="icon"><i class="fa fa-link"></i></span>
                                <span>신청서</span></a>
                        </div>
                    </div>
                    #}
                </div>
            </div>
        </div>
        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/course-detail1.png" alt="투어코스">
                    </figure>
                </div>
            </div>
        </div>

    </div>
</section>
<footer class="footer">
    {% include '../include/footer.html' %}
</footer>
{% include '../include/script.html' %}
</body>
</html>
