<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../include/head.html' %}
</head>
<body class="has-background-light">
<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    {% include '../include/menu.html' %}
</nav>
<div class="transparent-gradient-bg">
    <div class="header-bg tilt-clock"></div>
</div>
<section class="section">
    <div class="container is-wrap">

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child has-background-white">
                    <img src="{{site.theme}}/common/asset/openclass-subject1.png" alt="시민참여프로그램">
                    <div class="link-form">
                        <div class="has-move-right">
                            <a class="button is-info is-medium"
                               href="https://docs.google.com/forms/d/1sD4uxRe7O3kJPwOPp8HEs9C6UkIbDaWl_Ay3bjB4lFc/edit">
                                <span class="icon"><i class="fa fa-link"></i></span>
                                <span>참가신청</span></a>
                        </div>
                    </div>
                    <img src="{{site.theme}}/common/asset/openclass1.png" alt="시민참여프로그램">
                    <img src="{{site.theme}}/common/asset/openclass1-2.png" alt="시민참여프로그램">
                </div>
            </div>
        </div>

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child has-background-white">
                    <img src="{{site.theme}}/common/asset/openclass-subject2.png" alt="시민참여프로그램">
                    <div class="link-form">
                        <div class="has-move-right">
                            <a class="button is-info is-medium"
                               href="https://docs.google.com/forms/d/1CzWrmqIjJxVnxScxN2vSLS7LZFzR8pO2XSqwYN2HtB4/edit">
                                <span class="icon"><i class="fa fa-link"></i></span>
                                <span>참가신청</span></a>
                        </div>
                    </div>
                    <img src="{{site.theme}}/common/asset/openclass2.png" alt="시민참여프로그램">
                    <img src="{{site.theme}}/common/asset/openclass2-2.png" alt="시민참여프로그램">
                </div>
            </div>
        </div>

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child has-background-white">
                    <img src="{{site.theme}}/common/asset/openclass-subject3.png" alt="시민참여프로그램">
                    <div class="link-form">
                        <div class="has-move-right">
                            <a class="button is-info is-medium"
                               href="https://docs.google.com/forms/d/1ZPZO-6HOt4wCc5cAs4_ZnRYuI2WeS_YsgJbyLW7eUUw/edit">
                                <span class="icon"><i class="fa fa-link"></i></span>
                                <span>참가신청</span></a>
                        </div>
                    </div>
                    <img src="{{site.theme}}/common/asset/openclass3.png" alt="시민참여프로그램">
                </div>
            </div>
        </div>

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child has-background-white">
                    <img src="{{site.theme}}/common/asset/program-title4.png" alt="시민참여프로그램">
                </div>
                <article class="tile is-child notification has-background-white">
                    <p class="subtitle">건축과 영화를 한자리에서 만나보는 자리. 영화연출감독의 작품 소개와 함께 영화상영</p>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/movie1.jpg" alt="시민참여">
                    </figure>
                </div>
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/movie2.jpg" alt="시민참여">
                    </figure>
                </div>
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/movie3.jpg" alt="시민참여">
                    </figure>
                </div>
                <div class="tile is-child box">
                    <figure class="image">
                        <img src="{{site.theme}}/common/asset/movie4.jpg" alt="시민참여">
                    </figure>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <article class="tile is-child notification content has-background-white">
                    <ul>
                        <li>일시 : 10월 매주 토요일</li>
                        <li>장소 : 문화비축기지 T2 공연장 T6 원형회의실(B2)</li>
                    </ul>
                    <table class="table is-bordered is-striped is-fullwidth">
                        <thead>
                        <tr>
                            <th style="width: 4em">회차</th>
                            <th>상영일시</th>
                            <th>장소</th>
                            <th>상영작</th>
                            <th>제작국가</th>
                            <th style="width: 6em">상영시간</th>
                            <th>영화내용</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>10월 6일(토) 16:00</td>
                            <td>TANK#2 공연장</td>
                            <td>브라질리아 Brasillia, Life After Design <br>GV : 조성룡 건축가</td>
                            <td>캐나다 브라질 영국</td>
                            <td>88분</td>
                            <td>브라질의 수도, 브라질리아의 이전과 탁생 그리고 삶에 관한 다큐멘터리</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>10월 13일(토) 15:30</td>
                            <td>TANK#6 원형회의실</td>
                            <td>프라이스 오브 디자이어 The Price of Disire <br>GV : 이충기 교수</td>
                            <td>벨기에 아일랜드</td>
                            <td>108분</td>
                            <td>세계적인 건축가 르 코르뷔지에와 디자이너 아일린 그레이에 관한 극영화</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>10월 13일(토) 18:30</td>
                            <td>TANK#6 원형회의실</td>
                            <td>내사랑 한옥마을 Dearest, Hanok Village <br>GV : 김정인 감독</td>
                            <td>한국</td>
                            <td>89분</td>
                            <td>관광객 증가로 전주 한옥마을에 불어 닥친 젠트리피케이션과 그곳 사람들에 대한 다큐멘터리</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>10월 20일(토) 16:00</td>
                            <td>TANK#6 원형회의실</td>
                            <td>아파트 생태계 Ecology in Concrete</td>
                            <td>한국</td>
                            <td>80분</td>
                            <td>서울을 일군 1세대 도시학자로부터 아파트 키드세대까지, 아파트에 대한 다양한 이야기를 담은 다큐멘터리</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>10월 20일(토) 18:00</td>
                            <td>TANK#6 원형회의실</td>
                            <td>브라질리아 Brasillia, Life After Design</td>
                            <td>캐나다 브라질 영국</td>
                            <td>88분</td>
                            <td>브라질의 수도, 브라질리아의 이전과 탁생 그리고 삶에 관한 다큐멘터리</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>10월 27일(토) 18:30</td>
                            <td>TANK#6 원형회의실</td>
                            <td>프라이스 오브 디자이어 The Price of Disire</td>
                            <td>벨기에 아일랜드</td>
                            <td>108분</td>
                            <td>세계적인 건축가 르 코르뷔지에와 디자이너 아일린 그레이에 관한 극영화</td>
                        </tr>
                        </tbody>
                    </table>

                </article>
            </div>
        </div>

        <div class="tile is-ancestor is-wide">
            <div class="tile is-parent">
                <div class="tile is-child has-background-white">
                    <img src="{{site.theme}}/common/asset/openclass-subject4.png" alt="시민참여프로그램">
                    {#
                    <div class="link-form">
                        <div class="has-move-right">
                            <a class="button is-info is-medium"
                               href="https://docs.google.com/forms/d/1sD4uxRe7O3kJPwOPp8HEs9C6UkIbDaWl_Ay3bjB4lFc/edit">
                                <span class="icon"><i class="fa fa-link"></i></span>
                                <span>참가신청</span></a>
                        </div>
                    </div>
                    #}
                    <img src="{{site.theme}}/common/asset/openclass4.png" alt="시민참여프로그램">
                </div>
            </div>
        </div>

    </div>
</section>
<footer class="footer">
    {% include '../include/footer.html' %}
</footer>
{% include '../include/script.html' %}
</body>
</html>