<table class="">
    <thead>
    <tr>
        <th width="16px">#</th>
        <th width="86px">성명</th>
        <th>이메일</th>
        <th>전화번호</th>
        <th>추가정보</th>
        <th>튜토리얼 정보</th>
        <th width="98px">신청일</th>
        <th width="102px">갱신일</th>
    </tr>
    </thead>

    <tbody>
    {% for item in reservationList %}
    <tr class="">
        <td>{{total - loop.index0}}</td>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.info}}</td>
        <td>
            {% if item.status %}
            {% for item in item.statusInfo %}
            <i class="" aria-hidden="true"></i> {{ item.title }} <br>
            {% endfor %}
            {% else %}

            {% endif %}
        </td>
        <td>{{item.created_at}}</td>
        <td>{{item.updated_at}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>