<!DOCTYPE html>
<html lang="ko">
<head>
    {% include '../include/head.html' %}
</head>
<body>

<header id="top" class="header">

    {% include '../include/menu.html' %}

    <section id="page_header" class="page-header">
        <h1>Keynote</h1>
    </section>
</header>

<section id="program" class="program">
    <div class="container">

        <div class="row tutorial" id="1">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2>The History of XDP and the Future of Networking</h2>
            </div>

            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 profile">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <img class="img-responsive img-thumbnail profile-image" src="/kosscon2017/common/asset/speaker/keynote-1.jpg" alt="David S. Miller">
                    </div>
                </div>
                <h3>David S. Miller - Rad Hat Inc.</h3>
            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                <div class="row description">
                    <div class="col-sm-12">
                        <ul style="font-size: 1.2em;">
                            <li>Top-level Maintainer of the networking subsystem and the Sparc port</li>
                            <li>GNU Compiler Collection steering Committee</li>
                            <li>top 5 kernel developers of all time since 2.6.11 with 4.044 changes (0.6%) in his 20+ years career</li>
                            <li>Netdev Maintainer</li>
                            <li>Red hat Inc.</li>
                        </ul>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                10:20 - 11:10 (50분)
                            </dd>
                        </dl>
                        {#<dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2016/raw/master/assets/keynote-1.pdf">다운로드</a>
                            </dd>
                        </dl>#}
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="2">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2>사례를 통한 공개SW의 성공 요소</h2>
            </div>

            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 profile">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <img class="img-responsive img-thumbnail profile-image" src="/kosscon2017/common/asset/speaker/keynote-2.jpg" alt="오명환">
                    </div>
                </div>
                <h3>오명환 상무 - 큐브리드</h3>
            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                <div class="row description">
                    <div class="col-sm-12">
                        <ul style="font-size: 1.2em;">
                            <li>1992 ~ 2004 UniSQL(CUBRID 전신) 기술본부 이사 근무 / 한국컴퓨터통신</li>
                            <li>2004 ~ 2014 MobileLite (임베디드 DBMS) 총괄 이사 근무 / 이너비트</li>
                            <li>2014 ~ 2015 협업툴 총괄 이사 근무 / 코드랩</li>
                            <li>2016 ~ CUBRID 기술본부 상무이사 근무 / 큐브리드</li>
                        </ul>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                11:10 - 12:00 (50분)
                            </dd>
                        </dl>
                        {#<dl class="dl-horizontal">
                        <dt>발표 자료</dt>
                        <dd>
                            <a href="https://github.com/kosslab-kr/kosscon2016/raw/master/assets/keynote-1.pdf">다운로드</a>
                        </dd>
                    </dl>#}
                    </div>
                </div>
            </div>
        </div>
        {#
        <div class="row go-reservation">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                <p class="lead">좌석이 한정되어 있으므로 기조연설 참관을 원하시는 분은 지금 사전 등록하시기 바랍니다.</p>
                <p class="link">
                    <a href="/reservation"><span class="register">사전 등록하기<i class="glyphicon glyphicon-chevron-right"></i></span></a>
                </p>
            </div>
        </div>
        #}
    </div>

</section>

{% include '../include/footer.html' %}

</body>
</html>