<!DOCTYPE html>
<html lang="ko">
<head>
    {% include '../include/head.html' %}
</head>
<body>

<header id="top" class="header">

    {% include '../include/menu.html' %}

    <section id="page_header" class="page-header">
        <h1>Presentation</h1>
    </section>
</header>

<section id="program" class="program">
    <div class="container">

        <div class="row tutorial" id="1">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 1</span> <br> 레디스 기능의 변화 3.x 부터 최근까지</h2>
                <p class="tag">
                    <span class="label label-info" title="Platform">Platform</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon2017/common/asset/speaker/no-profile.png" alt="강대명">
                <h3>강대명</h3>
                <div>
                    <span class="small">KOSSLAB 4기 파트</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                Redis 4.0에 추가된 내용들에 대한 설명
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2017/raw/master/assets/track1-01.pdf">다운로드</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                13:00 - 13:40 (40분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 파트 4기, 레디스 컨트리뷰터
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="2">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 1</span> <br> ONOS와 SDN 기반 네트워크 가상화</h2>
                <p class="tag">
                    <span class="label label-primary" title="Network">Network</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon2017/common/asset/speaker/no-profile.png" alt="한상윤">
                <h3>한상윤</h3>
                <div>
                    <span class="small">KOSSLAB 4기 파트</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                SDN(Software-Defined Networking) 소개와 ONOS 소개, SDN 기반의 네트워크 가상화 기술에 대한 소개
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2017/raw/master/assets/track1-01.pdf">다운로드</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                13:40 - 14:20 (40분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 파트 4기, ONOS 컨트리뷰터, 경희대학교 연구원, ONOS/Docker Ambassador
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="3">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 1</span> <br> Automotive Open Source Platform Using Yocto Project</h2>
                <p class="tag">
                    <span class="label label-info" title="Platform">Platform</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon2017/common/asset/speaker/no-profile.png" alt="배창혁">
                <h3>배창혁</h3>
                <div>
                    <span class="small">KOSSLAB 4기 파트</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                차량용 오픈소스에 대한 설명
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2017/raw/master/assets/track1-01.pdf">다운로드</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                14:20 - 15:00 (40분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 파트 4기, LG전자
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="4">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 1</span> <br> Contributing to Pandas</h2>
                <p class="tag">
                    <span class="label label-info" title="Platform">Platform</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon2017/common/asset/speaker/no-profile.png" alt="김영근">
                <h3>김영근</h3>
                <div>
                    <span class="small">KOSSLAB 3기 파트</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                Pandas 코드에 기여하는 방법
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2017/raw/master/assets/track1-01.pdf">다운로드</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                15:00 - 15:40 (40분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 파트 3기, Pandas 컨트리뷰터
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="5">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 1</span> <br> TensorFlow Eager mode on Backend.AI</h2>
                <p class="tag">
                    <span class="label label-warning" title="AI">A.I</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon2017/common/asset/speaker/no-profile.png" alt="신정규">
                <h3>신정규</h3>
                <div>
                    <span class="small">KOSSLAB 4기 파트</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                2017년 말에 공식 지원 예정인 TensorFlow 의 Eager mode 를 nightly build를 기준으로 설명하고, 오픈소스 백엔드인 Backend.AI에서 테스트하는 법에 대해 알아봅니다.
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2017/raw/master/assets/track1-01.pdf">다운로드</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                15:40 - 16:20 (40분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 파트 4기. Google Developers Experts (머신러닝 분야) (2017~). Lablup Inc. 대표
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="6">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 1</span> <br> Apache Zeppelin의 Pluggability</h2>
                <p class="tag">
                    <span class="label label-success" title="BigData">BigData</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon2017/common/asset/speaker/no-profile.png" alt="이종열">
                <h3>이종열</h3>
                <div>
                    <span class="small">KOSSLAB 4기 파트</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                Apache Zeppelin의 Pluggability
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2017/raw/master/assets/track1-01.pdf">다운로드</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                16:20 - 17:00 (40분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 파트 4기, Apache Committer/PMC
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="7">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 2</span> <br> Hello, Gstreamer</h2>
                <p class="tag">
                    <span class="label label-danger" title="Application">Application</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon2017/common/asset/speaker/no-profile.png" alt="김정석">
                <h3>김정석</h3>
                <div>
                    <span class="small">KOSSLAB 4기 파트</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                Gstreamer 소개 및 기술 동향
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2017/raw/master/assets/track1-01.pdf">다운로드</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                13:00 - 13:40 (40분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 파트 4기, Collabora Ltd.
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="8">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 2</span> <br> 국립국어원 오픈소스 사전 정보 소개 및 활용</h2>
                <p class="tag">
                    <span class="label label-warning" title="AI">A.I</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon2017/common/asset/speaker/no-profile.png" alt="류창우">
                <h3>류창우</h3>
                <div>
                    <span class="small">KOSSLAB 4기 전담</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                2016년 10월 국립국어원에서 표준국어대사전을 기반으로 한 "우리말샘" 및 "한국어기초사전" 사이트를 열었고 사전 데이터를 CC BY-SA 라이선스로 공개해서 다른 오픈소스에 여러가지로 활용할 수 있는 길이 열렸습니다. 이 사전 데이터에 어떤 정보가 들어있는지 소개하고, kosslab 프로젝트인 hunspell 한국어 맞춤법검사 사전에 활용한 사례를 소개합니다.
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2017/raw/master/assets/track1-01.pdf">다운로드</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                13:40 - 14:20 (40분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 전담 4기, Debian developer (1998-), GNOME 한국어 L10N coordinator (1998-)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="9">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 2</span> <br> Mesa Overview</h2>
                <p class="tag">
                    <span class="label label-danger" title="Application">Application</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon2017/common/asset/speaker/no-profile.png" alt="문관경">
                <h3>문관경</h3>
                <div>
                    <span class="small">KOSSLAB 4기 파트</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                Mesa Project에 대해서 간단한 Overview를 설명하고,
                                Linux System 에서 Mesa GPU Driver가 어떻게 동작하는지 전체적인 흐름에 대해서 기본적인 내용을 설명합니다.
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2017/raw/master/assets/track1-01.pdf">다운로드</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                14:20 - 15:00 (40분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 파트 4기, 삼성전자
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="10">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 2</span> <br> Toyshark 오픈소스프로젝트의 Java에서 Kotlin으로 넘어가기</h2>
                <p class="tag">
                    <span class="label label-danger" title="Application">Application</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon2017/common/asset/speaker/no-profile.png" alt="이창환">
                <h3>이창환</h3>
                <div>
                    <span class="small">KOSSLAB 3기 전담</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                Java 언어로 작성된 Toyshark프로젝트를 올해 구글이 안드로이드 공식 개발 언어로 추가한 Kotlin으로 변경하면서 경험한 내용들을 공유하려고 합니다.
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2017/raw/master/assets/track1-01.pdf">다운로드</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                15:00 - 15:40 (40분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 전담 3기, SK텔레콤, LG전자에서 무선 망 및 단말의 네트워크 통신 관련 개발 및 분석 경험 다수
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="11">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 2</span> <br> MySQL vs PostgreSQL in-depth comparison</h2>
                <p class="tag">
                    <span class="label label-info" title="Platform">Platform</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon2017/common/asset/speaker/no-profile.png" alt="허광남">
                <h3>이형채</h3>
                <div>
                    <span class="small">오픈프론티어 2기 전담</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                MySQL vs PostgreSQL in-depth comparison
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2017/raw/master/assets/track1-01.pdf">다운로드</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                15:40 - 16:20 (40분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 2기 전담
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="12">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 2</span> <br> Chromium에서의 웹 접근성</h2>
                <p class="tag">
                    <span class="label label-info" title="Platform">Platform</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail img-circle profile-image" src="/kosscon2017/common/asset/speaker/no-profile.png" alt="김동준">
                <h3>김동준</h3>
                <div>
                    <span class="small">KOSSLAB 4기 파트</span><br>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>발표 내용</dt>
                            <dd>
                                웹접근성(Web Accessibility) 소개와 Chromium 에서의 웹접근성 구현 방법 및 향후 기술 방향
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2017/raw/master/assets/track1-01.pdf">다운로드</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                16:20 - 17:00 (40분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 파트 4기, 삼성전자, Chromium contributor (2014~)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        {#
        <div class="row go-reservation">
            <div class="col-lg-6 col-lg-offset-4 col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-9 col-xs-offset-1">
                <p class="lead">좌석이 한정되어 있으므로 튜토리얼에 참여를 원하시는 분은 지금 사전 등록하시기 바랍니다.</p>
                <p class="link">
                    <a href="/reservation"><span class="register">사전 등록하기<i class="glyphicon glyphicon-chevron-right"></i></span></a>
                </p>
            </div>
        </div>
        #}
    </div>
</section>

{% include '../include/footer.html' %}

</body>
</html>