<!DOCTYPE html>
<html lang="ko">
<head>
    {% include '../include/head.html' %}
</head>
<body>

<header id="top" class="header">

    {% include '../include/menu.html' %}

    <section id="page_header" class="page-header">
        <h1>Tutorial</h1>
    </section>
</header>

<section id="program" class="program">
    <div class="container">

        <div class="row tutorial" id="1">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 4</span> <br> Cocos Creator로 당신의 첫 번째 게임을 만들어보세요</h2>
                <p class="tag">
                    <span class="label label-success" title="Application">Application</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail profile-image" src="/kosscon2017/common/asset/speaker/tutorial-1.jpg" alt="박현천">
                <h3>박현천</h3>
                <div>
                    <span class="small">KOSSLAB 4 기 전담</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>튜토리얼 <br> 내용</dt>
                            <dd>
                                오픈소스 크로스플랫폼 게임엔진인 Cocos2d-x 기반의 통합 에디터인 코코스 크리에이터를 이용하여 함께 게임을 만들어보는 과정을 경험해보려고 합니다. 계속 점프를 뛰며 가속도가 붙는 몬스터 캐릭터를 조작하여 화면 상에 나타나는 별을 모으는 간단한 캐주얼 게임을 만들어볼 예정으로 리소스 준비부터 씬 편집과 스크립트 작성까지 단계별로 모든 과정을 함께 진행합니다. 사용언어는 Javascript이며 프로그래밍 초심자도 크게 어렵지 않게 따라오실 수 있으실 정도의 수준이며 노트북에 미리 코코스 크리에이터를 설치해서 오셨으면 좋겠네요.
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2017/raw/master/assets/track4-01.pdf">다운로드</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                13:00 - 15:00 (120분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>준비사항</dt>
                            <dd>
                                노트북<br>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 전담 4기, Cocos2d-x 컨트리뷰터
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="2">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 4</span> <br> React Native로 네이티브 어플리케이션 제작하기(With Expo)</h2>
                <p class="tag">
                    <span class="label label-success" title="Application">Application</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail profile-image" src="/kosscon2017/common/asset/speaker/tutorial-2.jpg" alt="강명구">
                <h3>강명구</h3>
                <div>
                    <span class="small">KOSSLAB 4 기 전담</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>튜토리얼 <br> 내용</dt>
                            <dd>
                                리엑트 네이티브를 사용하여 Javascript로 iOS, Android 네이티브 어플리케이션을 만들어 보는 과정입니다. 외부 API를 이용해 코인 시세를 읽어와 데이터를 가공하여 보여줄 것입니다. javascript es6, npm 사용에 대한 기본적인 지식이 필요하고 준비 사항으로는 Expo를 사용하여 프로젝트를 생성하고 시뮬레이터 상에 `Hello World`를 출력해보는 과정을 진행해보시고 오면 됩니다. 이번 튜토리얼에 사용할 github repository를 참조하세요. (https://github.com/JeffGuKang/ReactNative-Tutorial)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2017/raw/master/assets/track4-01.pdf">다운로드</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                15:00 - 17:00 (120분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>준비사항</dt>
                            <dd>
                                노트북<br>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 전담 3기, SwiftyJSON 컨트리뷰터, Mobile 인디개발자
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="3">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 4</span> <br> Dialogflow를 사용하여 간단한 Chat bot 만들기</h2>
                <p class="tag">
                    <span class="label label-warning" title="AI">Machine Learning</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail profile-image" src="/kosscon2017/common/asset/speaker/tutorial-3.jpg" alt="채지은">
                <h3>채지은</h3>
                <div>
                    <span class="small">KOSSLAB 4 기 전담</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>튜토리얼 <br> 내용</dt>
                            <dd>
                                Dialogflow를 사용하여 간단한 Chat bot 만들기
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2017/raw/master/assets/track4-01.pdf">다운로드</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                13:00 - 15:00 (120분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>준비사항</dt>
                            <dd>
                                노트북<br>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 전담 4기, 네이버 검색 서비스 개발, 삼성전자 스마트티비 대화 서비스 개발
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tutorial" id="4">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                <h2><span class="small">Track 4</span> <br> Backend.AI로 시작하는 인공지능 실습</h2>
                <p class="tag">
                    <span class="label label-warning" title="AI">A.I</span>
                </p>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 profile">
                <img class="img-responsive img-thumbnail profile-image" src="/kosscon2017/common/asset/speaker/tutorial-4-1.jpg" alt="김준기">
                <img class="img-responsive img-thumbnail profile-image" src="/kosscon2017/common/asset/speaker/tutorial-4-2.jpg" alt="조만석">
                <h3>김준기 조만석</h3>
                <div>
                    <span class="small">KOSSLAB 4 기 파트</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>튜토리얼 <br> 내용</dt>
                            <dd>
                                기계학습에 필요한 서버 관리에 대한 고민을 해결해주는 오픈소스 머신러닝 개발환경 프레임워크인 Backend.AI를 이용한 기계학습 튜토리얼입니다. 본인이 선호하는 에디터 및 IDE 환경을 그대로 사용하면서 클라우드의 강력한 GPU를 직접 활용할 수 있습니다.
                                <br>
                                Backend.AI에 대해 소개하고, 실습자별로 직접 API key를 발급받아 Fashion MNIST와 Neural Style Transfer 알고리즘을 구현 및 실험해보려고 합니다.
                                <br>
                                진행방식: 실습 중심 튜토리얼
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>발표 자료</dt>
                            <dd>
                                <a href="https://github.com/kosslab-kr/kosscon2017/raw/master/assets/track4-01.pdf">다운로드</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>일정</dt>
                            <dd>
                                15:00 - 17:00 (120분)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>준비사항</dt>
                            <dd>
                                * 참석자는 각자 개별 노트북 지참 <br>
                                * 실습에 필요한 소프트웨어는 미리 다운로드 및 설치 - VS Code, Atom, Jupyter 환경 중 택1
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>강사 소개</dt>
                            <dd>
                                오픈프론티어 파트 4기, Lablup Inc. CTO
                                <br>오픈프론티어 전담 2기, Lablup Inc.
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        {#
        <div class="row go-reservation">
            <div class="col-lg-6 col-lg-offset-4 col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-9 col-xs-offset-1">
                <p class="lead">좌석이 한정되어 있으므로 튜토리얼에 참여를 원하시는 분은 지금 사전 등록하시기 바랍니다.</p>
                <p class="link">
                    <a href="/reservation"><span class="register">사전 등록하기<i class="glyphicon glyphicon-chevron-right"></i></span></a>
                </p>
            </div>
        </div>
        #}
    </div>
</section>

{% include '../include/footer.html' %}

</body>
</html>